[2016-10-18 09:13] FezVrasta opened #1 "Delegate to React the DOM manipulation"
Right now seems like you are letting Popper use the `applyStyle` modifier to directly edit the DOM and apply the needed styles.

I think it would be much better to disable `applyStyle` and use React to update the DOM.

Here there's an example:
https://gist.github.com/FezVrasta/6533adf4358a6927b48f7478706a5f23

[2016-10-18 15:53] souporserious commented on #1
I looked into this and then realized we are already touching the DOM by creating a node to stick the Popper in https://github.com/souporserious/react-popper/blob/master/src/PopperManager.jsx#L65-L71 so I figured we didn't need to worry about it. Maybe I'm wrong in that thinking. Thoughts?

[2016-10-18 16:07] FezVrasta commented on #1
It would be less code that is touched directly. I think everything should be managed by React when possible. In this way it can make its optimizations.

[2016-12-17 07:13] FezVrasta opened #2 "PropTypes can be extracted from Popper.js now"
https://github.com/FezVrasta/popper.js/issues/94

[2016-12-30 17:38] FezVrasta commented on #1
This is how the Popper should be initialized:

[code]

And this is the modifier that extracts the position:

[code]

[2016-12-30 22:49] #2 closed

[2017-01-17 04:02] victorias commented on #1
I started my own fork based on your example code where React manages the popper instance directly and just references Popper's configs here: https://github.com/victorias/react-popperjs . Would love some feedback!

[2017-02-24 19:12] souporserious commented on #1
Styles now applied through React 🎉

[2017-02-24 19:12] #1 closed

[2017-03-02 01:54] craigsketchley opened #4 "Error running basic example..."
Hey. Sorry if I'm missing something obvious, but any idea why I might be getting the following error?

[code]

My `PopperExample` is basically a copy of the example code...

[code]

[2017-03-02 01:55] craigsketchley opened #5 "react-aria version doesn't exist"
Hey, when I run `npm install` I'm getting: `No compatible version found: react-aria@'>=0.3.0 <0.4.0'`

[2017-03-02 10:51] amok commented on #4
+1
seems like current master is not published to npm
and we install https://github.com/souporserious/react-popper/tree/0.0.1

[2017-03-02 17:12] souporserious commented on #4
Apologies! I'll work on getting the build published today. I wanted to finalize a couple of things before then. Sorry about that, I wasn't sure anyone was using this yet 💩

[2017-03-02 22:13] souporserious commented on #4
Latest release is out 🎉 enjoy! Please let me know if you find any other issues.

[2017-03-02 22:13] #4 closed

[2017-03-02 22:17] souporserious commented on #5
Sorry about that! It has been removed.

[2017-03-02 22:17] #5 closed

[2017-03-15 15:17] FezVrasta opened #7 "Custom component on Target makes Popper invisible"
[code]

This renders a Popper element with `opacity: 0`.

Am I doing something wrong?

[2017-03-15 15:22] FezVrasta commented on #7
So, reading the source code looks like `component` can only be one of the existing HTML tags managed by React...

It would be very useful if we could define custom components.

[2017-03-15 19:56] souporserious commented on #7
Fixed https://github.com/souporserious/react-popper/commit/aa47f287eb9cf9f59d67df9d5c42eca771402f9b 🎉  I was using functional components so it wasn't finding the DOM node properly 😕

[2017-03-15 19:56] #7 closed

[2017-04-12 17:40] FezVrasta opened #8 "Update PropTypes"
To import them from `'prop-types'` instead of React.

[2017-04-22 13:25] FezVrasta opened #10 "updateState modifier should return `data`"
https://github.com/souporserious/react-popper/blob/master/src/Popper.jsx#L67-L77

This modifier should return `data` to allow custom modifiers to run after it.

[2017-04-25 04:33] #8 closed

[2017-04-25 04:33] #10 closed

[2017-04-25 18:04] chrisdrackett opened #12 "null is not an object (reference.jquery)"
I'm getting the following after updating to `0.5.0`:

`TypeError: null is not an object (evaluating 'reference.jquery')`

seems to be coming from here, unless something else is going on: https://github.com/FezVrasta/popper.js/blob/master/src/popper/index.js#L120

[2017-04-25 18:08] chrisdrackett opened #13 "regression when using animation from 0.4.3"
I was using the following code in 0.4.3 without any issues:

[code]

I rewrote this code after updating to 0.5.0:

[code]

I'm sure there is a possibility I'm doing something wrong and I'll keep hacking on it, but I figured it was worth raising!

[2017-04-25 18:09] FezVrasta commented on #13
I liked more the old `component=` API 😞 (sorry for the OT)

[2017-04-25 18:14] chrisdrackett commented on #12
looks like this might be an issue on my end, I was using the following code:

[code]

but `Button` is a functional component, so won't work with refs

[2017-04-25 18:44] souporserious commented on #13
Sorry about the API changes, I think it's finally in a stable spot now. Next release _should_ be 1.0.0.

@FezVrasta I knew you weren't going to like the change! haha. I think this way will be better in the long run since it's more explicit with what's going on.

@chrisdrackett what isn't working? If you use just use a `Popper` normally without a child function does everything work?

I'm _guessing_

[2017-04-25 18:50] souporserious commented on #13
I think I know what it is! Right now, [no props get passed through](https://github.com/souporserious/react-popper/blob/master/src/Popper.jsx#L185) when using a child function so they [get lost in the Popper component. I'll try and get this fixed ASAP. Thanks for filing an issue!

Thoughts on what it should look like?

Thinking something like:

[code]

[2017-04-25 18:58] FezVrasta commented on #13
Why do we need to pass a function down as children? Wouldn't a component work the same?

[2017-04-25 20:00] souporserious commented on #13
Not always 😕  because we need access to the DOM node, we can't pass a ref down reliably since it could point to a component's class instance if it doesn't return an element. This is the reasoning for a child function, this way you can thread the ref down however you need to.

[2017-04-25 20:16] chrisdrackett opened #14 "miss being able to set a custom component"
using a function is nice, but because of the ref I need to make sure the child component is not a functional component, which at times means I need to have an extra node in the dom that may or may not mess with styling, etc.

[2017-04-25 20:29] chrisdrackett commented on #13
honestly I also miss just being able to use `component=` for this and other issues, but I understand trying to get away from `findDOMNode`. I'll need to think about how to use this with my mostly functional presentational components. Before they all just worked, but now I'll need to wrap them in something or similar, which will effect my styling.

I think either of the above would work. I personal

[2017-04-25 20:45] souporserious commented on #13
I feel you on it, I really liked `component` as well since it was much more simple. But, I guess simple doesn't always mean other things will be simple 😅

I think I'm going to go with just `popperProps`. It will merge whatever components props are above it so users should still be able to add styles just fine since you can do something like the following..

[code]

[2017-04-25 20:46] chrisdrackett opened #15 "recalculate size of `Popper` when its contents change?"
I just noticed that if I use the following code:

[code]

There are issues with the placement of the popper content. I'm guessing this is because the popper is being measured when it has no contents. In the simple case this is easy to fix by moving the conditional outside of the popper.

That being said, I did some more digging and found that if the contents of the `Popper` component change its si

[2017-04-25 20:47] souporserious commented on #15
Just noticed that as well! Beat me to it before I could fix it 😆  working on fixing this for the next release.

[2017-04-25 20:49] souporserious commented on #14
Can you provide an example? I don't like unnecessary DOM nodes, so I'd like to try and fix this :)

[2017-04-25 20:51] souporserious commented on #12
Your code should work fine. I probably need to do some checks on my side in case the ref returns null like when the component unmounts. I'll look into it.

[2017-04-25 20:52] chrisdrackett commented on #12
its ok, happy to help out :)

[2017-04-25 20:53] FezVrasta commented on #14
What's wrong with the method I have you on Twitter? It didn't need any additional wrapper

[2017-04-25 21:13] chrisdrackett opened #16 "Issue when popper overflows viewport"
I'm not sure if this is a popper issue or a react-popper issue, so I'll report here now as I keep digging.

I have a popper with a fixed size (width and height). When I open it (placement=bottom) in a window where there is room, I don't have any issues, its placed correctly.

https://cl.ly/1w0m2T1P1j3u

If I think resize the window to the point that the popper no longer fits, things get odd. Basic

[2017-04-25 21:20] chrisdrackett commented on #14
so for example I need to let `Target` render a `div` *or* I need make sure the component within a popper is a Class Component. I do a lot of layout with flexbox, so having a non-flex `div` in the middle of things can potentially cause issues.

In `0.4.3` I was able to do the following:

[code]

[2017-04-25 21:34] souporserious commented on #14
Still confused on how another DOM node is created? Does the ref from a child function not work here?

[2017-04-25 21:36] chrisdrackett commented on #14
all my potential child components are functional and you can't use refs with functional components.

https://facebook.github.io/react/docs/refs-and-the-dom.html#refs-and-functional-components

That being said, maybe I could look into making my own wrapper component that can consume the ref without adding a dom node...

[2017-04-25 22:25] souporserious commented on #14
As long as the functional component returns an element and it gets the ref passed to it, it will work fine. Maybe the update I'm working on will solve this since it will group the ref into the props now rather than having the `popperRef`.

[2017-04-25 22:40] chrisdrackett commented on #14
I'm just saying because my `Button` component is functional (for example) it can't consume a ref:

[code]

so I can't use it within popper without first wrapping it in a Class based component. (or just letting `Popper` create a div)

[2017-04-25 22:55] souporserious commented on #13
@FezVrasta can I have a transform above a Popper?

Something like this will not reposition the Popper anymore, it just stays where it originally was.

![image](https://cloud.githubusercontent.com/assets/2762082/25411059/4cf1c9ac-29cf-11e7-8f4c-34e7505c97f0.png)

I'm running into issues trying to get animations working 😩  I think we need to explicitly pass all the props down since in a case like th

[2017-04-25 22:59] souporserious commented on #13
@chrisdrackett so I finally got animations working with a Popper using React Motion UI Pack. It looks like the following..

[code]

[2017-04-25 23:07] chrisdrackett commented on #13
I guess that in that case you can just use Popper without using the functional child, correct?

[2017-04-25 23:35] souporserious commented on #13
Yes, this is exactly what I do at my work. I use a Popper as the outer element and just let that care about positioning. Then the inner element can be whatever user defined component.

If you're doing something like that, then you shouldn't even need a child function, that's best used for gluing the `Popper` component to another component. Or in the case of `VelocityTransitionGroup` and `Transitio

[2017-04-25 23:41] chrisdrackett commented on #13
I'll play with it more when you push your work. I have a couple ideas, but they are hard to test at the moment :D

[2017-04-25 23:43] chrisdrackett commented on #16
FYI this seems to be related to `preventOverflow`. I need to get more familiar with `Popper.js` itself before I completely understand what is going on, but I am still surprised that when I give the room back, the component does not snap back into its "correct" position.

[2017-04-26 00:11] souporserious commented on #14
Ahh I see. If you are the creator of the button you could give access to the ref by doing something like:

[code]

Going to close this since we can't bring component back 💀  but please let me know if you have any other questions regarding this thread.

[2017-04-26 00:11] #14 closed

[2017-04-26 00:47] souporserious commented on #12
Realized this probably a good error to have. Tried adding a warning, but since React will return null when the component is unmounted it didn't make sense and would show randomly.

[2017-04-26 00:47] #12 closed

[2017-04-26 00:58] souporserious commented on #16
@FezVrasta any idea on what's going on here?

[2017-04-26 01:01] souporserious commented on #15
Fixed https://github.com/souporserious/react-popper/commit/2109ac0aa4210eafc668b3abe8d6e7a9ac2b2ada 🎉

[2017-04-26 01:01] #15 closed

[2017-04-26 01:02] souporserious commented on #13
Should be good to go now with the latest release https://github.com/souporserious/react-popper/commit/2109ac0aa4210eafc668b3abe8d6e7a9ac2b2ada 🎉  feel free to reopen or file any new issues you find 😅  thanks for working through it with me!

[2017-04-26 01:02] #13 closed

[2017-04-26 01:19] chrisdrackett commented on #14
Ooh, how did I not think of this! This solves all sorts of problems! 🎊

[2017-04-26 04:54] souporserious commented on #16
This just started happening to me 😕 `position: absolute` gets removed randomly, not sure what is causing it.

[2017-04-26 05:46] FezVrasta commented on #16
Do you define the position manually or take what Popper provides?

[2017-04-26 05:54] souporserious commented on #16
Yeah, it happens if I use `placement="bottom"`. Right when it starts to go out of the viewport, `position: absolute` gets removed.

[2017-04-26 06:12] FezVrasta commented on #16
I wasn't clear, I wondered if the position was defined by react-popper or by Popper.js directly.
https://github.com/souporserious/react-popper/blob/master/src/Popper.jsx#L146

Seems like it's on Popper.js side. May you open a ticket there pls?

[2017-04-27 11:15] FezVrasta commented on #16
It should be fixed in 1.9.1

[2017-04-27 12:29] FezVrasta opened #17 "Allow to pass as Target an object."
This would rely on:
https://popper.js.org/popper-documentation.html#referenceObject

[2017-04-27 18:25] souporserious commented on #17
What would this look like? `<Target reference={{...}}/>`?

[2017-04-27 19:18] FezVrasta commented on #17
Up to you, I have no idea 😝

[2017-04-27 19:23] souporserious commented on #17
I guess I'm not sure how it would work? Like what would a use case be for this? Maybe the child function gives you `clientWidth` and `clientHeight`, etc.

[2017-04-27 19:39] FezVrasta commented on #17
Possible use cases are:
- pop a popper on the mouse position
- pop a popper relative to a custom area (for instance, some guys used this to make a tooltip appear near a text selection)

[2017-04-28 05:12] souporserious commented on #17
Interesting.. so what parts need to care about this? Is this something both Target and Popper would use? Or just Popper? Trying to figure out where this fits best.

[2017-04-28 06:53] FezVrasta commented on #17
The idea is to not have a target dom node at all, the popper will be the only dom node

[2017-04-28 10:02] FezVrasta commented on #17
Maybe:

[code]

[2017-04-29 13:28] FezVrasta opened #18 "Alternative way to handle stateless components ref"
So, I recently updated one of my React utilities and I ended up needing to support the same case you struggled on.

The solution I reached is to ask for the custom component assigned to the `component` property to have a `getRef` property. It works very well and doesn't require `findDOMNode`.

https://github.com/FezVrasta/react-resize-aware/tree/master#self-containing

You may use a method like th

[2017-05-02 00:20] chrisdrackett opened #19 "z-index?"
My poppers are often showing up under other elements on the page. I'm trying to figure out a way to add a z-index to the popper, but figured it was worth asking here in case others have already solved this issue

[2017-05-02 12:54] FezVrasta commented on #19
`z-index` is a sensitive problem and must be handled properly case by case.

That's why Popper.js doesn't set any `z-index` by default.

You should really end up with the best solution for you and manually set them I think.

[2017-05-02 17:55] #19 closed

[2017-05-02 20:42] souporserious commented on #19
@chrisdrackett this was the exact reason for making everything compose-able :) you can add an inline style, classname or whatever you want.

I take an approach like this for any personal settings I want for components:
[code]

[2017-05-03 20:31] davekiss opened #20 "modifier.function is deprecated, use modifier.fn"
I kept receiving this error in my console, I think it's due to this line:

https://github.com/souporserious/react-popper/blob/2109ac0aa4210eafc668b3abe8d6e7a9ac2b2ada/src/Popper.jsx#L76

Simply changed that to fn and error went away. Can you reproduce?

[2017-05-03 22:03] holman commented on #20
Yeah, I'm getting it too; it's because of FezVrasta/popper.js#225.

[2017-05-04 12:13] FezVrasta commented on #20
Actually it's a warning, not an error 🤓

By the way, yes, that's it. One of you could send a PR to update it.

[2017-05-04 12:49] davekiss commented on #20
Sassy. I like it. PR submitted

[2017-05-10 16:17] larrydahooster commented on #16
I am facing the same issue with missing 'position: absolute' after a flip event.

I dig deeper into the code and found the problem that causes the missing 'position' attribute. I am not sure if this is the right repository to address the issue cause it references to popper.js itself https://github.com/FezVrasta/popper.js/blob/v1.9.1/src/popper/modifiers/flip.js#L119

![screen shot 2017-05-10 at 18

[2017-05-10 16:26] FezVrasta commented on #16
The bug was fixed on Popper.js side a while ago
https://github.com/FezVrasta/popper.js/commit/5e8529cc5d796d6607c86f3b7689e448fb3e1bed (1.9.1)

[2017-05-10 16:51] larrydahooster commented on #16
Thx for your quick reply, I still do see a bug in the flip modifier cause it tries to access `data.instance.state.postion` on the data parameter that you just manipulated before `data.offsets.popper.position = 'absolute'; `

So wouldn't it be correct to also read the position from data.offsets.popper.position?

[2017-05-10 16:52] FezVrasta commented on #16
Popper.js now doesn't use anything different from `absolute` anymore, the code could use some cleanup.

[2017-05-10 17:02] larrydahooster commented on #16
Okay, thx for your input. I just monkeyPatched it for me to work. Maybe I find some time to contribute a cleanup on popper.js

[2017-05-10 17:04] FezVrasta commented on #16
I'm on it.

[2017-05-10 17:10] souporserious commented on #16
Sorry about that! I've been super busy. I'll try and give this some TLC today and get the outstanding issues on my side resolved.

[2017-05-10 17:14] FezVrasta commented on #16
@larrydahooster this https://github.com/FezVrasta/popper.js/commit/ae06fabbc1d2f9e386f54a6333a3d2d1c3fe8cd4 should avoid any unwanted side effect. Waiting for the CI to pass and I'll publish a patch version.

[2017-05-10 17:24] FezVrasta commented on #16
1.9.2 is out, please let me know if it helps

[2017-05-10 17:29] larrydahooster commented on #16
Thx for your quick fix. I can't test it now since I left the office. Gonna check it tomorrow morning. Tanks again, I really appreciate it. Nice Framework.

[2017-05-10 18:12] souporserious commented on #18
I'd like to keep it the way it is since it is more clear the path you need to take. Trying to keep the API as simple as I can. By letting you access things in the child function you could essentially build your own wrapper if this is a necessity (not tested):

[code]

[2017-05-10 18:12] #18 closed

[2017-05-10 18:59] FezVrasta commented on #20
This should be closed since #22 has been merged

[2017-05-10 19:03] souporserious commented on #20
Was going to wait until I released it on NPM :)

[2017-05-10 19:10] souporserious commented on #16
@FezVrasta is it possible you can pull master and run the demo? It looks like this issue is happening all of the time now after upgrading Popper.js 😞

[2017-05-10 19:16] FezVrasta commented on #16
I can take a look tomorrow, I'm sorry :(

[2017-05-14 19:09] nicmyers commented on #20
@souporserious Was there a plan to push out a new release to NPM?

[2017-05-17 16:22] souporserious commented on #16
Any chance to look at this @FezVrasta? I'd like to hold off on a new release until we can determine what is going on here.

[2017-05-21 00:30] souporserious commented on #16
@FezVrasta forcing `position: absolute` seems to fix everything, when would it not be `absolute`?

[2017-05-21 03:41] souporserious commented on #20
Sorry, pushed https://github.com/souporserious/react-popper/commit/0115651a04b27dcb80a7398f4e75f13f5a2eaf59

[2017-05-21 03:41] #20 closed

[2017-05-21 10:18] FezVrasta commented on #16
At the moment it will always be `absolute`, but in the future I may want to apply optimizations that will require a different `position`.

I fixed the problem on 1.9.5

[2017-05-22 03:56] souporserious commented on #16
Thanks! Seems to be working great. Going to close this, thanks again 🎉

[2017-05-22 03:56] #16 closed

[2017-06-13 12:12] jkarsrud opened #24 "Usage with VelocityTransitionGroup"
Hi there,

As [mentioned on Twitter](https://twitter.com/beyondsanity/status/874247499543961600), I'm having some issues using `VelocityTransitionGroup` with `react-popper`. When first animating the popper in, the positioning is wrong. To fix it, you need to cause a re-render, either through resizing the window, or similar things that will schedule an update.

I have made [a small reproduction rep

[2017-06-13 14:57] SpencerCDixon opened #25 "jquery null ref"
I'm probably missing something fairly obvious here... but I'm trying to make a tooltip style popper and I keep getting some jquery error:
![screen shot 2017-06-13 at 10 57 20 am](https://user-images.githubusercontent.com/7471018/27088967-1ca2d0e2-5027-11e7-996c-b430d195a617.png)

Component code:

[code]

Any thoughts?

[2017-06-13 15:24] FezVrasta commented on #25
Seems like react-popper can't get your target element, I think you should assign `targetProps.ref` to a property of your InfoIcon component that proxies the `ref` of its internal element.

[2017-06-13 15:57] SpencerCDixon commented on #25
ahhh yes, so it looks like because InfoIcon was a functional stateless comp it wasn't working.  I added a span around it and tied the targetProps to that and it seems to work now, thanks for the direction!

[2017-06-13 15:57] #25 closed

[2017-06-20 14:32] mikkelwf opened #27 "bump to version 1.10.2"
Hey..

Can you update to version 1.10.2.
It solves an issue i reported, so an update is much appreciated... :)

[2017-06-20 15:31] FezVrasta commented on #27
The package doesn't lock to a specific version of Popper.js, you can upgrade the dependencies and get the latest.

https://github.com/souporserious/react-popper/blob/master/package.json#L43

[2017-06-20 18:27] mikkelwf commented on #27
thanks.. i'll give it a try..

[2017-06-20 18:27] #27 closed

[2017-06-20 19:58] souporserious opened #28 "Add helpful warnings"
Better dev experiences help when coding. I love what React Router does [here](https://github.com/ReactTraining/react-router/blob/master/packages/react-router/modules/Route.js#L64-L77). Let's copy that :)

[2017-06-20 19:59] souporserious opened #29 "Add tests"
I'd like to use Jest. Don't have time right now to set this help. Any help setting this up is greatly appreciated :)

[2017-06-26 17:18] tohjustin opened #30 "Popper component not positioned to target component correctly (in multiple manager instances)"
**Steps to reproduce:**
1. Modify the `<App />` component in [/example/index.jsx](https://github.com/souporserious/react-popper/blob/master/example/index.jsx)
[code]
2. Popper rendered in incorrect position, not directly above the <Target /> component (purple box)
<img width="317" alt="screenshot" src="https://user-images.githubusercontent.com/8844886/27551511-901a3f02-5a58-11e7-91ee-1ec9e52b6e62.

[2017-06-26 17:43] FezVrasta commented on #30
Are you able to reproduce the problem with just Popper.js? I don't think this problem is directly related to `react-popper`.

[2017-06-26 17:58] tohjustin commented on #30
@FezVrasta Thanks for the quick follow up! Will try to reproduce it w/ Popper.js & post a jsFiddle example when I get back home tonight...

[2017-06-26 20:47] souporserious commented on #30
Following this. Please let me know anything you need on my end. Unfortunately busy right now, but I'll help push anything through where I can.

[2017-06-26 21:22] tohjustin commented on #30
@souporserious Thanks for responding! Haven't got the chance to confirm the cause of this behavior, will keep you guys updated =)

[2017-06-27 05:17] tohjustin commented on #30
@souporserious @FezVrasta Here's an attempt to reproduce the same thing in vanilla javascript... https://jsfiddle.net/tohjustin/fqjbsu5L/

[2017-06-27 09:15] FezVrasta commented on #30
Am I missing something or is it working?

[2017-06-27 17:22] tohjustin commented on #30
It looks okay when you zoom out:
<img width="1279" alt="works if you zoom out" src="https://user-images.githubusercontent.com/8844886/27599886-02b668c6-5b1f-11e7-8bf6-90a9dd7b6e19.png">

But when you start zooming in, it gets some weird non-deterministic behavior:
<img width="1279" alt="gets a bit wierd when you zoom in" src="https://user-images.githubusercontent.com/8844886/27599887-02b80b04-5b1f

[2017-06-27 17:25] FezVrasta commented on #30
So does it happen only when you use the zoom?

[2017-06-27 17:46] tohjustin commented on #30
The bug was visible in the default (100%) zoom level, so I tried playing with other zoom levels but it was still there.

The jsFiddle example @ https://jsfiddle.net/tohjustin/fqjbsu5L/ seems to work in **50% zoom** & below, but the calendar example above doesn't work at any zoom levels

[2017-06-27 17:47] FezVrasta commented on #30
I see this on 100% zoom

![image](https://user-images.githubusercontent.com/5382443/27601976-7a9f3c8a-5b71-11e7-8c68-ae36aaa1f03f.png)

[2017-06-27 18:05] tohjustin commented on #30
@FezVrasta Just found out that the weird stuff I'm getting in my jsFiddle example (on my side) was b/c the popper was flushed to a badly styled body element (I think you should be able to get something similar if you resize your window but keep the zoom @ 100%)

![flushing to body element](https://user-images.githubusercontent.com/8844886/27602662-690a648e-5b28-11e7-8012-586fbea6e354.png)

[2017-06-27 18:12] tohjustin commented on #30
Just confirmed that the problem was due to the following style:
[code]

The popper ended up in a weird position b/c it was flushed to the boundary of the `body` element (for the jsFiddle, react-popper example & calendar example)

I guess `react-popper` & `popper.js` were working as intended (will double check on this tonight).

@FezVrasta So sorry for the false alarm =( Really appreciate the time

[2017-06-27 18:13] #30 closed

[2017-06-27 18:39] FezVrasta commented on #30
Cool, actually Popper should use the viewport as constraint (or the document...?).

It seems related to somehow
https://github.com/FezVrasta/popper.js/issues/302

[2017-07-04 12:53] hannehofmann opened #31 "react-popper and react 15.6.1 and react-dom 15.6.1"
warning.js:36 Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: boolean.

react-dom.min.js:15 Uncaught Error: Minified React error #130; visit http://facebook.github.io/react/docs/error-decoder.html?invariant=130&args[]=boolean&args[]= for the full message or use the non-minified dev environment for

[2017-07-04 14:25] FezVrasta commented on #31
without a reproducible example I hardly believe we'll be able to find your problem

[2017-07-05 05:33] hannehofmann commented on #31
Hey FezVrasta,

I have updated react, react-dom and react-addons-test-utils from version 15.3.0 to 15.6.1. In course of that I have replaced the deprecated React.PropTypes with the explicit prop-types package. Afterward I've gotten this error. In Hope to fix it I've upgrade popper.js from 1.8.1 to 1.10.8 aner react-popper from 0.4.3 to 0.7.0.

resulting package.json:

{
  "repository": { ... },

[2017-07-06 10:41] guillaumepotier opened #32 "Uncaught at dispatch TypeError: Cannot read property 'scheduleUpdate' of undefined"
Hi,

I'm facing a console bug with Popper [at that line](https://github.com/souporserious/react-popper/blob/b3e0f32813dac0779f06d569ef456af29551add3/src/Popper.jsx#L57)

Dunno why, and things seems to work smoothly despite that error.

Should not we test `this._popper` before, like done above in the file?

[2017-07-06 13:13] jkarsrud commented on #24
Hi @souporserious! Sorry to ping you like this, but did you get a chance to look into this one?

[2017-07-06 16:27] SpadarShut opened #33 "Popper is not offsetting for arrow size when Arrow is a react component"
So my code looks like this:
[code]

where
[code]
The `MenuArrow` is rendering, but the popper position does not adjust for its size. If I set some widht and height directly on `Arrow`, then it works as expected.

[2017-07-10 15:29] giladgray opened #34 "allow Arrow to offset both left and top"
seems somewhat unnecessary to only support left OR top offset for arrow, but not both: https://github.com/souporserious/react-popper/blob/master/src/Popper.jsx#L155-L159

I'm writing a modifier to dynamically offset the popper on the alternate axis and counter-offset the arrow on the same axis, instead of relying on CSS margins etc, but react-popper actively fights this.

Is it fair to just do the

[2017-07-10 15:31] giladgray opened #35 "include typescript typings"
@souporserious would you be open to including a `.d.ts` file in the NPM package for typescript consumers? i've been writing it locally and would be happy to contribute.

there'd be some additional maintenance cost to keep the definitions updated as the API evolves, but I'll be happy to help out if you mention me in the future!

[2017-07-10 15:37] souporserious commented on #34
Interesting 🤔 I haven't run into this yet. I'm open to adding it if it's needed for modifiers. @FezVrasta do you have an opinion on this?

[2017-07-10 15:38] souporserious commented on #35
Yeah for sure :) I don't know much about typescript, but I'd be happy to accept a PR for it.

[2017-07-10 15:47] giladgray commented on #34
give me the 🍏 and i'll submit a PR 👍

[2017-07-10 15:47] giladgray commented on #35
cool i'll send it up once i'm happy with what i've got!

thanks for speedy replies 😃

[2017-07-10 15:52] giladgray opened #36 "use case for onCreate/onUpdate!"
i have a few cases where i'd like to "react" to some of the Popper data in my parent component (the one that renders `<Popper>`), but i currently have _no way_ to access this data safely. the only current option is to grab a ref to the `Popper` and inspect its `state.data`, but that doesn't feel reliable.

some sort of callback prop that would allow my parent component to receive the new Popper da

[2017-07-10 15:53] FezVrasta commented on #34
react-popper should simply apply any style defined in the styles objects of arrow and popper elements. So yes, I this it would make sense to allow the OP's modifier to work.

Also, please @giladgray, consider to release the modifier on npm, I think it may be useful for others.

If it's not much code we may directly integrate the changes in the existing arrow modifier.

[2017-07-10 15:53] giladgray commented on #34
worth noting that popper.js itself does not make such a distinction: it'll apply any and all styles in `data.offsets.arrow`

https://github.com/FezVrasta/popper.js/blob/c56272aa65bd016bb9a9a2e28b8c63c5b01537fc/packages/popper/src/modifiers/applyStyle.js#L27-L29

[2017-07-10 15:56] giladgray commented on #34
@FezVrasta it'll be a part of Blueprint's `Popover` rewrite and has some use-case-specific logic (we use SVG for the arrow and rotate it 45deg so there's some `sqrt(2)` math involved). hang on tight for that PR!

[2017-07-11 11:48] giladgray commented on #36
@souporserious just thought of a potential alternative: would it make sense to include `data` in the object given to the `children` functions, next to `restProps`?

[2017-07-11 12:12] FezVrasta commented on #36
Isn't a custom modifier enough to read data on each cycle?

[2017-07-11 15:56] giladgray commented on #36
well damn that seemed to work pretty well! i don't know what i was worried about with that approach... adding a modifier that calls `setState` based on `data` works 💯

probably reasonable to close this issue now

[code]

[2017-07-11 15:56] #36 closed

[2017-07-11 15:58] giladgray commented on #34
@FezVrasta there does not seem to be an arrow `styles` object from `computeStyle`... it just outputs one `data.styles` object for the popper itself 🤔

[2017-07-19 18:03] #34 closed

[2017-07-19 18:06] #35 closed

[2017-07-19 18:22] souporserious commented on #34
@giladgray interested in your solution to position the arrow, do you have any sample code you can point to? I'd love to integrate that in my own stuff 😁

[2017-07-19 18:34] souporserious commented on #32
Should be fixed with https://github.com/souporserious/react-popper/pull/38 thank you 🙏

[2017-07-19 18:34] #32 closed

[2017-07-19 18:39] souporserious commented on #31
Unfortunately, there is not enough provided information to help diagnose the problem. Please feel free to reopen this issue if you can provide a Codepen example, or an isolated repo with a reproducible issue. Thank you.

[2017-07-19 18:39] #31 closed

[2017-07-19 18:40] souporserious commented on #33
Is it possible you can create a Codepen or a repo with the issue isolated? @FezVrasta any idea what might be causing this?

[2017-07-19 18:42] FezVrasta commented on #33
Maybe this?
https://github.com/FezVrasta/popper.js/issues/343

[2017-07-19 19:05] SpadarShut commented on #33
Yes, looks like the same issue. But somehow, the Popper gets offset if I use <Arrow style={{height: 10}} />

[2017-07-19 19:40] FezVrasta commented on #33
so weird, if you could be able to reproduce the problem with Popper.js without any React code it would help to understand why this happens.

[2017-07-20 13:32] rvk86 opened #41 "Dynamic positioning arrow incorrect after upgrade to 0.7.1"
After upgrading to 0.7.1 the dynamic positioning of the arrow became incorrect. Depending on the chosen placement, it adds a `top` or `left` attribute to the arrow so it's contained inside the `popper` element. It even happens with the most basic readme example together with the css stylesheet provided by popper itself (https://github.com/FezVrasta/popper.js/blob/master/docs/css/popper.css):

[cod

[2017-07-24 16:02] souporserious commented on #41
@FezVrasta and @giladgray any idea on this? I noted it in the [CHANGELOG](https://github.com/souporserious/react-popper/blob/master/CHANGELOG.md#071), I thought that is how it needed to be with the recent changes to how top/left is applied.

[2017-07-24 16:04] FezVrasta commented on #41
I don't think I get where the problem is. Is it possible to have a working demo?

[2017-07-24 16:47] souporserious commented on #41
I think the problem is that top and left are always applied now, whereas before [it checked if it was available or not](https://github.com/souporserious/react-popper/blob/0.6.6/src/Popper.jsx#L159-L163). So this means that it can be `top: 0` or `left: 0` now, which either requires an `!important` rule to override the style or using margin instead of top/left to position the arrow. Does that make s

[2017-07-24 16:48] FezVrasta commented on #41
Umh yeah it does. It looks like a bug of Popper.js, it should set the value to `false` to actually unset it.

[2017-07-24 17:42] souporserious commented on #41
Ah interesting! I always thought it was weird that it applied it, that's why I had that conditional in there. I'll leave this open until it is fixed in Popper.js. If I get a chance, I'll try and make a PR with a fix if I can find the source of the problem.

[2017-07-24 17:46] FezVrasta commented on #41
Oops sorry, on Popper.js the other side is properly unset... Can it be something about the way how React handles `''` as value? I use an empty string to unset the values.

[2017-07-24 17:57] souporserious commented on #41
Ah I see. From what I remember, `data` comes back with a `0` value for the opposite side, so that's why it gets set. I'll look into it to confirm that's what's happening.

[2017-07-24 17:58] FezVrasta commented on #41
In Popper.js it gets unset:
https://github.com/FezVrasta/popper.js/blob/master/packages/popper/src/modifiers/arrow.js#L76

[2017-07-24 18:13] souporserious commented on #41
Ah 💩 I found it. It's the use of the shorthand to convert to anything to a number `+top` and `+left`, which is turning the empty string to a `0`.

[2017-07-24 18:16] FezVrasta commented on #41
I fucking love JavaScript

[2017-07-24 18:20] souporserious commented on #41
Hahaha right?! I think I've _finally_ really learned not to be clever, even when a language allows it. Fixed in the latest release https://github.com/souporserious/react-popper/commit/ef520ee1213f30d3af3f10c6f5b4a04a888deb73 thanks peeps! 🎉

[2017-07-24 18:20] #41 closed

[2017-07-25 06:18] rvk86 commented on #41
Thanks for jumping into this guys, I can confirm it works now :)

[2017-07-25 08:20] jdalino commented on #29
Hi @souporserious i'd like to help out in setting this up

[2017-07-25 09:03] souporserious commented on #29
That would be amazing! Please let me know anything you need. Feel free to start a PR and we can work through it together if you would like.

[2017-07-26 14:19] FezVrasta opened #42 "Avoid wrapping div if single child is provided"
Take this case in consideration:

[code]

this will generate the following markup:

[code]

In this case tho, we could avoid to generate the top wrapping `div`, because `Manager` is going to render a single child.

I think we could support this case.

[2017-07-26 15:30] souporserious commented on #42
Would passing `<Manager tag={false}/>` work here? You can [read about it in the docs](https://github.com/souporserious/react-popper#tag-proptypesoneoftypeproptypesstring-proptypesbool).

[2017-07-26 15:34] FezVrasta commented on #42
Oh yes exactly lol

[2017-07-26 15:34] #42 closed

[2017-08-04 15:42] jamiewinder opened #47 "Incorrect placement with button target"
I've made a very simple demo:
https://codesandbox.io/s/rR8XggWW2

I intended for the popper to show to the right of the button, but instead it shows over it (it actually seems to be trying to display to the left of it, but is being pushed over).

Am I doing something wrong?

[2017-08-04 15:45] FezVrasta commented on #47
The code does look right, maybe there's something weird in the way CodeSandbox manages the iframe? Considering they use Popper in CodeSandbox itself I find it weird it doesn't work there 😅

[2017-08-04 16:07] jamiewinder commented on #47
Thanks. I'm poking around in the dark as I've just starting porting some code from Tether to Popper (thanks for the library btw!).

I could be way off here, but it looks like the button is being wrapped in a div (by react-tether presumably), and it's trying to place the popper in relation to this div rather than the button? Since a div is block level and fills the width, it won't be able to place

[2017-08-04 16:21] FezVrasta commented on #47
Yeah something like what you say, but I think the problem is that the default tag of "target" is "div" so you get this result.

This fixes it:

https://codesandbox.io/s/JqAWr5jWK

[2017-08-04 16:29] jamiewinder commented on #47
Unfortunately I can't make any assumptions about the target - I'm writing a component which uses the child element (i.e. the result of `React.Children.only(children)`) as the Target.

Is the wrapping necessary at all? If I'm understanding correctly from [the docs](https://github.com/souporserious/react-popper#tag-proptypesoneoftypeproptypesstring-proptypesbool) I'm supposed to be able to disable w

[2017-08-04 17:43] FezVrasta commented on #47
`tag=false` on `Manager` is supposed to be used only in this case:

[code]

The problem you are having is on the wrapper generated by `Target`.

You should provide a custom `component` tag, which can be a string, or a React component. This should cover your case.

[2017-08-09 14:26] rosskevin opened #48 "`yarn dev` doesn't serve examples"
I feel really foolish, but I couldn't figure out why examples wouldn't serve from `yarn dev`.  Everything starts up on `0.0.0.0:3000` yet there is no content.

[code]

With `wget`:

[code]

I'm mystified.  Is it working for you?

[2017-08-09 14:27] rosskevin commented on #48
Ugh - 8080!  I missed it.

[2017-08-09 14:27] #48 closed

[2017-08-12 09:26] dsslimshaddy opened #49 "example not working"
https://www.webpackbin.com/bins/-KrKed4BSmoF34kPGmjh

[2017-08-12 10:03] FezVrasta commented on #49
dupe of https://github.com/souporserious/react-popper/issues/47

[2017-08-14 20:48] azinmb opened #50 "It doesn't work with onFocus/onBlur"

[2017-08-16 21:17] #50 closed

[2017-08-21 11:11] jkarsrud commented on #24
Instead of the repo, I changed this to a codesandbox for easier reproduction https://codesandbox.io/s/qvj9qov62w. I was thinking this might be the same kind of issue as #47, or there's something up with wrapping it in a `<VelocityTransitionGroup />` (from https://github.com/twitter-fabric/velocity-react) that will make the positioning read out the offsets incorrectly? I'm not 100% sure how best to

[2017-08-23 20:14] Eldwick opened #52 "Popper passes down unknown props to html tags."
`Popper` is currently passing down `restProps` (or all unused props of `Popper`) to it's direct child here:
https://github.com/souporserious/react-popper/blob/master/src/Popper.jsx#L207

This causes the following warning if a user-defined `component` attribute is not passed down or an html tag is specified as the `component` prop:

[code]

I suggest that `restProps` should only be passed down if t

[2017-08-28 10:15] kumarharsh commented on #17
Another use-case which I felt a need for is:

Say, you have a filter which opens a dropdown which would be the width of the app-container, and bounded by the app-container. In this case, I'll have to find the app-container's reference and pass **that** as the target, instead of an element I need to render...

[2017-08-29 00:14] darknoon opened #54 "arrowStyle props not being passed to Arrow component"
I'm trying to have an arrow next to a popover that moves with the popover. This seems to be supported in vanilla Popper.js, and the relevant code [seems to be present](https://github.com/souporserious/react-popper/blob/b3e0f32813dac0779f06d569ef456af29551add3/src/Arrow.jsx#L13) in `react-popper` to pass the style computed from Popper down into the `Arrow` component, however in my app, I see `style

[2017-08-29 01:43] darknoon commented on #54
I was thinking as a possible solution I could have Arrow return a class that keeps state around, and register with the Popper to get updated when the style updates à la Redux `connect()` HOC.

[2017-08-29 12:26] programstinator commented on #25
Hi there, I'm having a similar issue when using react-travel to render the Popper outside my component. To be clear, the code works in the browser I only get the errors when running Jest snapshot tests.
This is what the error looks like:
![image](https://user-images.githubusercontent.com/2131998/29820778-e509d7d0-8cc5-11e7-9abd-ff0d824e7182.png)
My code looks like this:
`<Manager className='ifl-co

[2017-08-29 14:53] programstinator commented on #25
Neverming, I figured it out. React-travel has a prop called 'useArray' which, when absent, causes the Protal to render as 'null' which caused the jQuery error from above.

[2017-09-14 16:44] sergeykaikin opened #56 "Type definitions doesn't work with latest version of popper.js"
"popper.js" type definitions have been updated recently and they are braking "react-popper"  type definitions. I am getting:

[code]

They have introduced braking changes in 1.11.1. Why don't you lock your "popper.js" to "1.11.0"?

[2017-09-21 14:46] clintharris opened #57 "<Popper> that references a target inside an overflow:hidden container?"
I have poppers that are rendered inside `overflow:hidden` containers; this causes the poppers to be partially hidden/cropped.

@FezVrasta has [indicated](https://github.com/FezVrasta/popper.js/issues/112#issuecomment-331006509) that this should be achievable by putting the `<Popper>` somewhere outside of the `overflow:hidden` container have it reference the target.

I'm not sure how to do this wit

[2017-09-21 14:50] FezVrasta commented on #57
You have two possibilities:

1. Use something like `react-portal` to move the popper element somewhere else (usually `body`):

[code]

2. Manually define the structure:

[code]

[2017-09-21 17:30] pmoleri commented on #56
This is addressed in PR #51 awaiting to be merged.

In the time being, you can work around it writing a module augmentation:
[code]
And save it to a file like: `popper-augmentation.d.ts` where your source files are.

Or locking to `popper.js@1.11.0` in your own `package.json` and reinstalling from scratch to make npm dedupe that dependency.

[2017-09-21 18:51] clintharris commented on #57
Thanks for the suggestion with react-portal. I started using it with a custom component like this:
[code]

I keep on getting the following error, however:
[code]

If I hard-code `<Portal isOpened={true}>` the jquery error never happens... It only occurs if I have `<Portal isOpened={this.props.show}>` and I then toggle the `show` prop...

Any ideas? I've tried passing refs to the target and the pop

[2017-09-21 18:57] FezVrasta commented on #57
May you provide a CodePen or CodeSandbox or similar to let me play with it?

[2017-09-21 20:15] clintharris commented on #57
Hmm... Can't seem to find a hosted, Codepen-compatible version of react-popper. [This](https://cdn.jsdelivr.net/npm/react-popper@0.7.2/dist/react-popper.js) seems to depend on webpack:
[code]
@souporserious Do you know if there's a production bundle hosted somewhere that would work with Codepen?

[2017-09-21 20:19] clintharris commented on #57
I've started a CodePen where you can see the issue with getting `react-popper` to even load: https://codepen.io/clintharris/pen/oGLKga?editors=1010

[2017-09-21 20:49] clintharris commented on #57
I found a work-around:
[code]
I think I'm just gonna roll with this for now. Thanks for the tip on portal and quick responses!

[2017-09-21 20:49] #57 closed

[2017-09-22 19:22] souporserious commented on #54
🤔 this is really weird. The `Arrow` component should be updating since it's a child of `Popper`, and when `Popper` gets new data it sets the new state and should cause a re-render. @FezVrasta is it possible we need to check for more than `data.offsets` changes in the `_updateStateModifier` function?

[2017-09-22 19:33] darknoon commented on #54
@souporserious that wasn't the issue; you can have it always update and you will still observe this bug.  the Popper itself may update, but it wouldn't cause the Arrow element to get recreated because that's passed in. Maybe you require all children to be functions going up to the `<Popper>`? I didn't remember that being documented, though.

I should re-test to see if that case works, but it seems

[2017-09-22 20:03] souporserious commented on #52
I'm not sure I follow, do you have an example of what you are working with? I think you may be able to just not pass those props to the Popper component.

[2017-09-22 20:08] souporserious commented on #56
I _think_ this is fixed in the latest release with this PR https://github.com/souporserious/react-popper/pull/51 please feel free to reopen this issue if not.

[2017-09-22 20:08] #56 closed

[2017-09-22 20:09] souporserious commented on #54
I just pushed a release with hopefully a better system of checking for changes. Can you please test to see if this might have fixed your issue? Also, any chance you have some example code that causes the issue so I can reproduce?

[2017-09-22 20:11] darknoon commented on #54
@souporserious do you have a test case for Arrow I could start from? Wouldn't be that hard to make a specific test case but if you already have something close I could modify that. Specifically where an element is in a scroll that has a popper attached (hence arrow needing to update)

[2017-09-22 20:12] souporserious commented on #33
Is this related https://github.com/souporserious/react-popper/issues/54?

[2017-09-22 20:13] souporserious commented on #54
I don't have anything right now, I will try and pull an example from the PopperJS repo so I can make sure it works properly.

[2017-09-22 20:21] pmoleri commented on #56
Thanks! Already tried it, seems to be working just fine.

[2017-09-26 20:12] souporserious opened #58 "Investigate new portals in React 16"
It would be cool if we could make this really easy and have a prop that passes down the id of a container or something similar to render `<Popper/>` components into.

[2017-09-27 07:07] FezVrasta commented on #58
I wouldn't add too much functionalities here honestly. I like specialized components

[2017-09-27 22:10] fernandopasik commented on #58
Would it be possible to first update to react 16 before going into this?

[2017-09-29 12:05] FezVrasta commented on #58
For React 16 I did prepare a small test PR while it was still in beta.

https://github.com/souporserious/react-popper/issues/58

[2017-10-02 11:06] mozartilize commented on #14
sorry, but if I use third-party components, which not have `ref` attribute, how can I put that component to `Target`?

[2017-10-03 01:31] TheSharpieOne commented on #58
Just FYI, reactstrap uses react-popper and did something similar (wasn't that hard), though I wouldn't use the new portals exclusively or you will break backwards compatibility which is :cry:. Maybe another library/component which depends on react-popper can be created which just adds this feature (like react-popper-portal).
Anyways, came here searching for react 16 support. Can just a simple rele

[2017-10-03 01:45] TheSharpieOne commented on #17
Do you even need the manager? Couldn't you just pass it to `Popper`? Manager is really only connecting the `Popper` and `Target` so it doesn't make much sense without a DOM target rendered by `Target`. You would have to make the `popperManager` context not required and you could do something like:

[code]

Also, this would work great if the target could be a DOM node or something else, allowing us

[2017-10-03 01:51] TheSharpieOne commented on #52
@Eldwick have you tried not passing in props you don't want rendered? What react-popper does here is fairly standard. In fact, I would call it a bug if it didn't pass down the props. GIGO

[2017-10-04 10:49] jamiewinder opened #60 "Dynamic content size"
If I have some popper content that can change size (which could possibly result in the 'correct' position of the popper changing), what is the best way to handle this in this library? I assume the correct way in plain Popper.js is to call `scheduleUpdate` on the Popper instance, but I don't think I have access to that with react-popper?

[2017-10-04 10:57] jamiewinder commented on #58
I'm already using `react-popper` with React 16's portals:

With a simple 'Portal' component:

[code]
You can simply do:
[code]

[2017-10-04 11:19] FezVrasta commented on #60
You should have access to the `scheduleUpdate` method already.

You can then combine react-popper with react-resize-aware:

[code]

[2017-10-04 11:20] jamiewinder commented on #60
Thank you, I was unaware that this was passed into the render function!

[2017-10-04 11:20] #60 closed

[2017-10-16 11:01] avishekjana opened #64 "react-popper@0.7.3 requires a peer of react@0.14.x || ^15.0.0 but none was installed"
This warning is coming when upgrading to React16

[2017-10-20 21:42] TheSharpieOne commented on #64
#59 addresses this.

[2017-10-21 03:15] #52 closed

[2017-10-21 11:58] #54 closed

[2017-10-21 12:10] souporserious commented on #58
After thinking about it, I agree it shouldn't go in here since it's so trivial and would break backwards compatibility 💩

[2017-10-21 12:10] #58 closed

[2017-10-21 12:22] souporserious commented on #64
Sorry about the wait, [released here](https://github.com/souporserious/react-popper/releases/tag/0.7.4).

[2017-10-21 12:22] #64 closed

[2017-10-21 12:23] #49 closed

[2017-10-21 12:25] souporserious commented on #33
Closing since this has been inactive, please feel free to reopen with a code example so we can diagnose the issue further if it is still present.

[2017-10-21 12:25] #33 closed

[2017-10-21 12:26] #47 closed

[2017-10-24 11:37] lukaszczapiga opened #66 "react-popper undefined when bundled by rollup as an external and used in webpack app"
Hi,

I have a bundle created using rollup and react-popper is listed as an external of that bundle. Then that bundle is consumed by a webpack application as an ES bundle (to allow for better tree shaking).

At application runtime _reactPopper is undefined.

This problem goes away (as well as tree shaking) when using UMD bundle from rollup.

Has anyone managed to configure rollup bundle with react-

[2017-10-26 14:18] davelab opened #68 "Warning if passing to Manager unknown props"
Hi,
referring to this issue in styled-component repo.
https://github.com/styled-components/styled-components/issues/1268

I was wondering how can I avoid that unknown props will be passed to Manager's div.
I need to pass these properties in order to use it in a style js conf file for styled-component element.

https://www.webpackbin.com/bins/-KxN8G3pDI0nHJTNmExw

and like you suggested if I set ta

[2017-11-02 15:43] julianljk commented on #66
I'm getting a similar issue! I'm using React-datepicker that has react-popper as a dependency, and it seems to be coming back undefined for me as well.

[2017-11-02 16:37] souporserious commented on #66
Sorry about that! :/ I'm in the middle of a bunch of work right now, but please feel free to submit a PR and I will review and merge it if it looks good.

[2017-11-07 12:49] FezVrasta opened #69 "Major version with React 16 as primary React version?"
I was thinking that we may ship a breaking change as major version that switches the value of the `tag` of `Manager` to `false` by default.

This will make the library work with the new wrapless-components of React 16 but will still allow to fallback to the old behavior of a wrapping element if user is using an older version.

What's your take on this?

[2017-11-13 11:46] souporserious commented on #69
I like it! I've been meaning to do this since the release of React 16. Only thing is I don't think it's in a `1.0.0` state yet. I think we may be able to clean up the way refs are handled by just using id's and I'd like to get tests written first. Can you bump it from `0.7.4` to `0.8.0`?

[2017-11-13 11:47] FezVrasta commented on #69
I just hope to don't piss off to many people with the breaking change 😂

[2017-11-13 11:49] FezVrasta commented on #69
Anyway, done!

https://github.com/souporserious/react-popper/pull/70

[2017-11-15 18:39] greg-a-smith opened #72 "preventOverflow.boundariesElement modifier not working properly for scrollParent"
I'm not sure if this is related to react-popper or the underlying popper.js, but it appears as though the modifier `preventOverflow.boundariesElement` does not work as expected with the value `scrollParent`.  I am testing with a target inside of a scrolling div (inside a modal) and I am not seeing the same behavior as I do when I set `preventOverflow.boundariesElement` to `viewport`.  I am most in

[2017-11-27 16:11] ablamunits opened #73 "Applying custom transformation on popper"
Hi,

I am trying to apply a custom transformation to the `popper` element, depending on weather the popper is visible or not.

To be more specific, I am implementing a tooltip component that holds a state of `isVisible`.
Based on this state, I would like to apply a custom `style` object on popper with my own CSS value for `transform`.

For example, If the tooltip isn't visible I would like to posi

[2017-11-27 16:29] FezVrasta commented on #73
Yes sure,

[here](https://github.com/FezVrasta/popper.js/blob/master/packages/popper/src/modifiers/computeStyle.js#L77) is where Popper.js computes the styles that need to be applied to the popper element.

After that, the [`applyStyle`](https://github.com/FezVrasta/popper.js/blob/master/packages/popper/src/modifiers/applyStyle.js#L20) is just going to set the styles that have been computed in the

[2017-11-28 08:04] ablamunits commented on #73
Thanks for the quick reply @FezVrasta, and thank you for pointing me in the right direction. This helped me achieve what I wanted. However I did get to it only after a bit of trial and error. For example, what eventually worked for me was this:

[code]

What I did not understand is why it was necessary for me to change the offsets and styles objects to make this work? Is this the correct way I sho

[2017-12-01 13:21] PlayMa256 opened #74 "Odd behavior when popover is bigger than viewport"
Hello,
I'm having problems when the popover, placed at bottom, hits/gets bigger than the viewport. When it hits the viewport, it goes above the attached element.
You can see the baviour here:
https://codesandbox.io/s/r5yw8nv43q

I've tried to work with the `preventOverflow` and with the `keepTogether` properties, but no progress.

[2017-12-01 13:22] FezVrasta commented on #74
That's the flip modifier

[2017-12-01 13:29] PlayMa256 commented on #74
Well, yeah =X
Thank you very much.

[2017-12-01 13:29] #74 closed

[2017-12-01 13:30] FezVrasta commented on #74
You are welcome, the behavior is probably not the most intuitive, expect it to get better by default in the next major release of Popper.js

[2017-12-03 20:37] fredrik-sogaard opened #75 "Question: Dynamically set targets or attach popper a different place in the DOM"
I have a SVG with many paths were I want to show a popover on hover over each path. The problem is that the popper gets attached inside the SVG, and normal html elements won't render inside a SVG.

Is there a way to
1) dynamically set a target so I can place one popper independently of the targets, and just updating the target on hover?
or
2) attach all the poppers somewhere else in the DOM so the

[2017-12-03 21:41] FezVrasta commented on #75
[code]

Can it work for you?

[2017-12-04 09:35] fredrik-sogaard commented on #75
I don’t think so, because I have many targets inside the same SVG. Any ideas on how to make it work?

________________________________
From: Federico Zivolo <notifications@github.com>
Sent: Sunday, December 3, 2017 10:41:07 PM
To: souporserious/react-popper
Cc: Fredrik Søgaard; Author
Subject: Re: [souporserious/react-popper] Question: Dynamically set targets or attach popper a different place in

[2017-12-04 09:41] FezVrasta commented on #75
Then you can use React portals to move the popper outside the svg

[2017-12-04 10:16] fredrik-sogaard commented on #75
Ah, thanks! I'll look into that.

[2017-12-04 10:16] #75 closed

[2017-12-08 15:14] websitesca opened #76 "requiring popper.js throws CaseSensitivePathsPlugin"
I don't think this is a bug, but I wanted to post here because it might help someone. I was trying to use reactstrap, but I also had my env var NODE_PATH=.

This caused a weird problem with react-popper where an exception CaseSensitivePathsPlugin would be thrown because popper.js appears on the filepath in node_modules as an actual file and ALSO as the actual node_modules dependency.

I removed NO

[2017-12-19 19:30] P8TRO commented on #14
@mozartilize this is what I came up with. Unfortunately it doesn't work with functional components (still trying to find a workaround) but accommodates everything else

[code]

`react-tether` refugee here - @FezVrasta @souporserious I really appreciate the work you've both put into these libraries. Thank you thank you 😄

[2018-01-06 03:12] priyajeet opened #79 "How to prevent wrapping of <Target>'s children"
[code]

renders
[code]

The `div` wrapping causes issues because it has by default block style whereas the child can be an inline element or with its own padding/margins etc.

Desired output should just be `<dom of my component>` without wrapping divs.
Target should ideally be cloning `Children.only(children)`.

[2018-01-06 03:31] TheSharpieOne commented on #79
You can use `Target`'s `component` prop to pass a component which it will render.
[code]

[2018-01-06 03:34] priyajeet commented on #79
Thanks, that works. Weirdly though, I tried that before posting this question, and it gave some ownerDocument error. I must have made a mistake. User error.

[2018-01-06 03:50] priyajeet commented on #79
@TheSharpieOne I think I misspoke. I do get errors using that approach.

When I do

`<Target component={ cloneElement(Children.only(children), componentProps) } />`

I get:

Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.
Check the render method of `Target`.

When I do

`<Target component={ Bu

[2018-01-08 08:36] souporserious commented on #66
@FezVrasta are you familiar with setting up bundled ES files? Not sure how to fix this one 😕

[2018-01-08 08:40] souporserious commented on #68
Sorry, just getting to this. Since React 16 has shipped since this issue 😅 you should be able to use `Manager tag={false}` safely now. If you're still on an older version of React, you can add a wrapping element since earlier versions can't return arrays. If you need even further customization/rendering control, you can use [child functions](https://github.com/souporserious/react-popper#usage-w-ch

[2018-01-08 08:40] #68 closed

[2018-01-08 08:45] souporserious commented on #72
Sorry for the late reply, is it possible you can provide a demo using something like [codesandbox](codesandbox.io). This sounds like it may be related to PopperJS core.

[2018-01-08 08:47] #73 closed

[2018-01-08 08:55] souporserious commented on #79
You might be able to use a [child function](https://github.com/souporserious/react-popper#usage-w-child-function) here. Maybe something like this:

[code]

[2018-01-08 11:28] FezVrasta commented on #66
I use Rollup to bundle ES stuff and it works just fine, but I'm sure webpack should work just fine as well.

[2018-01-08 22:16] priyajeet commented on #79
@souporserious I guess I am not understanding it properly, the issue is the wrapping of the `{target}` which is passed in as a react element, and not the Popper's content.

Doing the following gives issues:

[code]

My component's interface/usage is like this

[code]

where the `<Button ...>` is the target on which the "some text" tooltip should show. In your example above, assume `target` is a Re

[2018-01-09 00:55] souporserious commented on #79
Ahh sorry, I forgot to mention that you need to pass the ref down properly. See more [here](https://github.com/souporserious/react-popper#children-proptypesoneoftypeproptypesnode-proptypesfunc).

So something like this (untested):

[code]

[2018-01-09 01:08] priyajeet commented on #79
Thanks, that works, just that it forces modification of the child component. In other words, one will have to go modify any possible child element to accept and innerRef prop.

Are there any plans for future plans to rely more on ids/classes/querySelector/findDomNode, so that things works agnostic of the child component's structure?

[2018-01-09 02:08] souporserious commented on #79
Yes, I've been thinking about just using a generated id and `getElementById` to get around the `ref` song and dance since it makes things a lot more complicated. I'm going to close this since it sounds like it's working, but I'll be sure to take this into consideration on the next major release.

[2018-01-09 02:08] #79 closed

[2018-01-09 08:41] souporserious commented on #79
@priyajeet what about an API like this?

[code]

@FezVrasta this would solve the whole `Manager` issue 😁  and honestly cleanup a ton of this stuff.

[2018-01-09 12:18] FezVrasta commented on #79
For sure it's cleaner, I like it.

[2018-01-09 19:06] priyajeet commented on #79
Does look cleaner for sure, but still expects you to have a wrapping `<div>`  for the ref's since React wont allow refs on stateless components if Target is stateless. Also if the Target results in an inline or inline block element, then the popper will take incorrect positioning due to that div being a block. One could add an inline-block style on the div (which is what I am currently doing in my

[2018-01-09 19:07] FezVrasta commented on #79
@priyajeet if you use React 16 you can avoid the wrapping `<div>`

[2018-01-09 19:48] priyajeet commented on #79
Yeah React 16 helps there, but was wondering where the ref would go if a stateless Target component is passed down as children?

[code]

[2018-01-09 20:46] FezVrasta commented on #79
that's a limitation of React, we usually make the stateless component accept a `getRef` property that proxies the ref:

[code]

[2018-01-09 23:15] souporserious commented on #79
I'm going to play with the `id` idea. I like that a `ref` allows me to know when the component has been unmounted because then I can destroy the popper and do cleanup work.

[2018-01-11 00:02] virgofx opened #80 "Remove Prop-Types from Production Build"
It would be nice if PropTypes wasn't in the production build in any fashion. I believe this could be achieved by utilizing the following plugin:

https://www.npmjs.com/package/babel-plugin-transform-react-remove-prop-types

This would allow using the library without having to include the prop-types library as a pre-requisite in production.

[2018-01-11 09:05] FezVrasta commented on #80
That would be cool, feel free to send a PR also!

[2018-01-15 20:09] echenley opened #81 "Big performance regression in 0.7.5"
It looks like `_createPopper` is [now being run on every render](https://github.com/souporserious/react-popper/blob/master/src/Popper.jsx#L176), which is reinstantiating popper and causing a full browser repaint. In our fairly complex app, this is actually causing Chrome to freeze in certain scenarios, especially on lower end hardware. Pinning to 0.7.4 alleviated our issues.

@pzatrick

[2018-01-15 20:13] pzatrick commented on #81
Looking in to it.

[2018-01-15 21:24] pzatrick commented on #81
I'm getting close to a solution, but I've run in to what seems to be an issue with PopperJS. In [this bin](https://www.webpackbin.com/bins/-L2vcnG3KvQmn3sNAFdj) I've commented out the `else` branch inside the ref function and added a check to prevent re-creating the PopperJS instance in `_createPopper`. (I dislike it when methods themselves check whether they should actually do what their names im

[2018-01-16 00:04] souporserious commented on #81
Sorry, just saw your comment @pzatrick, I'm not entirely sure off the top of my head. @FezVrasta any ideas? I'm guessing this has to do with react-popper and not PopperJS.

[2018-01-16 09:26] FezVrasta commented on #81
I think there's an open issue for the problem @pzatrick mentioned...

[2018-01-18 19:17] miketmoore commented on #29
@jdalinoboom @souporserious let me know if I can help!

[2018-01-19 00:19] souporserious commented on #29
I definitely will! Going to work on rewrite to fix some outstanding issues then I'll probably need help writing tests 😇

[2018-01-19 05:06] greg-a-smith commented on #72
So this one was interesting.  I stumbled onto the reason this was occurring while attempting to create a branch to demonstrate the issue.  In the end, it appears to be a bug with NPM.

In our project, we have `react-popper` as a dependency defined as `^0.7.4`.  This, in turn, has a dependency on `popper.js` defined as `^1.12.5`.  When I run `npm install` on our project, it ultimately ends up loadi

[2018-01-19 05:06] #72 closed

[2018-01-22 05:53] k2snowman69 opened #82 "Request: Move popper.js dependency to peer-dependencies"
Just kicking around the idea here... this is a wrapper project that should be generally forward compatible with non-breaking changes. That said, it is slightly annoying whenever I need to test `popper.js@next` functionality or worse yet, if a breaking change came with popper.js, I'm stuck with whatever build react-popper is on due to the direct dependency.

My suggestion is to change it to a peer

[2018-01-22 07:10] FezVrasta commented on #82
Why can't you just specify the version you want in your own package.json?

If you use Yarn you can also use the `resolutions` field

[2018-01-22 07:24] k2snowman69 commented on #82
Tried that... Looking at the dist output for react-popper (node_modules\react-popper\dist\react-popper.js) it seems that popper.js is included in the output of this package. So no matter what version I include in my package.json, it gets overwritten by the one included in this library (for the context of this library).

Unless I'm missing something here...

Repro steps:
1. npm install --save poppe

[2018-01-22 08:10] FezVrasta commented on #82
Nope, this package doesn't embed the Popper.js library. You can specify the version you prefer.

[2018-01-23 04:32] k2snowman69 commented on #82
Line 2848 of https://unpkg.com/react-popper/dist/react-popper.js looks identical to https://github.com/FezVrasta/popper.js/blob/master/packages/popper/src/index.js

Are you sure you don't embed Popper.js in this library?

[2018-01-23 10:36] FezVrasta commented on #82
Oh that's new, it wasn't like that in previous versions, something is wrong.

cc @souporserious

[2018-01-23 21:33] greg-a-smith opened #84 "The hide modifier not working on Popper in a Portal on older versions of popper.js"
I have a project that is using react-popper directly and indirectly (through react-datepicker) and it uses modals with scrolling regions.  I want to make use of the `hide` modifier (which is enabled by default in popper.js), but in popper.js versions prior to 1.12.7, this is not working correctly as the `data-x-out-of-boundaries` attribute is not being added when the target scrolls out of view and

[2018-01-24 04:31] k2snowman69 commented on #82
Here is where I'm at so far with this:
Adding this to the webpack.prod.config.js does remove popper.js from the build output
[code]

Which is a great first step! Now that it's no longer being built in, how to use your own popper.js version? Well sadly you're still screwed. The reason (I think) is because using node's module resolution, it's going to pick up the version in react-popper's module fol

[2018-01-24 04:52] k2snowman69 commented on #82
Oh another change that will need to happen.
Popper.jsx line 110 - Need to pass positionFixed from props to PopperJS.

That said, I don't know why this code has default props defined in it because popper.js has the same default props defined. Seems like duplicate code that you should be able to delete and then just use a spread operator to fill the object being passed through.

[2018-01-24 07:34] k2snowman69 commented on #82
I created a branch to track some of these changes, you can cherry pick whatever you want and build your own change list.

https://github.com/k2snowman69/react-popper

[2018-01-25 08:30] k2snowman69 commented on #82
@souporserious any news? I'd love to use this library but would need popper.js 1.13 for the positionFixed fix.

[2018-01-26 08:30] k2snowman69 commented on #82
When no response... fork!
https://github.com/snowcoders/react-popper

[2018-01-26 08:30] #82 closed

[2018-01-29 01:23] Hongbo-Miao opened #85 "online demo"
A online demo will be very helpful for people want to use this package, such as using https://stackblitz.com/edit/react

Thanks!

[2018-01-30 19:02] greg-a-smith commented on #85
@Hongbo-Miao There are examples if you clone the repo and run it locally.  I actually have an open PR (#83) that modularizes them a bit and adds a new one.

[2018-01-30 19:27] Hongbo-Miao commented on #85
@greg-a-smith thanks, I think if we can provide an online demo, that will be very helpful for people to see it directly without complex steps.
And also easy for people to fork and reproduce the issues they found .

(Please feel free to close this one)

[2018-01-31 14:55] virgofx opened #86 "New Release With Update Dependencies"
Popper.js has some crucial bugfixes in 1.12.6.

Can a new release be cut with the latest Popper.js dependency - 1.12.9.

[2018-02-01 23:41] souporserious commented on #81
Still haven't had a chance to look at this, but I just remembered this about refs https://reactjs.org/docs/refs-and-the-dom.html#caveats totally didn't realize we're creating that function in render 💩. @echenley if you or someone else wants to submit a PR with a bound function that would be awesome, otherwise I should be able to get to this over the weekend or sometime next week.

[2018-02-02 10:46] souporserious opened #87 "Update context calls"
Since context has changed, it's probably a good idea to update it now before people update React in the future and things break. I'd like to use https://github.com/thejameskyle/create-react-context or https://github.com/ReactTraining/react-broadcast/pull/47.

[2018-02-02 10:49] souporserious commented on #84
Can you try this out on the latest version please? I think the recent update I just published might have fixed this issue 🤞

[2018-02-02 14:37] virgofx commented on #86
Thanks @souporserious Can you publish the release / github/npm so it can be imported. 👍

[2018-02-02 17:51] souporserious commented on #86
It's already published under `0.8.0` :)

[2018-02-02 17:56] souporserious commented on #82
Sorry, just getting to this. If you have found a fix, please feel free to submit a PR and I will review it.

[2018-02-02 18:05] virgofx commented on #86
I see it now :+1:

[2018-02-05 04:43] greg-a-smith commented on #84
@souporserious Yes, the 0.8.0 release addresses this issue.  Thank you!

Just a side note, although 0.8.0 is released (available on npmjs.com) and is documented in the change log, I don't see an 0.8.0 release or tag on GitHub.com.

[2018-02-05 04:43] #84 closed

[2018-02-05 05:10] greg-a-smith opened #88 "Initial position of popper and arrow elements off when margins exist"
Using the `react-popper` repository (version 0.8.0) and running `npm run dev`, I am seeing the initial positioning of popper and arrow elements slightly "off" when margins exist on the popper element.  I'm not sure if this is `react-popper` or `popper.js` causing this, but since I am using `react-popper`, I thought I would at least start here to see if others are seeing the same issue.  If the pop

[2018-02-05 16:49] souporserious commented on #88
Hmm interesting 🤔I wonder if something is getting calculated properly on initial mount. I'll look into this ASAP. Thanks!

[2018-02-05 16:51] souporserious commented on #84
Oops forgot to tag the release! I'll do that today. Thanks for the reminder 😅glad that fixed things!

[2018-02-05 16:52] FezVrasta commented on #88
Stuff like that usually happens when Popper is initialized while the element is still being rendered

[2018-02-05 17:20] souporserious commented on #88
Thanks for the heads up @FezVrasta 🙏I'll see what might be causing it. I moved back to letting PopperJS handle DOM updates for better perf, so I'll see what happened there.

[2018-02-06 04:18] bbthorntz commented on #88
Also noticed the same after updating to 0.80. The problem only seems to affect poppers position to the top and left. Poppers positioned to the right and bottom seem unaffected.

[2018-02-07 00:39] souporserious commented on #88
This should be fixed in the latest release. Although, I had to add a `setTimeout` with `scheduleUpdate` [here](https://github.com/souporserious/react-popper/blob/master/src/Popper.jsx#L111) or else Chrome wasn't calculating things properly for whatever reason. It seems to working fine now though.

[2018-02-07 09:00] bbthorntz commented on #88
Thanks for the quick fix @souporserious. It's working but there's occasionally a visible jump in the popper's position.

[2018-02-07 18:24] greg-a-smith commented on #88
It does seem to work fine in 0.8.2.  Thanks!

[2018-02-07 18:25] greg-a-smith commented on #88
On a separate note, I am seeing the following error when attempting to do an `npm install`:

[code]

I am still able to run `npm run dev` and see the examples, but this should probably be cleaned up.

[2018-02-07 18:26] #88 closed

[2018-02-07 21:45] KurtPreston commented on #81
@souporserious  Just tossing out there, it may be worth unpublishing the 0.7.5 release?  In our app, we found that some computers worked okay with it, but some computers would literally skyrocket to 100% CPU usage with a memory leak the moment a tooltip was triggered, effectively destroying the app.  (We were not able to figure out why there was such a marked behavioral difference.)

Since some ot

[2018-02-07 22:00] souporserious commented on #81
Thanks for the heads up @KurtPreston! I wasn't able to unpublish unfortunately, but I deprecated it so hopefully that helps.

[2018-02-08 20:05] ariroseonline commented on #17
@souporserious I'm looking into using react-popper, but the lack of followCursor makes it difficult to justify. Looks like there was a fork https://github.com/Gudahtt/react-popper/commit/9637b4d2611f0aae0989ba8bc3f1483fa73de122 which added support.

Is this safe to merge into master?

[2018-02-08 21:22] Gudahtt commented on #17
Ah darn, I had meant to submit that as a PR but it slipped my mind. I'll review that tonight.

[2018-02-08 21:54] ariroseonline commented on #17
@Gudahtt Thanks for helping out. I tried implementing your fork but ran into some problems in how to do it. E.g. Do you use a Manager? Does it it matter if you do or don't? What do you pass as the target prop in the case of trying to send the mouse position?

Might be help to submit with a bit of documentation :)

[2018-02-08 22:07] Gudahtt commented on #17
@ariroseonline Absolutely. The lack of documentation updates is why I didn't submit it as a PR yet. I'm working on that now.

[2018-02-12 02:48] sgilligan commented on #85
+1 for online demo

[2018-02-22 11:34] Justkant commented on #80
Hi,
If you're talking about the umd build, I think that the prop-types module is mark as external and so not included there.
But if not, I don't think that the library should do that but you clearly should use this plugin for your app in production.

As said in #91
Recommended way for libraries: https://github.com/facebook/prop-types#how-to-depend-on-this-package
Also: https://github.com/facebook/

[2018-02-22 14:35] virgofx commented on #80
1. I am referring to the UMD build.
2. You are wrong in your assumptions on how external works. That refers to whether the referenced library is included.
This PR is in regards to the use of Prop-Types ... it should make use of the remove prop types plugin as numerous other application libraries do allowing inheriting apps to not have a required dependency in production.

[2018-02-22 16:39] Justkant commented on #80
Got you, so we should strip prop-types for the minified version of the umd build ?

[2018-02-22 16:52] virgofx commented on #80
Yes. Not necessarily "strip" but use the proper mode (I believe wrap) with the plugin to remove as much as possible and where appropriate transforms certain situations to `{}` where constants dot-walks won't fail. ... Effectively removing as much as possible such that a referenced application does not need to either manually include `prop-types` for this to work.

[2018-02-22 18:06] Justkant commented on #80
Ok the need to include `prop-types` is there because we use externals with the webpack conf, by removing `prop-types` from the externals you don't need to manually include it anymore.
But the size of the bundle is bigger even in the production build (I thought that uglify could remove the dead_code and so the `prop-types`).
What would be the prefered result here ? Not having to include `prop-types

[2018-02-22 21:41] virgofx commented on #80
The original issue outlines everything in detail. Please read up on how things work.

1 - `prop-types` should be listed as external. This allows consuming applications to handle as necessary and the distribution builds will EXCLUDE the `prop-types` library. This is desired.

2 - However, References to prop types inside the library are now unnecessary and have references to constants used by the `p

[2018-02-23 10:00] Justkant commented on #80
I understand that, I already took some time yesterday to add the babel-plugin that I also use on almost all my react projects.

The part were I'm a bit confused is related to the use of the UMD build. (Maybe an example could help me there)

Also if you can find a repo that is already setup the way want please share it because on all the repos that I looked at no one was making the `prop-types` as

[2018-02-23 10:34] Justkant commented on #80
A problem for this lib would be [this issue](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types/issues/77)
One solution would be to handle contextTypes & childContextTypes ourself, like so:
[code]

[2018-02-23 13:12] FezVrasta commented on #80
What if we simply wait for the new context API? Once we get it we'll be able to get rid of PropTypes all together

[2018-02-23 13:31] Justkant commented on #80
@FezVrasta yeah I thought about waiting for the new context API too, but if @virgofx doesn't want to wait #94 is still a solution.

I wonder if after the refactoring for the new context we'll be able to support the old context.
An idea on this subject too ?

[2018-02-23 14:39] virgofx commented on #80
@Justkant The plugin prevents writing code which you did. I haven't had time to test; however, it's literally as simple as marking prop-types as external, and using the preset for all builds with appropriate flags (mode:wrap). It still should leave in context and a few other areas (That's what needs to be tested).

Sample **Library**
[Material-UI](https://github.com/mui-org/material-ui/blob/v1-bet

[2018-02-23 16:26] Justkant commented on #80
@virgofx You're right and if you take a look at #94 you can see the `prop-types` plugin in use. (with the mode: wrap)

Also for the contextTypes & childContextTypes that are not handle by the plugin, I followed the [test](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types/pull/98#issuecomment-335994196) of someone else

I also tested everything from jsfiddle to be s

[2018-02-23 16:54] polakluk opened #95 "Problem with import of Popper module due to case sensitiveness"
Hi,

we recently tried to upgrade react-popper to its newer version (1.2.9), but ran into an issue. On Windows 10 with Webpack 3.11.0. and Webpack-dev-server 2.11.1, it shows following warning

[code]

This can be fixed by changing line 19 (in file `lib\Popper.js` ) from:

[code]

to

[code]

[2018-02-24 18:29] polakluk commented on #95
After I played with the issue a while and found out that this is not caused by the first uppercased character. The intention there is to require module `popper.js` and not file `Popper.js` which is in the same directory. Could this file be renamed in this project so it would work on Windows as well?

[2018-02-26 22:17] supergibbs commented on #95
This should def be fixed but in the meantime you can look into using the Windows 10 linux subsystem.

https://docs.microsoft.com/en-us/windows/wsl/install-win10

[2018-02-26 22:19] supergibbs commented on #76
Is this on Windows? Might be related to #95

[2018-02-28 12:03] vmanchev opened #96 "Unexpected token export"
As part of reactstrap, we are facing this error, when running jest tests. Any help will be appreciated.

[code]

https://github.com/reactstrap/reactstrap/issues/872

[2018-02-28 13:13] revolunet commented on #96
same here

[2018-02-28 15:15] nickmccurdy commented on #96
I just got this when installing `reactstrap@5.0.0-beta.2`. I'd appreciate it if anyone knows a workaround, this is blocking me from porting a site to Bootstrap 4.

[2018-02-28 15:23] sinxwal commented on #96
@nickmccurdy Use reactstrap": "5.0.0-beta" version for a short.

[2018-02-28 15:30] nickmccurdy commented on #96
@sinxwal I can confirm `5.0.0-beta` works for me, thanks!

[2018-03-02 11:01] Justkant commented on #96
Hi, maybe related to #93

[2018-03-04 08:50] laynef opened #98 "Manager export is failing"
I am using Reactstrap which uses this library and there seems to be an issue with this exported file.

~/node_modules/react-popper/lib/react-popper.js:1
 (function (exports, require, module, __filename, __dirname) { export { default as Manager } from './Manager';
                                                               ^^^^^^

 SyntaxError: Unexpected token export
     at createScript (vm.js

[2018-03-04 17:41] laynef commented on #98
I found the problem reactstrap needs to update their version of react-popper to the latest version so to fix this on your project just install the latest react-popper version on your project

[2018-03-04 17:41] #98 closed

[2018-03-05 00:02] TheSharpieOne commented on #98
The latest version of react-popper doesn't work with rollup which is what reactstrap uses to create dist files for releases.
Basically, the last two versions of react-popper have had issues, a PR to fix the issues has been waiting to be merged for a while.

[2018-03-05 10:16] polakluk commented on #95
@supergibbs thank you! For now, we can definitely stay with the older version. If there is a way we can help you fix it, let me know.

[2018-03-05 15:38] screendriver opened #99 "Popup outside viewport since 8.2.0"
With v0.7.5 it looks like this

<img width="447" alt="screen shot 2018-03-05 at 16 35 23" src="https://user-images.githubusercontent.com/149248/36983772-84a973f2-2093-11e8-849c-c7802c2f1bd6.png">

But with v0.8.2 it looks like this

<img width="260" alt="screen shot 2018-03-05 at 16 36 00" src="https://user-images.githubusercontent.com/149248/36983782-8d2986ca-2093-11e8-9e93-12a9d1e03146.png">

As

[2018-03-05 15:40] FezVrasta commented on #99
Please open the issue on the Popper.js repository because it's most likely a regression of it. Make sure to fill out all the required fields during the issue creation.

[2018-03-05 15:43] screendriver commented on #99
Ok. Thank you.

[2018-03-05 15:43] #99 closed

[2018-03-10 13:53] meet-aleksey commented on #95
Hi!

How I can fix this in Windows?

Using Linux is not possible, because this makes the project not portable.

[2018-03-12 15:14] rolandjitsu opened #101 "Update TS typings for Popper"
I've just update MUI next to beta 37 and with it popper at `v1.14` (previously it was `v1.12`). But not the TS compiler would complain about wrong typings:
[code]

I guess instead of:
[code]
we should use:
[code]
or
[code]

[2018-03-12 15:30] ablamunits commented on #101
This is breaking for us as well. I believe that this is related to the following change in `Popper.js` released just now in 1.14.0, where `Popper` is no longer a namespace.

https://github.com/FezVrasta/popper.js/commit/3315a6823f1685684fccf45f3fde407f1ca3716c#diff-01613ef3d5a6b03e140f807e6a8379bb

@FezVrasta  @souporserious any hints? :)

[2018-03-12 15:32] FezVrasta commented on #101
Oh fuck, I hate TypeScript, it's so fucking cryptic... Would it be a solution if a dropped support for it from Popper.js at completely? I can't stand it anymore 😩

[2018-03-12 15:37] rolandjitsu commented on #101
😆 @FezVrasta I don't think you need to. Changing the way this lib declares the import should suffice. There is already a PR here that addresses the typings, it just needs to be changed slightly.

I've just testd with `import * as PopperJS from "popper.js";` instead of `import PopperJS from "popper.js";` and it seems to work.

Ideally you'd always import the necessary exported objects from the lib

[2018-03-12 16:25] mayrbenjamin92 commented on #101
The simplest fix for now is to just add "popper.js": "1.12" to your package.json (remove package-lock.json contents for one npm i). This way you will overwrite your 1.14 that gets installed as a dep of mui beta-37 with 1.12!

[2018-03-12 16:53] souporserious opened #102 "Looking for a maintainer"
I haven't been able to help maintain this project as much as I would like. Is there anyone that would like to start to help maintain this library? You would be in charge of pretty much everything, reviewing issues, PRs, publishing, etc. I could step in and answer questions if needed, just been swamped with other projects lately.

[2018-03-12 16:54] FezVrasta commented on #102
Obviously count me in to help, but if possible I'd like someone else to maintain the library and continue to give support as I did so far.

If nobody adopts the project I can take it.

[2018-03-13 13:26] fantua commented on #102
For now seems good idea to add permissions for @FezVrasta to release #93 and publish fix. It's highest priority.

Also you can continue looking for another maintainer.

[2018-03-13 14:38] supergibbs commented on #102
@Justkant @pzatrick are also active contributors

[2018-03-13 18:33] souporserious commented on #102
@FezVrasta I gave you access to the repo as well as the NPM package. Please let me know if you need anything else and also feel free to add more contributors if anyone is willing to help. I'll try and help out with whatever I can when work slows down.

[2018-03-14 03:16] halntit commented on #96
Thank you @nickmccurdy, that version really works and save me a lot of time

[2018-03-15 16:48] Justkant commented on #102
Hi, I can help too but it's a first for me.

[2018-03-19 14:36] FezVrasta commented on #96
This should be fixed in 0.8.3

[2018-03-19 14:36] #96 closed

[2018-03-19 14:36] FezVrasta commented on #101
Fixed in 0.8.3

[2018-03-19 14:36] #101 closed

[2018-03-19 14:58] FezVrasta commented on #95
This seems a dupe of #76

[2018-03-19 14:58] #95 closed

[2018-03-19 15:00] FezVrasta commented on #85
If anyone is interested, please create one using codesandbox.io, then we can link to its full-screen preview.

[2018-03-19 15:00] FezVrasta opened #106 "Change bundler to Rollup"
Webpack is not ideal as library bundler, we should switch to Rollup to reduce bundle size.

[2018-03-19 16:49] tgreen7 opened #107 "Allow different tags for Target"
I am trying to have a Popover in an svg, but it seems like the Target element is always rendered as a ```<div>```. This is making my Popovers not show up in svg elements.

[2018-03-19 17:00] souporserious commented on #107
You can use the `component` prop to change the rendered DOM node of `Target`. Please see in the [docs here](https://github.com/souporserious/react-popper#component-proptypesoneoftypeproptypesnode-proptypesfunc), as well as an example of using a custom component [here](https://github.com/souporserious/react-popper/blob/master/example/animated.jsx#L119).

[2018-03-19 17:00] #107 closed

[2018-03-19 17:14] tgreen7 commented on #107
Awesome thanks!

[2018-03-19 20:31] TheSharpieOne commented on #85
What's wrong with the one linked (stackblitz)? It's faster and has more features (like being able to develop and use/run offline and more).
You can use the "share" button from that link to customize the preview.
need full screen? https://react-yc5bpb.stackblitz.io

[2018-03-19 23:04] Hongbo-Miao commented on #85
Hi @FezVrasta codesandbox has 50 free limitation, since it easily to use all of them, I have to keep removing the old ones.
Maybe just use stackblitz?

[2018-03-22 08:51] jony89 commented on #82
`popper-js` totally should be a peerDependecy, for two main reasons :

1. testing, allow to easily mock `popper-js` (see https://github.com/FezVrasta/popper.js/issues/478 if u want to know why)
2. allow to have one instance of `popper-js` in the final bundle that is specified in the main project.

 I think this issue should be open

[2018-03-22 11:30] FezVrasta commented on #82
@jony89 you can already mock Popper.js and make react-popper use the mock, it's done automatically once you add the Popper.js mock file.

Your package manager will automatically dedupe dependencies if the version range allows it.

[2018-03-22 11:31] FezVrasta commented on #85
Oh I wasn't aware of the 50 free limitation, that sucks.

Yup stackblitz looks good then, but we'd need the complete demo example already available in the repository

[2018-03-22 11:38] jony89 commented on #82
Thats what I've done, but it forces me to have `popper.js` as my direct dependency (which is not, unless it will be a peerDependecy).

Otherwise I'll be requiring a module that is not my direct dependency and relying on `react-popper` to install it on the top level of `node_modules`. That's not good.

[2018-03-22 11:41] FezVrasta commented on #82
If you follow these steps you don't need any direct popper.js dependency.

https://github.com/FezVrasta/popper.js/issues/478#issuecomment-341506071

[2018-03-22 11:42] #17 closed

[2018-03-22 11:43] jony89 commented on #82
first line on the link you gave :

`import PopperJs from 'popper.js';`

[2018-03-22 11:53] FezVrasta commented on #82
Yes, but it's going to require the dependency of react-popper, that's the way npm and yarn work, they install all the dependencies in `node_modules` and they are then able to being required even if not explicitly set as dependency.

[2018-03-22 11:55] jony89 commented on #82
Hey, That's just what I wrote :

Don't tell me you think it's a good practice to require a module in your code that u are not explicit dependent on. :S

[2018-03-22 11:56] FezVrasta commented on #82
Yes it's okay, because you want to mock a dependency of a dependency you rely on, there's nothing wrong with it.

I'm not going to make Popper.js a peerDependency, it doesn't make any sense, really.

[2018-03-22 11:59] jony89 commented on #82
I disagree.

Anyway, there are more reasons why Popper.js should be a peerDependecy,

I can easily use some other tooltip or some other tool/lib that uses a different version of popper.js that is compatible with react-popper as well but eventually I'll get two versions of popper.js in my bundle.

popper.js is a huge lib that can be used in many other libs.

[2018-03-22 12:03] FezVrasta commented on #82
react-popper sets its popper.js version range to one that supports all the features and fixes needed by it to work. If you wanted to use an older version you'd encounter bugs.

Anyway, you can always use the `resolutions` property of `package.json` with Yarn to override an indirect dependency version if really needed, but you shouldn't.

Also, Popper.js is still under heavy development and every r

[2018-03-22 12:08] jony89 commented on #82
That's just support my claim that I should not rely on `react-popper` to ship new fix bugs. I know and I follow popper.js. so do others. react-popper is just a small wrapper around it.

IMO, you should treat popper.js the same u do with `react-dom` and `react`. all your claims can be said for this libs as well. but yet u have decided to have them as peerDependecy.

[2018-03-22 12:13] FezVrasta commented on #82
Last reply on this matter, `react` and `react-dom` are marked as peerDependencies because they are supposed to be already used in your project for everything else, so it wouldn't make sense to set them as implicit dependencies, because that would mean that you would be forced to follow the requirements of this library to use React.

popper.js, on the other hand, is the set as implicit dependency b

[2018-03-22 12:16] jony89 commented on #82
And my last comment as well :

That's exactly what peerDependency allows u to do :)

[2018-03-22 13:47] TheSharpieOne commented on #85
Done:
With editor: https://stackblitz.com/edit/react-popper-example?file=index.html
With "embed" editor: https://stackblitz.com/edit/react-popper-example?embed=1&file=index.js
Fullscreen: https://react-popper-example.stackblitz.io

[2018-03-22 15:15] FezVrasta commented on #85
Thanks! I asked @souporserious to add it to the repo description.

[2018-03-22 20:26] kumarharsh commented on #17
@FezVrasta AWESOME!!!

[2018-03-23 16:02] FezVrasta commented on #66
I'm quite sure this will get fixed with #109

[2018-03-23 18:14] giladgray commented on #76
something weird is going on in the published `lib/` directory. i see the following files:
[code]
(brackets added for emphasis.) There's a file called `Popper.js` that _I think_ is the root cause of this issue. but there's also this `PopperComponent.js` file. I can't figure out why there seem to be two files for the `<Popper>` component.

perhaps removing `Popper.js` will resolve this issue?

[2018-03-23 18:15] FezVrasta commented on #76
May you let me know if you get the same problem with `react-popper@next` please?

[2018-03-23 18:16] #102 closed

[2018-03-23 19:31] nkohari commented on #76
This does seem to still be happening on `react-popper@next`. I am using the following versions:

[code]

(Please see https://github.com/palantir/blueprint/issues/2299 for more info on my particular use case and error.)

[2018-03-23 22:44] nkohari commented on #76
Commenting here in case anyone runs into this problem and wants a workaround! The trouble seems to be caused by a collision between the library named `popper.js` and the file named `Popper.js` in `react-popper`. The only reason this was an issue is because my Webpack config included `.` in modules, like:

[code]

Using `alias` instead with an absolute path works fine, and is also probably more cor

[2018-03-24 10:39] saurishkar opened #110 "Standalone examples not working - Uncaught TypeError: Cannot read property 'getTargetNode' of undefined"
### Steps to reproduce the problem

1.  Open https://react-popper-example-fies9l.stackblitz.io/
2.  Click on any of the standalone examples.
3.  Check the browser console.

### What is the expected behavior?

It should have probably worked as a normal popup example.

### What went wrong?

1. Uncaught TypeError: Cannot read property 'getTargetNode' of undefined.
2. Warning: Failed context type: The

[2018-03-24 10:46] #76 closed

[2018-03-24 11:03] saurishkar commented on #110
@FezVrasta This is also reflecting when i am trying to use `<Popper>` component without the `<Target>` and `<Manager>` components.

[2018-03-24 11:28] TheSharpieOne commented on #110
The examples were copied from master, but master is currently ahead of `react-popper@latest` on npm, which doesn't have the standalone feature.
We can either remove standalone (and standalone object) from the examples (for now) or set the version in the example to  `react-popper@latest`.

Note: The person who made the example in the link (forked the one from #85) should be able to save any changes

[2018-03-24 20:46] PurpleGranite opened #111 "Webpack warnings when using react-popper"
### Issue description
react-popper is a dependency of reactstrap, which I am attempting to use in s SharePoint Framework project.  SharePoint Framework (SPFx) uses webpack extensively, and react-popper is causing webpack warnings which in turn lead to component load failures because react-popper has not been properly included in the output.

Discussion of this issue is linked to an open issue in t

[2018-03-24 22:30] TheSharpieOne commented on #111
Did you see #76? Per the webpack config specific to the project, it tells webpack to look in the local directory first before looking in node modules (even if `./` is not in the path.)
Can you verify your webpack config is not doing this amd/or post it here?

[2018-03-24 23:09] PurpleGranite commented on #111
The webpack config is buried deep inside the SPFx build process and not something I have direct / easy access to ... Will feed this back into the SPFx issue and see what pops up from there.

[2018-03-25 08:10] FezVrasta commented on #111
There's not much we can do in this case, we don't have any duplicated file with just case differences.

[2018-03-25 12:29] #111 closed

[2018-03-27 13:30] FezVrasta commented on #110
Fixed

[2018-03-27 13:30] #110 closed

[2018-03-27 16:32] borm opened #112 "Allow override modifiers?"
https://github.com/souporserious/react-popper/blob/master/src/Popper.jsx#L114

[code]

--->

[code]

[2018-03-27 16:33] FezVrasta commented on #112
Without these 2 modifiers the component is not gonna work, why do you want to override them?

[2018-03-27 16:43] borm commented on #112
because i have used `reactstrap` and i want set max height for very long dropdown menu

[2018-03-27 16:56] borm commented on #112
Why it`s not worked?

simple example
[code]

you should set notify for users who want override this modifier, about they should set `return data`

[2018-03-27 17:06] FezVrasta commented on #112
Why can't you just create a new modifier that does that?

[2018-03-27 17:09] borm commented on #112
[Updated](https://github.com/souporserious/react-popper/issues/112#issuecomment-376597981)
Resolved for me

[2018-03-27 17:12] FezVrasta commented on #112
That's not a solution.

Just create a new modifier like this:

[code]

[2018-03-27 17:13] borm commented on #112
But i don't see any problem to allow override `applyStyle` modifier like this
[code]

or override all with call callback of updateState modifier from props

[2018-03-27 17:14] borm commented on #112
oh thank you, I did not know that you can pass custom modifiers,
I'm just getting to know popper

[2018-03-27 17:15] #112 closed

[2018-03-27 21:03] borm commented on #112
@FezVrasta, last question, how i can set position always to bottom or top?

like this
![image](https://user-images.githubusercontent.com/4027842/37994582-ac089fb6-321a-11e8-84c2-c0e6043f1245.png)

![image](https://user-images.githubusercontent.com/4027842/37994619-c40e8aee-321a-11e8-9d40-df78d83e3ff4.png)

and set translateX to 0 when reference element is attached to the edge of viewport

https://

[2018-03-27 21:50] borm opened #113 "Wrong poper position on first click"
### CodePen demo
https://react-popper-example-fies9l.stackblitz.io/

### Steps to reproduce the problem

1.  Scroll to **Toggleable Popper Example** or **Standalone Popper Example**
2.  Make sure what element have position to bottom of viewport, in my case 73px
3.  Click to reference
![image](https://user-images.githubusercontent.com/4027842/37996755-658bb2a6-3221-11e8-998e-053fa7918c8a.png)

###

[2018-03-28 08:14] FezVrasta commented on #112
[code]

Is probably what you are looking for.

[2018-03-28 09:05] FezVrasta commented on #113
Oh... that's quite an edge case. Anyway I think the problem relies on Popper.js itself, may you open the issue in its repo? Thanks for the report.

[2018-03-28 09:05] #113 closed

[2018-03-28 09:30] borm commented on #112
![image](https://user-images.githubusercontent.com/4027842/38020657-7e65618e-3283-11e8-9141-fb403cafab71.png)
No, I want to see a dropdown always under or over of reference

[2018-03-28 10:58] FezVrasta commented on #112
I don't think I get what you are looking for

[2018-03-28 14:32] borm commented on #112
the problem is that dropdown overlaps the button.
dropdown should always be placed BELOW or ABOVE the button itself

[2018-03-28 14:33] FezVrasta commented on #112
I think you want to disable the `preventOverflow` modifier then

[2018-03-28 14:35] borm commented on #112
i think yes, but when i have disabled it, the dropdown in top button don't visible

[2018-03-28 18:05] privard opened #114 "Can't access Popper.js placement values"
There is currently no way of retrieve the Popper.js placements values. IMO, either react-popper should export these values from Popper.js so clients can import them, or move Popper.js to peer-dependencies, so that clients can import their own PopperJS object and refer to it.

Thoughts?

[2018-03-28 18:08] FezVrasta commented on #114
How would Popper.js as peerDependency help?

[2018-03-28 18:22] TheSharpieOne commented on #114
If no other version of Popper.js is installed, npm will put the one for this package at the root of node_modules. It technically can be included without explicitly installing it at that point (but that seems fragile).
If the developer wanted to install Popper.js, they would need to ensure it is the same version that this package includes or there can be a chance of duplication if the versions are

[2018-03-28 19:07] privard commented on #114
I agree that the peerDependency solution is probably not the best solution, because of version compatibility issues that might arise as a side-effect of the client installing the library.

If we can expose react-popper's underlying instance, that would probably be best. Thanks for the prompt replies!

[2018-03-28 19:27] DrDyne commented on #114
If the `PopperJS.placements` that is used [here](https://github.com/souporserious/react-popper/blob/master/src/Popper.jsx#L17) was exported, it would be easily accessible from outside as `import Popper, { placements } from 'react-popper'`.

[2018-03-28 20:12] privard commented on #114
Wow, thanks @DrDyne!

[2018-03-30 12:11] #80 closed

[2018-03-30 12:11] #106 closed

[2018-03-30 12:15] FezVrasta commented on #66
Should be fixed by 0.9.1

[2018-03-30 12:15] #66 closed

[2018-03-30 12:16] FezVrasta commented on #114
Implemented in 0.9.1

[2018-03-30 12:16] #114 closed

[2018-03-30 13:37] FezVrasta commented on #69
Closing, I'm going to release a major version with React 16 as minimum supported version instead.

[2018-03-30 13:37] #69 closed

[2018-04-01 10:40] oliviertassinari opened #118 "server side issue"
I have noticed the following regression upgrading from 0.8.3 to 0.9.1. We can no longer render the component on the server.

![capture d ecran 2018-04-01 a 12 36 49](https://user-images.githubusercontent.com/3165635/38172268-685b808e-35a9-11e8-85f5-17be4f726ed8.png)

The error comes from this line. As you can imagine, `Element` isn't defined on Node.js.

https://github.com/souporserious/react-popp

[2018-04-01 12:28] FezVrasta commented on #118
Umh that type has not been changed in a while AFAIK... Anyway, are you running the code with the `NODE_ENV` variable set to `production`? The types should be stripped in that case.

[2018-04-01 12:52] oliviertassinari commented on #118
@FezVrasta It was introduced 10 days ago: #92.

The types should be stripped in that case.

I'm happy to see the project is using my plugin :). But, I'm not running in production. I'm in dev mode.
https://github.com/souporserious/react-popper/blob/79544d780e33e1e49b9c15d0fa2bf1148641703c/package.json#L65

Me neither. Maybe we can soften the type checking and compare the target with an object. It's

[2018-04-01 12:57] FezVrasta commented on #118
Oh I did miss that change, sorry.

Well if we use `Object` as type I feel like we are just making the type check completely useless honestly 😓 May something like this work? (can you try on your project?)

[code]

[2018-04-01 13:16] oliviertassinari commented on #118
@FezVrasta It's working great on my project 👍

[2018-04-01 13:17] FezVrasta commented on #118
Cool! Would you mind sending a PR with the fix?

[2018-04-01 13:49] #118 closed

[2018-04-02 09:47] langovoi commented on #87
FYI: polyfill https://github.com/jamiebuilds/create-react-context

[2018-04-02 16:19] unframework opened #120 "Possible doc addition: sample usage with React portal functionality"
There is a really helpful example in [this issue comment](https://github.com/souporserious/react-popper/issues/58#issuecomment-334120299) about how to use this library with the React portal feature to avoid `overflow: hidden` issues. Could be nice to add a version of that in the main readme so that it is obvious to folks that it is a use case that easily works out of the box. More of a newcomer in

[2018-04-02 16:22] FezVrasta commented on #120
We are working on a new API and documentation for the 1.x release, I'll make sure to add this example to it.

[2018-04-02 16:24] unframework commented on #120
Thanks for the prompt response! Let me know if it's easy for me to just open a PR or if there is a specific doc style guide/etc. Cheers!

[2018-04-02 17:09] FezVrasta commented on #120
No there's not any specific doc style guide, it's just that this API is going to be deprecated anytime soon and I don't think it's worth to spend more time on it.

[2018-04-02 18:04] tyscorp opened #121 "Feature: Propagate scheduleUpdate through nested poppers"
When `scheduleUpdate` is called on a popper, it should call `scheduleUpdate` on all nested poppers. We can do this through context so it works through portals, too.

I'd be happy to take this on.

This would fix this issue: https://github.com/palantir/blueprint/issues/2031

[2018-04-02 18:17] FezVrasta commented on #121
I'd ask you to hold on on this feature because we are going to replace the API completely in the next few days (see #117).

Anyway it's a good idea.

[2018-04-02 18:38] tyscorp commented on #121
I could perhaps base my PR on `the react-16-major-rewrite` branch so we could get it into v1.0.0.

[2018-04-03 06:54] FezVrasta commented on #121
I'm not sure if we are going to use that specific API or a mixture of the first iteration and the last one.

[2018-04-03 22:14] Maistho opened #122 "Does not work with v1.14.2 of Popper.js"
### CodePen demo

I could for some reason not get it to show the error in the codepen when I tried earlier. Not sure exactly why.

But you can see the error here: https://reactstrap-error-tooltip.firebaseapp.com/

And the git repo is here: https://github.com/Maistho/reactstrap-tooltip-error

(I don't have the time right now, but I will try to create a new example that works in the codepen and with

[2018-04-03 22:58] ericgio commented on #122
I'm seeing the same issue. All the correct styles are being passed down to my popper component and I can see a flicker where it's correctly positioned for a split second, but then Popper.js seems to overwrite the values.

[2018-04-04 10:40] TheSharpieOne commented on #122
I wonder if react-popper should clone the styles when the data is passed to it's modifier since Popper.js seems to mutate the values of the styles. That way it has its own copy of the most recent styles. Or is it too late by the time the modifiers run?

[2018-04-04 10:42] Maistho commented on #122
@TheSharpieOne I don't think that would work since Popper.js modifies the DOM directly.

[2018-04-04 10:42] FezVrasta commented on #122
I don't think there's anything that react-popper can do

[2018-04-04 10:46] Maistho commented on #122
@FezVrasta I think that as long as react-popper can re-apply the styles after the DOM styles has been removed by Popper.js it should be fine. Could Popper.js perhaps add a hook that is run whenever the styles would be applied regularily?

[2018-04-04 10:47] TheSharpieOne commented on #122
Oh, I see, react-popper is applying the styles correctly, but after the render Popper.js does its modification directly to the DOM. Wouldn't that affect more than react-popper's usage, or is it because react-popper has applyStyles set to false?

[2018-04-04 11:09] FezVrasta commented on #122
May you guys test this version and tell me if it fixes your problem?

https://github.com/FezVrasta/popper.js/pull/599

[2018-04-04 13:56] TLadd commented on #122
Pulled and linked the popper.js branch down and it does fix the problem I was seeing.

[2018-04-04 13:57] FezVrasta commented on #122
Great! Going to release it soon

[2018-04-04 13:57] #122 closed

[2018-04-04 14:18] grumd commented on #122
@FezVrasta by soon do you mean today? :)

[2018-04-04 14:24] atomiks commented on #122
Sorry for the fix breaking everyone's projects 😞, at least now we've fixed the long-standing issue and thankfully react-popper could also be fixed.

[2018-04-04 14:26] grumd commented on #122
@atomiks I'm out of the loop here, can you please point me to the issue you fixed in 1.14.2? Just curious

[2018-04-04 14:30] atomiks commented on #122
@grumd see https://github.com/FezVrasta/popper.js/issues/251

Basically the popper would overflow the document boundaries on resize and more critically on update if the reference was close to the edge, causing it to not show fully.

[2018-04-04 15:22] TheFullResolution opened #123 "Lock dependencies "popper.js": "^1.14.1" - we experienced issues with popper.js 1.14.2"
### CodePen demo

It is not easy to reproduce, but if you need this, I can work on it.

### Steps to reproduce the problem

We are using Popper with react-portal if popper.js 1.14.2 is installed as a dependency (I can check it in yarn.lock) popper doesn't render next to the target but under a page, like a normal block.

### What went wrong?

When doing fresh yarn install (no yarn lock), 1.14.2 get

[2018-04-04 15:24] FezVrasta commented on #123
Please update to 1.14.3

I do my best to follow semver but the world is not bug-free 😔

If you want to have this kind of confidence you should lock the dependencies in your project using `yarn.lock` or the `npm-shrinkwrap.json` features of your package manager.

[2018-04-04 15:24] #123 closed

[2018-04-04 15:35] #29 closed

[2018-04-04 15:35] #87 closed

[2018-04-04 15:36] FezVrasta commented on #120
I just released the first beta of v1.x, the API should be stable now, please go ahead.

[2018-04-04 15:47] FezVrasta commented on #121
The new API is now on beta and merged to `master`, please feel free to contribute on the new code base with your idea.

[2018-04-04 15:51] FezVrasta opened #124 "Update demo with new API"
The demo is currently outdated, we should update it to use the new react-popper API.

[2018-04-04 16:42] TheFullResolution commented on #123
@FezVrasta I didn't realize that you are also a maintainer of popper.js. In this case, indeed locking it is not needed. Sorry for the unnecessary issue 😅

[2018-04-04 18:54] sorahn opened #125 "SyntaxError: Unexpected token import - running in Jest"
Running jest with react-popper@0.9.2:

### Steps to reproduce the problem

1.  Create new application (create-react-app)
2.  Add [`react-bootstrap-typeahead`](https://github.com/ericgio/react-bootstrap-typeahead) (includes react-popper)
3.  Add `<Typeahead options={[]} />` to App.js
4.  Run `yarn test`

### What is the expected behavior?
Test Passes

### What went wrong?
[code]

### Any other comm

[2018-04-04 18:58] FezVrasta commented on #125
About the homepage example, you are reading the documentation of the v1.x branch, you are  using the v0.x so you need to read this one:

https://github.com/souporserious/react-popper/tree/v0.x

About the error, it seems like your bundler doesn't support ES Modules but tries to import Popper.js from the `module` field, which is expressively dedicated to ES modules.

You may want to file an issue on

[2018-04-04 19:59] tyscorp commented on #121
Ok, I'll need about 1 day I think. When is v1.0.0 set to release?

[2018-04-04 20:41] ericgio commented on #125
@FezVrasta: The error is coming from react-popper/lib/Popper.js, which uses ES module syntax. I'm using v0.9.2 and only see one version of the file there. Am I missing something?

[2018-04-04 22:52] willyyang opened #126 "Safari popover jolt"
First off, thanks for making this package and I'm looking forward to seeing what the new updates have in store.

It seems like there's an initial jolt in the positioning of the arrow when I'm testing the popper on the latest Safari, any clue as to what could be wrong / what I should check to fix this?

![screen shot 2018-04-04 at 6 49 31 pm](https://user-images.githubusercontent.com/6396257/383388

[2018-04-05 03:44] ericgio opened #127 "Feature Request: Clarify package contents & allow for better tree shaking"
Hi guys, thanks for the great libraries (both react-popper and popper.js).

I ran into [this issue](https://github.com/ericgio/react-bootstrap-typeahead/issues/329) today and couldn't figure out at first why it was happening until I realized that the package contents weren't quite what I expected. I was able to solve the issue, but am no longer able (as far as I can tell) to easily tree shake the

[2018-04-05 06:29] FezVrasta commented on #121
I'm waiting few days to receive feedbacks, if everything is fine I'll release it then.

[2018-04-05 06:31] FezVrasta commented on #125
@ericgio if you use common JS you should use the `dist/react-popper.js` file.

[2018-04-05 06:37] ericgio commented on #125
@FezVrasta: Thanks, I ended up figuring out the issue. My lib is also written with ES modules but the package is CJS. I was trying to tree shake the unused components and calling `react-popper/lib/Popper.js` in my .babelrc, which caused the problem.

[2018-04-05 06:40] FezVrasta commented on #127
Thanks for the issue.

AFAIK CommonJS is not three-shakeable, not being statically analyzable. I don't see much value in providing a per-file basis release of the CJS build. If one cares about bundle size should use the ES build.

[2018-04-05 06:59] ericgio commented on #127
Maybe I'm not using the term correctly :) I simply want to include the component I use (Popper) and not include the other stuff. If the individual CJS components are included in the package, I can do that, but as it stands, I can't.

Not everyone (or every environment) can consume ES modules, which is what happened in the issue I linked to above. CJS still seems like the most widely compatible way

[2018-04-05 07:06] FezVrasta commented on #127
Feel free to send a PR please.

[2018-04-05 08:27] TheSharpieOne commented on #127
I personally don't see any value in original/individual esm since treeshaking does work with esm. In the case where there is a single file/bundle which exports all of the components using esm and only importing Popper, you only get Popper; everything is excluded.
I had mentioned something along the lines of having the `lib/` directory being cjs and not esm before in https://github.com/souporseriou

[2018-04-05 08:30] FezVrasta commented on #127
The problem is that current bundlers don't work particularly well with single-file ES module bundles.

[2018-04-05 08:37] FezVrasta commented on #28
Added, the only place where it made sense to me was in the `Reference` component, that now will warn if it's being used outside of `Manager`.

`Popper` can work alone, and `Manager` doesn't have any specific requirement.

[2018-04-05 08:37] #28 closed

[2018-04-05 09:07] FezVrasta commented on #127
I'm actually taking care of the changes needed in the v1.x/master branch.

Does a `package.json` like this make sense?

[code]

[2018-04-05 09:36] FezVrasta commented on #120
added

[2018-04-05 09:36] #120 closed

[2018-04-05 09:37] FezVrasta commented on #127
d3e235981baea5c378aed771e867f2cb421d7d05

[2018-04-05 09:37] #127 closed

[2018-04-05 09:37] TheSharpieOne commented on #127
Yeah, that makes sense, but that would also be a breaking change unless you also kept the current es files in `lib/` as well. (since if people depend on `react-popper/lib/Popper.js` now, it would break).

[2018-04-05 09:38] FezVrasta commented on #127
I'm applying these changes only to the v1.x branch actually.

[2018-04-05 09:45] TheSharpieOne commented on #127
d3e2359 reintroduces what #90 fixed due to the way the `lib/cjs/index.js` is transpiled/generated.

[2018-04-05 09:52] FezVrasta commented on #127
What's the way to go to make Babel transpile those exports properly?

[2018-04-05 10:42] TheSharpieOne commented on #127
Not as elegant, but if you split the importing from the exporting it will work.
[code]

[2018-04-05 11:47] FezVrasta opened #130 "Embed `warning` dependency?"
I was wondering if it could make sense to embed the `warning` package into the `umd` build since it's supposed to be used only in a development environment and will be stripped out by dead code elimination in production?

Or do you prefer to keep all the UMD dependencies external and have the user require them in the browser-context manually?

[2018-04-05 13:28] willyyang commented on #126
0.x

[2018-04-05 13:29] FezVrasta commented on #126
Please open a new issue filling the issue template as asked. Thank you.

[2018-04-05 13:29] #126 closed

[2018-04-05 14:02] FezVrasta commented on #130
Actually I think `warning` will never work in a UMD env because it exposes only a CJS build 🤔

[2018-04-05 14:15] TheSharpieOne commented on #130
In the umd build it should be automatically removed (at least in the min umd) as it would be identified as dead/unreachable code.

[2018-04-05 14:16] willyyang opened #131 "Safari popover jolt"
### CodePen demo
https://codesandbox.io/s/m46njyqq3x

### Steps to reproduce the problem

1.  Click on Target Box

### What is the expected behavior?

Expected the target's arrow to be in place when it's visible without the initial jolt into position

### What went wrong?

The arrow has a jerk/jolt into position

### Any other comments?

### Packages versions

- Popper.js: "^1.12.9",
- react-poppe

[2018-04-05 14:17] FezVrasta commented on #130
So are you suggesting to build the UMD build with `NODE_ENV production`?

[2018-04-05 14:44] TheSharpieOne commented on #130
At least for the minified UMD build as that is what should be used in production.
React itself basically has this and even goes as far as to name them differently than just adding ".min.js" https://unpkg.com/react@16.3.1/umd/

[2018-04-05 14:46] FezVrasta commented on #130
I was also noticing that `create-react-context` is not available as UDM library as well... Does it make sense to keep an UMD build at all at this point?

[2018-04-05 14:54] TheSharpieOne commented on #130
Sounds like there isn't much of a choice there for that one. An issue can be opened with them to add umd builds in future releases.

(rant as an argument for even package having umd): I know some of the newer mentality is to not generate any distribution files; requiring the consumer of the package to do that work when they make their release. CRA handles that out of the box. The only issue with j

[2018-04-05 15:04] FezVrasta commented on #130
The maintainer of `create-react-app` doesn't accept issues 😶

We should work on a PR and hope he likes it, otherwise we'll have wasted time for nothing. Yeah he's a bright guy with this idea of "no issues" policy...

[2018-04-05 16:57] ericgio commented on #127
Thanks for considering the request. Looks like @FezVrasta's commit addresses the issue, at least for v1.x.

[2018-04-06 13:03] nijk opened #133 "React global not correct in v0.9.5"
### CodePen demo

### Steps to reproduce the problem

1.  Unpackage and run `dist/react-popper.js`
2.  See that the JS interpreter fails on line 132: `react.Component`
[code]

### What is the expected behavior?

I'd expect the React global to be referenced with a capital R.

### What went wrong?

Possibly something in the Rollup globals, I see a commit in the last 24hours that suggests a fix to UM

[2018-04-06 13:07] FezVrasta commented on #133
Hi, `dist/react-popper.js` is a CommonJS build, and it refers to react with the lowercase `r` because that's its package name.

UMD build is `dist/react-popper.umd.js`, and it refers to `React` with capital `r` because that's its global namespace in browser environments:

[code]

Internally, the library refers to `react` with lowercase `r`, but it is assigned to `global.React` (capital)

[2018-04-06 13:37] FezVrasta commented on #133
I'm not sure why you are getting this error, I'd try to put a `console.log(React)` just before the `react-popper.umd.js` import to see what it logs. If it's empty, you have some problem in the react import.

[2018-04-06 13:38] nijk commented on #133
Ok, thanks for the quick responses

[2018-04-06 13:39] #133 closed

[2018-04-06 13:49] FezVrasta commented on #131
It seems to be fixed in the 1.x branch, can you confirm?

https://codesandbox.io/s/yk7ro8xljj

[2018-04-06 14:02] willyyang commented on #131
![screen shot 2018-04-06 at 10 00 16 am](https://user-images.githubusercontent.com/6396257/38425295-7c976cc6-3981-11e8-9654-c708db072b91.png)

This is on load, nothing changed

[2018-04-06 14:06] FezVrasta commented on #131
Son of.. it didn't save my changes 🙄

Please retry now.

[2018-04-06 17:30] willyyang commented on #131
Thanks man, works like a charm 👍

[2018-04-07 09:08] FezVrasta commented on #130
I tried to embed it but it has some additional dependencies, so the bundle is going to be quite large 🙄

[2018-04-07 20:12] PurpleGranite commented on #111
@FezVrasta having done a lot of experimentation, I strongly believe that this issue needs to be re-opened.

Ultimately, the combination of packages that I'm using (SharePoint Framework, React, React DOM, Reactstrap, FontAwesome and others), _require_ that the webpack resolver modules paths contains `'.'`, without this in the path for example it is absolutely impossible to include a FontAwesome ico

[2018-04-07 20:16] FezVrasta commented on #111
I find it so difficult to think that you are the only one having this problem honestly... If enough people report this we can think about a solution. Until then, I'm convinced the problem is on your side.

[2018-04-07 20:24] PurpleGranite commented on #111
@FezVrasta If you looked at the linked issue over at the SharePoint Framework side in my original report, you would see that I'm not the only one with this problem; and that it's not unique to my combination of packages.  Sure, people might not be reporting it directly here, but that's because they're indirectly consuming your package via npm's version of dependency hell, not using it intentionall

[2018-04-07 20:29] FezVrasta commented on #111
It's still a problem of the sharepoint configuration, I mean, I don't even know what it's it, but if it happens only with it there must be a reason I guess?

How do you expect me to change the name of a file used in the library just because your configuration is trying to import stuff from where it's not supposed to?

[2018-04-07 20:46] PurpleGranite commented on #111
So, instead of carrying out a relatively straightforward fix on your side which not only would resolve this issue but also prevent the same issue with the hundreds / thousands of potential package and configuration combinations out there, stopping lots of other developers falling into the same trap - often (as in this case) completely outwith their control, you opt to disown the problem and put it

[2018-04-07 20:57] FezVrasta commented on #111
I know I may be a "weird" person to talk to, but my point is:

We may fix the problem with `react-popper` renaming that file, and everybody would be happy and would go to get drunk and sing in the streets, but tomorrow some other package will make the same _mistake_, and everybody will be sad again. Is this where we want to go?

About all the day job stuff etc, if you are willing to pay me my hour

[2018-04-07 21:16] PurpleGranite commented on #111
How about we balance your hourly rate with the several hundred hours I've already expended on this problem at my hourly rate?!

Or, better yet, how about you spend the 45 seconds it would take you to fix the issue!

[2018-04-08 14:41] diondiondion opened #134 "v1 beta 4: Obscure positioning issue"
Hi FezVrasta, awesome new API! Now I don't have to write my own popper.js wrapper for react anymore :)

I've stumbled across a really weird issue that causes poppers to be offset from their reference element by a bunch of pixels under some quite specific circumstances, took me quite a while to reproduce this using the repro template.

### Reproduction demo

- v1.0.0 beta 4: https://codesandbox.io/

[2018-04-08 14:55] FezVrasta commented on #134
Umh what if I can't reproduce the issue? 😅

Browser?

[2018-04-08 14:59] diondiondion commented on #134
I can reproduce this on any browser installed on my Mac: Chrome (65), Firefox (Nightly), Safari (11.1).

I just noticed it doesn't happen in mobile browsers. Makes me think it must be related to scrollbars.

[2018-04-08 15:09] FezVrasta commented on #134
Ok reproduced, I think it may be related to this one
https://github.com/FezVrasta/popper.js/issues/510

[2018-04-08 15:46] FezVrasta commented on #134
Ok this sucks, it's not related to FezVrasta/popper.js#510, but to the result that `getBoundingClientRect.js` returns when it's called the first time.

It returns a wrong value, the problem is that the value comes directly from `element.getBoundingClientRect()` so there's not much I can do to tell the !*#%☠︎ browsers to return the correct value 🙄

[2018-04-08 15:51] #134 closed

[2018-04-08 16:07] FezVrasta commented on #134
Ok I confirm that with beta.5 the bug is fixed

[2018-04-08 16:29] diondiondion commented on #134
Brilliant, I'll have a look soon. Thanks so much for the quick fix!

[2018-04-09 12:12] alexander-morozov opened #136 "Upgrade Popper.js version"
It'd be cool it you upgraded popper.js version as a lot of problems were fixed, especially this one:
https://github.com/FezVrasta/popper.js/issues/251

[2018-04-09 12:15] FezVrasta commented on #136
The `package.json` already specifies `popper.js@^1.14.1`, this means that it will install the latest `1.x` available version.

- https://github.com/FezVrasta/react-popper/blob/master/package.json#L61
- https://docs.npmjs.com/getting-started/semantic-versioning#semver-for-consumers

[2018-04-09 12:15] #136 closed

[2018-04-10 08:15] JaylyLiu commented on #124
The old demo costed my half day in vain.

[2018-04-11 16:01] #124 closed

[2018-04-12 16:29] TLadd opened #140 "Getting ref to Popper element in v1.0.0-beta.5"
### Reproduction demo
https://codesandbox.io/s/10nmjoq5jq

### What is the expected behavior?
Is it possible with the current v1.0.0 api to get a reference to the popper element? In v0.10.1, an innerRef function existed that could be passed into the Popper component, and would be forwarded onto the ref passed down to children: https://github.com/FezVrasta/react-popper/blob/v0.10.1/src/Popper.js#L1

[2018-04-12 16:41] TheSharpieOne commented on #140
I believe it is because you are using an inline function. If you switch to a function which is "cached" you don't see this issue: https://codesandbox.io/s/p9x2myxymx
Not sure the best way to get the `ref` function passed in from react-popper to the cached function thought, in the example we just store the most recent function on the component's instance and use that. 🤷‍♂️

[2018-04-12 17:59] TLadd commented on #140
It seems like adding back the innerRef prop to Popper might make sense?

[2018-04-12 21:07] FezVrasta commented on #140
I'd rather use the new `forwardRef` utility, but that would cut support for all the old React versions :-/

What's exactly the use case? Can't you do like this?

[code]
?

[2018-04-12 21:29] TLadd commented on #140
That's what I tried to do (in the codesandbox), but it ends up in an infinite loop.

The trouble is that inline function callback refs have [a caveat](https://reactjs.org/docs/refs-and-the-dom.html#caveats-with-callback-refs) where they will be called twice during updates. First it will be called with null, and then it will be called with the DOM element. Usually this behavior doesn't matter. In t

[2018-04-17 19:32] nijk opened #142 "v0.10.1: Consider removing transform-react-remove-prop-types mode of 'wrap'"
### Reproduction demo

Firstly I'd like to thank you for this library and Popper.js.

I'm currently trying to get this working in a ClojureScript app and I'm having some real difficulties getting Closure Compiler not to strip the `process.env` variable in it's advanced optimization mode. It's a bit of a pain but I've managed to isolate the need for the `process` var down to this dependency. As far

[2018-04-18 12:10] FezVrasta commented on #142
0.10.1 is mostly maintenance only at this point. Most of the consumers prefer to have a good DX rather than the ability to run the unminified package in the browser.

I'd rather keep the things as they are, feel free to switch to the 1.x branch, it's stable at this point.

[2018-04-18 12:10] #142 closed

[2018-04-18 12:15] FezVrasta commented on #140
I'd rather find a way to avoid the loop actually, I think it may bite us in different ways. Does it make sense?

[2018-04-18 14:03] TLadd commented on #140
Yeah, I agree that avoiding the opportunity for the infinite loop would be ideal; just seems like a trap that will probably pop up elsewhere too.

[2018-04-18 15:32] nijk commented on #142
Only problem, is that the process does exist within the minified version, e.g.

`grep process dist/react-popper.umd.min.js` => `k.propTypes='production'===process.env.NODE_ENV?{}: ...`

[2018-04-18 15:32] FezVrasta commented on #142
Thanks for pointing it out, please feel free to send a PR to strip it out from the minified build if you have some time to allocate to it. Thanks! 🤩

[2018-04-18 15:34] nijk commented on #142
Will do, thanks 👍

[2018-04-18 16:53] FezVrasta commented on #140
I tried to move the `popperNode` and `arrowNode` from the state to two properties of the component but the loop still happens... I'm a bit out of ideas.

[2018-04-19 09:39] nijk commented on #142
Ok, there's a bit of Yak shaving going on now. I've made the change but the babel plugin is not removing `propTypes` from the stateless functional components - I've [raised this issue with `babel-plugin-transform-react-remove-prop-types`](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types/issues/140)

[2018-04-19 09:49] nijk opened #143 "v0.x demo does not build"
### Steps to reproduce the problem

1.  `npm install`
2.  `npm run demo`
3.  Build error:
[code]

### What is the expected behavior?
The demo should build and run (I'm using the latest major node version)

### What went wrong?
I believe that the `babel-plugin-transform-class-properties` is required

### Any other comments?
I've also noticed that `package.json` is not handled either in the repo or

[2018-04-19 10:26] nijk commented on #143
@FezVrasta Shall I raise another PR to deal with the `package-lock.json` (misspelled the name of the file in the issue)

[2018-04-19 10:30] FezVrasta commented on #143
Umh yeah I don't use npm so I never noticed it wasn't ignored, I just pushed a commit to ignore it.

[2018-04-19 10:30] #143 closed

[2018-04-19 13:58] virgofx commented on #142
@nijk The process.env part should get removed completely. That's definitely a bug. Webpack has the DefinePlugin which handles that. Not sure how it's being built here but those comparisons should be removed from all production builds 100%.

The original intent for getting babel `prop-types` in the build was just to reduce any hard dependency on prop-types in the production distribution builds, whi

[2018-04-19 14:12] nijk commented on #142
Thanks @virgofx, it's a pleasure :)

This library uses rollup rather than webpack. My understanding is that the DefinePlugin allows to to inclusion of global vars at compile time as opposed to the removal or references in the code, as such `process.env` would exist in the code and the JS interpreter would not throw a undefined var error.

The issue at play here should be solved if the maintainers

[2018-04-20 23:28] virgofx commented on #142
Server side rendering is broken actually with the new UMD build

` Manager.propTypes = process.env.NODE_ENV !== "production" ? {`

Need to fix this.

[2018-04-20 23:42] virgofx opened #145 "v0.10.1 - SSR breaks because of React-Popper + No /dist builds in 1.0beta5"
The UMD build is broken in v0.10.1 because of:

`Manager.propTypes = process.env.NODE_ENV !== "production" ? {`

The production build should use plugin that optimizes and removes this code ahead of time. In Webpack it was the Define plugin. Then the remove prop-types plugin will correctly wrap it and leave it as `{}`.

What's the best way to resolve this?

0.10.1

1.x.x

Ref: #142

[2018-04-21 00:09] nijk commented on #145
@virgofx for v0.10.1 see [this issue I've raised with babel-plugin-transform-react-remove-prop-types](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types/issues/140).

Basically the default mode that is supposed to entirely remove the propTypes from production builds is not working for React stateless functional components and therefore [I can't fix this issue](https

[2018-04-21 00:12] virgofx commented on #145
I'm not sure about the stateless components; however, the issue with regards to process can be fixed quite easily. I'll submit a PR which fixes this.

[2018-04-21 00:16] nijk commented on #145
@virgofx Try following the replication steps I've posted on that ticket about stateless functional components and you'll understand. The point is that `babel-plugin-transform-react-remove-prop-types` should work properly, but it doesn't because of a bug with removing propTypes from functional components that ReactPopper uses, which means we can just remove `{mode: wrap}` from the plugin config on

[2018-04-21 02:58] virgofx commented on #145
So seems to fix
1. Continue to use `mode: 'wrap'` but add the Rollup replace plugin -- which will clean that all up ... or
2. Just switch to `"removeImport": true`

Regardless, the Rollup replace plugin (equivalent of Webpack's define) should be used regardless so my thought is to just leave as mode:wrap which is intended for libraries that may be consumed externally.

(Minus any areas with SFC th

[2018-04-23 20:29] sstarrAtmeta opened #147 "npm build commands fail in Windows"
### Steps to reproduce the problem

1.  Clone repository onto a Windows system as of c8c9cb959d07c548fde5d596c362805793ea1cbb
2.  Attempt to run yarn install or yarn build. The following will attempt to run and fail.

### What is the expected behavior?

npm build commands will run without error in Windows

### What went wrong?

It looks like the command was written with assumption that it would be

[2018-04-24 04:21] fullstackguyhere opened #149 "What is Reference component in the popper that we import every time and how exactly to use it?"
Why do we need this reference component? Also how to use this component is not given in the docs.

[2018-04-24 05:41] FezVrasta commented on #149
The Reference component defines to which element attach the popper. The documentation explains how to use it

[2018-04-24 05:41] #149 closed

[2018-04-24 16:19] cloudratha opened #150 "Unable to test component with Jest & Enzyme (JSDOM)"
Using V1 - I have a simple sandbox with a test file (all commented out)
Enzyme is unable to mount the component in JSDOM, I keep getting memory allocation failures.
It crashes codesandbox as well.

Shallow and render methods work (at least compile to a snapshot)

### Steps to reproduce the problem

1.  Navigate https://codesandbox.io/s/p9n1q90kp7
2.  Open Repro.test.js and Uncomment the code.
3.

[2018-04-24 20:52] billneff79 opened #151 "Manager can only have one child with react<16 or preact"
The documentation in the README for v1 shows the `<Manager/>` component having multiple children (`<Reference/>` and `<Popper/>`).  If you are using `react` at a version less than 16, or a library like `preact` that doesn't support it, the ponyfill from `create-react-context` kicks in.  It has a [documented issue](https://github.com/jamiebuilds/create-react-context#compatibility) where it will onl

[2018-04-25 09:45] cloudratha commented on #150
Nevermind, didn't realise you need to convert a mounted wrapper to Json before creating a snapshot.

[2018-04-25 09:45] #150 closed

[2018-04-25 13:12] billneff79 commented on #151
Yes, you can definitely wrap everything in a div.  That's certainly a valid workaround, and the one I used for my preact project.  It would just be good to note that in the main readme somewhere for folks that don't use react@16.  I burned several hours trying to figure out why my components weren't rendering at all (there is no useful error message when using preact for this issue - stuff just do

[2018-04-25 13:45] FezVrasta commented on #151
There's not any way to make React 15 render multiple children from the same component, no matter what do you use to provide the context.

Good point on the docs addition, please if you have time send a PR to address it.

[2018-04-27 00:13] giladgray opened #152 "invalid syntax in 1.0 typings"
### Reproduction demo

(codesandbox doesn't show errors in definition files. easily reproducible in VS Code or with `tsc` directly.)

### Steps to reproduce the problem

1.  import `react-popper @ 1.0.0-beta.5` in a typescript project
2.  witness compiler error

### What is the expected behavior?

success!

### What went wrong?

https://github.com/FezVrasta/react-popper/blob/master/typings/react-p

[2018-04-27 01:06] giladgray commented on #140
how about `innerRef` props on `Reference` and `Popper` that receive the result of the `ref` children prop?

[code]

[2018-04-27 17:51] giladgray commented on #140
i don't think that's the best option as it locks consumers in to React 16 or a shim, whereas a simple `inputRef` prop works for everyone.
don't forget that [_this_ package declares  support for reacts 14, 15, and 16](https://github.com/FezVrasta/react-popper/blob/master/package.json#L57).

[2018-04-27 17:54] FezVrasta commented on #140
There's a lightweight polyfill we could use:
https://github.com/soupaJ/create-react-ref

I was thinking about a way to structure our code to output two different dist targets depending by the desired React version, so that people on React 16 don't have to rely on the polyfills (even if they fallback to the native implementation, the code would still get imported).

[2018-05-01 09:54] FezVrasta commented on #145
Fixed in 0.10.2

[2018-05-01 09:54] #145 closed

[2018-05-01 10:27] #152 closed

[2018-05-01 13:10] davidxmoody opened #160 ""ReferenceError: babelHelpers is not defined" in version 0.10.2 (not in 0.10.1)"
### Reproduction demo

### Steps to reproduce the problem

1.  I'm using material-ui beta 44 which uses react-popper as a dependency (bundled with create-react-app typescript scripts)

### What is the expected behavior?

It should compile.

### What went wrong?

I get the following error:

[code]

### Any other comments?

Installing 0.10.1 manually fixes the problem. I can provide more info if nec

[2018-05-01 13:12] FezVrasta commented on #160
@virgofx since you worked on the 0.10.2 changes, may you have a look?

[2018-05-01 14:18] TrySound commented on #160
@FezVrasta external-helpers should be added only for rollup build. For babeled files it shouldn't not be added.

[2018-05-01 14:57] FezVrasta commented on #160
0.10.3 fixes it

[2018-05-01 14:57] #160 closed

[2018-05-01 15:01] virgofx commented on #160
@TrySound Can you check 0.10.3 and confirm fixed?

[2018-05-01 15:04] FezVrasta commented on #160
The babelhelpers are not referenced in the file anymore so hopefully yes.

https://unpkg.com/react-popper@0.10.3/lib/Manager.js

But I just noticed that the `package.json` points to an invalid `main` path, is it still related to your PR maybe?

[2018-05-01 15:12] virgofx commented on #160
I actually didn't change that (not too familiar with the `main` or `umd:main`) references. I'm sure you could submit a new PR to update those ...

[2018-05-01 15:37] TheSharpieOne commented on #160
also consider `jsdelivr` and `unpkg` properties in the package.json (and maybe even `cdn`). They are properties which help the CDNs determine which file to server.
See:
https://github.com/unpkg/unpkg/issues/63
https://github.com/jsdelivr/jsdelivr#publishing-packages

[2018-05-01 16:33] oliviertassinari commented on #160
0.10.3 introduce another problem:
package.json referrence `dist/react-popper.js` but it doesn't exist.

[2018-05-01 16:37] oliviertassinari commented on #160
https://github.com/FezVrasta/react-popper/commit/65c3fb5c0786bb250454087d2de1489c55a19587

[2018-05-01 16:51] FezVrasta commented on #160
0.10.4 should be fine hopefully

[2018-05-01 18:40] FezVrasta commented on #140
Ok let's go this way, if anyone has time to set up a PR with this new feature please do it.

[2018-05-04 10:38] Iliyass opened #163 "I can't use react-popper in NextJS in production env"
### Steps to reproduce the problem

1.  integrate in our NextJS app
2.  build the prod version

### What went wrong?
The library works great in the dev env, but in prod env throws an error

### Packages versions

- react-popper: 1.0.0-beta.6
- react: 16.2.0
- next: 5.1.0

[2018-05-04 11:09] FezVrasta commented on #163
Hey, thanks for the issue but you haven't provided enough information to help me understand what's happening.

Please feel free to add more details and I'll reopen it.

[2018-05-04 11:09] #163 closed

[2018-05-04 12:43] alexandernanberg opened #164 "Suggestion: Add prop getters"
First of all, great work on this lib!

My suggestion is to add prop getters similarly to how [downshift](https://github.com/paypal/downshift) does. This would in my opinion provide a much nicer implementation and prevent possible errors (eg. as forgetting to add the style).

So with prop getters the example would instead look something like this;

[code]

I'd be happy to add a PR if you are intere

[2018-05-04 12:50] FezVrasta commented on #164
Thanks for the suggestion, this was something that have been considered already in the past. [[1]](https://github.com/FezVrasta/react-popper/pull/117#issuecomment-378617383)

As mentioned in the issue I linked, I think they would make the API much harder to work with.

For instance, if you wanted to use the `placement` property on the arrow element, you would need to do some wizardry to call the `

[2018-05-04 15:41] alexandernanberg opened #165 "Automatically set arrow position"
### Reproduction demo

https://codesandbox.io/s/nrypzn1yyp

### Steps to reproduce the problem

1.  Go to the codesandbox link
2.  See that the popper is not align correctly (note the alignment)
3.  Remove the arrow element
4. See that the popper now aligns correctly

The issue also gets worse if you add padding to the popper element.

### What is the expected behavior?

For the popper to align pr

[2018-05-04 15:52] FezVrasta commented on #165
Hey, you need to give `position: absolute` to the arrow element to have it to work properly.

I wonder if it may make sense to automatically set it together with the offsets 🤔

[2018-05-04 16:02] alexandernanberg commented on #165
Ah of course, thanks for the quick reply!

Yes, in my opinion it makes perfect sense to automatically set the `position`. Can't think of many cases when you wouldn't want that? Either way you can overwrite the value with your own css if you need something else right?

[2018-05-04 19:03] giladgray commented on #140
@FezVrasta i'm on it!

[2018-05-04 22:18] giladgray commented on #140
@FezVrasta PR forthcoming!

FWIW, I strongly prefer TypeScript's tooling to Flow's. This change has been an uphill battle with missing type information and incomplete editor feedback.

[2018-05-05 07:49] alexandernanberg commented on #164
Oh I missed that thread!

If I'm not misstaken my proposal is not exactly as the one you were talking about in that thread, but it might still have the same implications?

Agree that merging css `transform` values would probably be a pain to do, but I don't see why you would want to do that? Isn't that how it works right now?

[2018-05-05 08:33] FezVrasta commented on #164
Right now we don't merge any css property, but if we were to provide a props getter function that merges the user props with the ones of the library, I'm sure lot of people would be confused by the fact that they can't apply `transform: scale(1.5)` because it would get overridden by the styles of popper

[2018-05-18 05:19] 0xdevalias opened #168 "Wrapper or examples for tooltip?"
It would be cool if there was a react wrapper (or usage examples) for: https://popper.js.org/tooltip-examples.html

[2018-05-19 16:15] soroushm opened #169 "'react-popper' does not contain an export named 'Target'."
some things break

"_id": "react-popper@0.10.4",

[code]

[2018-05-19 16:17] TrySound commented on #169
It exports as I can see. Show your config please.
https://unpkg.com/react-popper@0.10.4/dist/cjs/react-popper.js

[2018-05-19 16:46] soroushm commented on #169
Please Close Issue
//import Tabs, {Tab} from "@material-ui/core/Tabs";

Tab component was changed in material ui and break the code

[2018-05-19 16:59] TrySound commented on #169
@soroushm There is a close button.

[2018-05-19 18:03] #169 closed

[2018-05-19 18:35] #140 closed

[2018-05-23 15:55] alaindresse opened #170 "Making it easy to use an enclosing component as a boundariesElement"
I was trying to use a react div as a container for a popper. I managed to set it up in the following [codesandbox](https://codesandbox.io/s/kx05r8vx17).

I was wondering if a similar solution could not be added 'structurally' to react-popper. The usage would be something like:

[code]

The containerRef provided by the ContainerManager would set the boundariesElement that would then be passed to th

[2018-05-23 23:19] gormonn opened #171 "Click outside"
Click outside popup doesn't appear?

[2018-05-23 23:30] tashburn opened #172 "Tooltip fails to work with Material UI / Typescript / Next / Custom Server"
## Expected Behavior

Tooltips work.

## Current Behavior

When trying to use the Material UI 1.0.0 `Tooltip` with Next and Typescript, and visit `localhost:3000` with a browser, the following error happens in the console:

[code]

And the following error happens in the browser:

[code]

If I try `yarn add popper.js`, the following warning is produced and the errors above remain --

[code]

## Con

[2018-05-24 06:29] anirudhvarma12 opened #173 "Typings missing for referenceElement (tsx)"
### Reproduction demo
N/A?

### Steps to reproduce the problem

1.  Setup a react-typescript project.
2.  Add the `referenceElement` prop to the `Popper` component
3.  The ts compiler will complain about missing prop.

### What is the expected behavior?
It should compile without complains.

### What went wrong?
TS Compiler complains about missing `referenceElement` for the props.

### Any other co

[2018-05-24 06:41] FezVrasta commented on #171
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-05-24 06:41] #171 closed

[2018-05-24 10:32] #173 closed

[2018-05-24 10:33] FezVrasta commented on #168
It's not something I'm going to implement in this project.

[2018-05-24 10:33] #168 closed

[2018-05-24 10:33] #164 closed

[2018-05-24 10:33] #121 closed

[2018-05-24 20:04] giladgray opened #175 "what remains in 1.0?"
@FezVrasta how close are we to shipping official 1.0.0 here? are any features missing?

i'm happy to help out! let me know what can be done.

[2018-05-25 06:34] FezVrasta commented on #175
Thanks for the interest, there's #165 and I think we'd be good to ship the first stable

[2018-06-01 21:19] giladgray commented on #165
@FezVrasta does this change (adding `position: absolute` to arrow styles) belong in this library or in popper.js itself?

[2018-06-02 09:07] FezVrasta commented on #165
Good point. I think Popper.js sets `position` for the popper styles. If this is the case we should handle this at Popper.js level

[2018-06-04 03:14] ChristopherBiscardi opened #182 "beta.7 release"
I'm running into the infinite loop issue (#140) fixed by #166. I have a workaround from the thread in #140 working (so not time sensitive to the point where I would vendor react-popper), but I'd like to upgrade to the "official" solution at some point. It seems like master can be cut as beta.7 (build is passing) so can there be a release when you have a moment?

[2018-06-12 19:40] giladgray commented on #182
@FezVrasta any update here?

[2018-06-12 19:40] giladgray commented on #175
@FezVrasta update here? #165 should be fixed in popper itself, so i think there's nothing left to do here?

[2018-06-13 18:02] piecyk commented on #140
Just as note, one options is to memoize that function, tip from @jlongster https://twitter.com/jlongster/status/984844969751072768

example
https://codesandbox.io/s/2vrjjlm7jr

[2018-06-13 23:11] somewhatabstract opened #183 "Doesn't seem to work with React 15 although the README implies it should"
### Reproduction demo
[code]

https://codesandbox.io/s/zr96k9j483

### Steps to reproduce the problem

1.  Go to https://codesandbox.io/s/zr96k9j483

### What is the expected behavior?

It should work.

### What went wrong?

It crashes. I suspect because it is relying on some behavior of React 16 somewhere internally.

### Packages versions

- Popper.js:
- react-popper: 1.0.0@beta.6
- React: 15.6.

[2018-06-13 23:14] somewhatabstract commented on #183
Oh nevermind, just reading through the code, I now see that there should be ONE div around both popper and reference. Doh!

Closing.

[2018-06-13 23:14] #183 closed

[2018-06-14 00:06] ChristopherBiscardi commented on #182
yeah, that seems like it could be nicer (is the only benefit not using the additional class properties?), but tbh I already wrote/merged the code and don't plan on opening a PR to refactor it until beta.7 is out (Just so much to do lol).

We also use react-popper as the underlying infrastructure in our design system popovers and tooltips so I end up with 3 refs to handle in my `<Reference>`s (one

[2018-06-14 04:47] piecyk commented on #182
yeah 👍no refactor needed :) Just saying that basic there will be no difference with beta.7 innerRef vs memoize setter of ref

[2018-06-14 07:44] FezVrasta commented on #183
It's also pointed out in the readme:

[2018-06-14 07:44] #175 closed

[2018-06-14 07:48] #182 closed

[2018-06-14 07:48] FezVrasta commented on #182
Published 1.0.0

[2018-06-14 07:49] FezVrasta commented on #165
Closing, it's a problem that must be fixed in Popper.js itself

[2018-06-14 07:49] #165 closed

[2018-06-14 16:48] somewhatabstract commented on #183
@FezVrasta Yes, I saw that but had misinterpreted it and put them both into their own divs. As soon as I realised my mistake in interpreting that, all was well. Thank you!

[2018-06-14 16:49] FezVrasta commented on #183
If you can think of a better wording please send a PR to improve it

[2018-06-14 19:57] oliviertassinari commented on #172
@tashburn I'm in the process of upgrading Material-UI to react-popper@1. Let's see if this fix the problem.

[2018-06-14 20:30] tashburn commented on #172
@oliviertassinari Fabulous. If you let me know when it's out, I'll test it with my sample repo.

[2018-06-14 21:38] oliviertassinari commented on #172
https://github.com/mui-org/material-ui/pull/11862

[2018-06-15 08:34] FezVrasta commented on #172
@oliviertassinari does this fix the OP problem?

[2018-06-15 08:38] oliviertassinari commented on #172
I don't know.

[2018-06-15 21:39] tashburn commented on #172
@FezVrasta I can check once the new `material-ui` version is obtainable via `yarn`.

[2018-06-15 23:16] gdehmlow opened #184 "Popper doesn't stay positioned if reference moves"
Am I misunderstanding the purpose of `react-popper` or am I doing something stupid here? I would expect that if the reference were to move, that the popper would follow it. But that doesn't seem to be the case - I *have* to call `scheduleUpdate()` to keep it positioned correctly. This means my tooltips need to be aware of everything that could possible happen that would move them, which is infeasi

[2018-06-15 23:39] gdehmlow commented on #184
Yeah the more I think about this the more it seems like this is impossible to handle generally.

[2018-06-15 23:39] #184 closed

[2018-06-18 00:06] hmaurer opened #185 "Performance issues on a large number of poppers"
Hello,

I am running into rendering performance issues while using react-popper through BlueprintJS (their [tooltip component](http://blueprintjs.com/docs/v2/#core/components/tooltip) is backed by react-popper). When using a large number (365) of tooltips (aka a large number of react-popper manager + target combination), the initial render is very slow (hundreds of milliseconds).

I will create a

[2018-06-18 07:31] yanshiyason opened #186 "rest of arrow props not making it through"
Hi, I was trying to update the arrow position through the `arrow` modifier, and for some reason, the `fn` property was not getting called.

I think I located the problem [here](https://github.com/FezVrasta/react-popper/blob/c3bb52bf8459d1c3229622d2785f9921ba83c710/src/Popper.js#L98).

The `arrow` prop can has the `BaseModifier ` signature & some but it's not accounted for in the line above. I will

[2018-06-18 20:00] giladgray commented on #185
@hmaurer try setting `usePortal={false}` on your tooltips. that will hopefully have a significant effect on performance.

[2018-06-20 13:52] juanmaguitar opened #187 "Getting error "Missing class properties transform" when first "yarn demo:dev""
I just cloned the repo and after installing the dependencies i'm getting an error when `yarn demo:dev`

### Steps to reproduce the problem

[code]

### What is the expected behavior?

A local dev server should be launched

### What went wrong?

I'm getting this

[code]

### Packages versions

- Popper.js: 1.14.1
- react-popper: 1.0.0

[2018-06-20 16:58] juanmaguitar commented on #187
It returns different points of errors at different times...

[code]

[code]

It's like is not taking into account the [`transform-class-properties`](https://babeljs.io/docs/en/babel-plugin-transform-class-properties) that should be included in the [`stage-2`](https://babeljs.io/docs/en/babel-preset-stage-2/) properly configured at the `.babelrc`

[code]

[2018-06-20 17:06] FezVrasta commented on #187
That's Parcel failing to provide the MVP they advise with their product... I'll take a look when I have some free time if nobody sends a PR to fix it earlier.

[2018-06-20 17:08] juanmaguitar commented on #187
For the record, installing the proper babel plugin `yarn add babel-plugin-transform-class-properties` and adding the plugin `transform-class-properties` to the `.babelrc` configuration solve the problem for me
[code]

But this plugin shouldn't be needed to be added because it's included in the`stage-2` preset

[2018-06-20 17:16] juanmaguitar commented on #187
The PR with my fix: https://github.com/FezVrasta/react-popper/pull/188

[2018-06-21 07:59] juanmaguitar commented on #187
Closed as fix was merged w/ https://github.com/FezVrasta/react-popper/pull/188

[2018-06-21 07:59] #187 closed

[2018-06-23 08:13] krizpoon commented on #185
Recently I encountered the same issue. I was using Material-UI v1.2.1 Tooltip component on every table cell on a table with about 300 cells. It took 9 seconds to render in Safari (in Chrome it's only fraction of a second though). My solution is to add a mouse hover timer and only render the tooltip if mouse cursor is over for 500ms. I don't need the tooltip to show up immediately so it's ok. Table

[2018-06-23 14:37] rosskevin commented on #185
Material-ui just reverted to pre-1.0 release due to this performance concern.

https://github.com/mui-org/material-ui/pull/11920
https://github.com/mui-org/material-ui/issues/11913

[2018-06-26 02:09] #186 closed

[2018-06-27 09:48] alexandernanberg opened #190 "Placement issues when rerendering children with different data"
### Reproduction demo

https://codesandbox.io/s/qv86zl9l24

### Steps to reproduce the problem

1.  Write "top" in the input field
2.  Select the "top-end" option
3.  Remove text inside the input field so that the value is "top" again
4. The popper element (autocomplete menu) will now overlap the reference element (the input field)

### What is the expected behavior?
That the popper element will r

[2018-06-27 10:09] galileo303 opened #191 "hi here is my issues , coming"
### Reproduction demo

when I  use material-ui ,with react-popper,here's a TypeError
Object(...)(...) is not a function
in Popper.js  at line 132.
its look like unwrapArray has something wrong?
### Steps to reproduce the problem

1.  import { Manager, Popper } from "react-popper";
2. class HeaderLinks extends React.Component:
 render:
         <Manager className={classes.manager}>

          <Popp

[2018-06-27 10:16] FezVrasta commented on #190
yes it looks like Popper.js isn't able to compute the dropdown dimensions, probably because they change _after_ Popper.js measured them.

Ideally downshift should provide a way to call `scheduleUpdate` when the dropdown is re-rendered.

Or maybe it's enough to rely on the React life cycle methods, like I did here:
https://codesandbox.io/s/qkm58q0l4w

[2018-06-27 10:16] #190 closed

[2018-06-27 10:17] FezVrasta commented on #191
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-06-27 10:17] #191 closed

[2018-06-27 10:57] galileo303 opened #192 "TypeError: Object(...)(...) is not a function"
### What went wrong?

react-popper/lib/esm/Popper.js:132
11 | import { safeInvoke, unwrapArray } from './utils';
...
  130 |   key: 'render',
  131 |   value: function render() {

  133 |       ref: this.setPopperNode,
  134 |       style: this.getPopperStyle(),
  135 |       placement: this.getPopperPlacement(

react-popper/lib/esm/utils.js:8
export var unwrapArray = function unwrapArray(arg) {

[2018-06-27 11:15] FezVrasta commented on #192
Sorry, I can't help if you don't provide the reproducible example, it seems like a problem related to your own project code anyway, nothing I can help you with.

[2018-06-27 11:15] #192 closed

[2018-06-27 11:16] FezVrasta commented on #172
@tashburn any updates?

[2018-06-27 12:23] alexandernanberg commented on #190
@FezVrasta Yea and `Downshift` actually provides a prop that handles that; `onStateChange`. The problem is that I have to "lift up" the `scheduleUpdate` function to be able to call it inside the `onStateChange` method. Like this https://codesandbox.io/s/oq9pj2288q. Doing this feels a lot like an anti-pattern imo.

Tried using the life cycle methods but they caused infinite-loops instead, if you ad

[2018-06-28 07:49] alexandernanberg commented on #190
Ah, I'll play around with the solutions you proposed! Thank you for taking your time to answering this 😄

[2018-06-28 09:51] bogdansoare commented on #168
why don't you want to integrate tooltips? I think it's the number 1 use case for popper and right now for react there aren't really decent tooltip libraries

could you at least provide an example on how you would implement a tooltip with react-popper?

[2018-06-28 17:05] tashburn commented on #172
Since
@material-ui/core 1.2 to 1.3
typescript 2.9.1 to 2.9.2
"next": "6.0.3",

[2018-06-28 17:07] oliviertassinari commented on #172
@tashburn I plan on revamping the tooltip implementation this weekend on Material-UI side. It's a mess right now. I will most likely use popper.js directly.

[2018-06-28 17:10] FezVrasta commented on #172
I'd rather get help here to make react-popper work in your case, but it's up to you 😢

[2018-06-28 17:13] tashburn commented on #172
@oliviertassinari Thanks for the update. I just checked to see if the new `@material-ui/core` version 1.3 fixed this tooltip issue I had with version 1.2 (same issue).

[2018-06-28 17:20] oliviertassinari commented on #172
@FezVrasta Don't worry, the motivation for using popper.js directly is around the problems react popper solves. Digging into the implementation, I see an opportunity to make the implementation simpler & more lightweight. It might not execute. I will see how that goes.

[2018-07-03 08:12] behzads opened #194 "Configuring flip functionality breaks the flipping"
Hi,

Configuring flip using modifiers breaks the flipping functionality.
This is a blocker issue for us, I've made an example to see it in action.
https://stackblitz.com/edit/react-wp6kam?file=index.js

Thanks

[2018-07-04 11:48] jamiewinder opened #195 "Expose ManagerContext"
I'm upgrading a library of mine to use the newest version of React-Popper. One of the things my library adds is the ability to use a 'fake' reference rather than a component (similar to [how Popper.js allows for a referenceObject to be used](https://popper.js.org/popper-documentation.html#referenceObject)).

This is what it looked like (in TypeScript):
[code]
As you can see, this uses the `popperM

[2018-07-04 11:49] FezVrasta commented on #195
https://github.com/FezVrasta/react-popper#usage-without-a-reference-htmlelement

[2018-07-04 11:49] #195 closed

[2018-07-04 11:51] jamiewinder commented on #195
Wow that was quick! Thanks. And sorry I didn't think to check the README as I thought it was a bit of a weird use case.

[2018-07-05 13:52] behzads commented on #194
Any updates on this issue?

[2018-07-05 19:51] ricokahler opened #196 "Typescript: [ts] Module '"react-popper"' has no exported member 'Reference'."
### Reproduction demo

![image](https://user-images.githubusercontent.com/10551026/42344329-0341afc8-806a-11e8-82db-303a48a4d8cb.png)

### Steps to reproduce the problem

1.  find/create a ts-react app
2.  install `react-popper`
3.  try to import `Reference`

### What is the expected behavior?

Working import

### What went wrong?

I may be missing something, but it looks like the typings that com

[2018-07-05 20:19] FezVrasta commented on #196
https://github.com/FezVrasta/react-popper/blob/master/typings/react-popper.d.ts

These are the types. Are you maybe using external types from def typed that are overriding the built in ones?

[2018-07-06 11:44] FezVrasta commented on #196
I'm not sure, sorry.

[2018-07-06 11:44] #196 closed

[2018-07-07 20:44] oliviertassinari commented on #185
@rosskevin I'm removing react-popper from Material-UI. The v1.0.0 leak regression was a good opportunity for me to dive into the internals of react-popper. I disagree with some of the tradeoffs that have been taken here. For instance, the usage of the context increases the bundle size, introduce a lot of rerendering for keeping everything up to date, makes tests harder with enzyme, etc.
Material-U

[2018-07-08 22:34] oliviertassinari commented on #185
@jquense I'm very grateful to all the work that was done! I will keep a close look at how things evolves here :). The more paths are explored the better choice you can try to make. My core issue isn't with `react-create-context`. It's structural. It's easy to use Popper.js nacked, I'm having a hard time seeing the need for a React wrapper, or something with more than 50 lines. On Material-UI, the

[2018-07-09 03:53] FezVrasta commented on #185
The main reason for the existence of this wrapper is to delegate all the DOM manipulations to React. You can save quite some lines of code of you strip out that part but the final result will not play as nicely

[2018-07-09 04:03] jquense commented on #185
It should also be said that react-popper is only like 350 loc to begin with, it's not really a high cost dependency for most folks. 👍

[2018-07-10 17:24] ralphsmith80 opened #198 "Poppers are not getting placed properly"
### Reproduction demo

https://codesandbox.io/s/o54lj508r5

### Steps to reproduce the problem

1.  Run the demo provided

### What is the expected behavior?

Poppers should be visible around the reference element

### What went wrong?

I pulled out a small bit of the demo provided and converted it to JSS to try an understand why this wasn't working in a real world project. I'm stuck with the popp

[2018-07-10 17:28] FezVrasta commented on #198
I'd start looking at why the "Dot" components are not properly positioned, in the demo the tooltips are relative to them, so if they are not working properly everything may be related

[2018-07-10 23:40] ralphsmith80 commented on #198
It looks like there an issue with how `refs` are being handled. I've paired this down to just a react-popper example and the issue arises when the Popper has a nested Component.

[bare-react-popper example|https://codesandbox.io/s/rmknnvzw1m]
_If you comment out the second Popper that contains a Custom Component it works fine._

Note this works (nested div):

[code]

This does not (custom componen

[2018-07-10 23:42] danbriggs5 opened #199 "Maintain children ref"
Hello :)

I'm writing a simple tooltip that should be able to use any child as a reference component. I don't want to render any extra DOM nodes around my reference components. To do this, I am cloning the children and adding a ref tag.

Simplified example:

[code]

However, it's possible the child already has a ref, and I don't want to override it. So I am doing something like this:

[code]

Unfo

[2018-07-11 00:08] FezVrasta commented on #199
The problem I think is that you are defining a new function on every render, so it forces an update that goes into a loop. Try to define you combined ref setter outsie of your component.

[2018-07-11 00:08] #199 closed

[2018-07-11 00:11] FezVrasta commented on #198
with `<Dot ref={ref} />` you are getting the Dot instance, not its DOM node.

You should use `React.forwardRef` to make it return the underlaying DOM node.

[2018-07-11 00:11] #198 closed

[2018-07-11 00:15] danbriggs5 commented on #14
Hate to rewake an old issue, but just wondering if there is any way to handle this ref vs innerRef question in the v1.0.0 api?

I'm struggling to write a generic Tooltip component because I'm not sure if there is a clear way to determine when to use `ref` or `innerRef`. That is, a clear way to determine which to use from the tooltip component itself.

Here's how I'd like to use the tooltip:
[code]

[2018-07-11 00:17] FezVrasta commented on #14
`innerRef` is just a convention, a component may use any property to expose its inner ref, or just use `ref` directly with the new `React.forwardRef` helper.

So there's not a way to know it without some hint from the user.

[2018-07-11 00:48] ralphsmith80 commented on #198
Thanks @FezVrasta! I though I might be messing that up. I still need to see if this will translate to the jss example. Ref forwarding is suppose to be supported by `react-jss` so I'm not sure why that was working from my original example.

For other `Dot` now looks like this:

[code]

And the example work for the bare setup.

[2018-07-11 04:18] souporserious commented on #14
You might be able to use something like @P8TRO's answer above with `React.cloneElement` and `React.findDOMNode`. Contrived version might look like:

[code]

But I'd really try to use explicit refs like @FezVrasta described.

[2018-07-11 18:35] danbriggs5 commented on #199
Thanks for the quick response. That's ultimately what I ended up doing.

I guess it just seems a bit odd that it behaves this way since using an arrow function for a ref typically doesn't cause a loop :). I imagine it is just a result of the unique behaviour of the Reference component.

[2018-07-11 18:38] FezVrasta commented on #199
I'm open to suggestions to avoid this loop!

[2018-07-11 18:39] danbriggs5 commented on #14
Okay, got it. Thanks guys. Much appreciated :)

Has there been any more work done on the ideas mentioned in https://github.com/FezVrasta/react-popper/issues/79? I liked your idea of using ids. Seems to be a solid way to get around these ref complications.

[2018-07-14 21:31] giladgray commented on #185
it should also be said that the cost of a dependency is often not related to the amount of code it contains. yes we talk a lot about gzipped bytes these days, but it's quite possible that this new 1.0 API actually introduces significant performance regressions.

blueprint is also considering dropping react-popper and just using Popper.js directly. we shall se..

[2018-07-14 21:38] FezVrasta commented on #185
I'm honestly just trying to give a better product to you guys, "it's not possible" sounds a bit harsh, considering I do it in my free time.

If anyone of you wants to help that would be great.

[2018-07-14 21:51] oliviertassinari commented on #185
@giladgray I have been benchmarking blueprint, awesome work with the lib!
@FezVrasta The only real mistake is the one from which we learn nothing. Maybe the performance issue can simplify be fixed :).

[2018-07-14 21:58] jquense commented on #185
@FezVrasta I'm trying! did you see #197  ? You're doing a great job. I'm not sure why everyone is showing up here all entitled, it's especially disheartening from a bunch of OSS maintainers, to show up in an issue tracker complaining and "threatening" to not use it instead of offering actionable feedback. Ya'll should know better...

[2018-07-14 23:03] oliviertassinari commented on #185
This is pretty interesting. I would be eager to better understand this behavior. Is this because OSS maintainers have better empathy with other OSS maintainers? Is this becasue OSS maintainers have a different understanding of what OSS is? Or this something else, like OSS maintainer can be users too but with leverage and incentive. Anyway, I'm not looking for an answer. I'm just curious.

Speaking

[2018-07-15 02:57] FezVrasta commented on #185
About point one, I think it's that OSS maintainers know how it feels when a user comes and leaves such kind of comments, so they are the one that should understand it better and avoid to do it.

Regarding the point 2, both Popper.js and react-popper are exclusively designed to be used by library authors, the scope of Popper.js is too narrow to be useful alone, yet it's one of the most difficult th

[2018-07-15 10:55] giladgray commented on #185
hey folks, sorry for the salty comment 😞 thanks for calling me out and sparking an interesting discussion. no excuses from me.

i really do appreciate the work in both Popper.js and react-popper and i was overjoyed to see the new 1.0 APIs here (and actively pushed for its release) and then disheartened to hear about performance issues. Popper is, in my opinion, one of the greatest OSS libraries ou

[2018-07-15 15:35] FezVrasta commented on #185
@giladgray you can expose the `scheduleUpdate` trough the `Popper` component:

[code]

Docs: https://github.com/FezVrasta/react-popper#children

Does it answer your question?

[2018-07-20 13:50] martinmckenna opened #200 "InnerPopper re-rendering and setting state unnecessarily"
### What went wrong?

Upon submitting a form (which contains a material-ui tooltip, which relies on `InnerPopper`), I navigate the user to a different page. When this happens, I get this console error

[code]

### Any other comments?

I'm using material-ui v1.2.2.

It also seems like the InnerPopper is rendering on page scroll. Opening up React dev tools and highlighting re-renders shows me this

[2018-07-20 16:40] Justkant commented on #185
In relation to the performance problem on material-ui, I took a look at the reverted code and noticed that you were not using an instance method. (https://reactjs.org/docs/render-props.html#be-careful-when-using-render-props-with-reactpurecomponent)
Maybe this could be the root for the high number of re-renders.

[2018-07-20 16:47] FezVrasta commented on #200
This should fix it https://github.com/FezVrasta/react-popper/pull/197

[2018-07-22 03:01] shepmaster commented on #199
I too have been bitten by this. In my case, I'm trying to upgrade from 0.9.5 to 1.0.0. In previous versions I was able to use an arrow function, and I agree that using an arrow function for a `ref` *feels* very common.

Unfortunately, this doesn't seem to help in my case; I tried both moving it out to a public class field as well as to a free-floating function, but both continue to cause the infin

[2018-07-23 16:43] joaoribeirost-rr commented on #168
@FezVrasta , I believe you'd get a lot of traction for usage if tooltip.js could be used along with this project. There aren't any good alternatives!

[2018-07-25 15:32] diondiondion commented on #185
@FezVrasta I think what's not clear is what to do when you need to use `scheduleUpdate` in a parent's lifecycle method like `componentDidUpdate()` (or the now deprecated `componentWillReceiveProps()`), where you'd actually be able to conditionally trigger it depending on a change in props or state (for example when the content of a tooltip changes).
Having access to it within the render method doe

[2018-07-25 15:44] FezVrasta commented on #185
@diondiondion I guess you could just assign it to your upper component doing so:

[code]

[2018-07-27 12:41] Kadrian opened #202 "Popup not shown on hover"
### Reproduction demo

https://codesandbox.io/s/y7k66rkmoz

### Steps to reproduce the problem

1.  Open codesandbox
2. Paste example from Readme

### What is the expected behavior?

The popup shows upon hovering on the "Hover me" element.

### What went wrong?

The popup is always displayed, completely un-styled.

### Any other comments?

Maybe I'll need to import popper.js somehow before? Maybe

[2018-07-27 13:55] FezVrasta commented on #202
react-popper doesn't handle any show/hide logic, it's just handles positioning. Take a look at react-tippy for a full fledged tooltip component.

[2018-07-27 13:55] #202 closed

[2018-08-02 17:52] jonasfernandes opened #204 "se"
### Reproduction demo

### Steps to reproduce the problem

1.
2.
3.

### What is the expected behavior?

### What went wrong?

### Any other comments?

### Packages versions

- Popper.js:
- react-popper:

[2018-08-02 19:09] #204 closed

[2018-08-02 19:30] giladgray commented on #185
@diondiondion hit the nail on the head--that was precisely my confusion.

and we ended up doing what @FezVrasta suggests above but only out of necessity (https://github.com/palantir/blueprint/pull/2718). setting a scope variable like that is a last resort pattern, not very React-y. a ref to the Popper would be better.

[2018-08-03 07:12] FezVrasta commented on #185
@giladgray my example actually comes directly from the React documentation:

https://reactjs.org/docs/refs-and-the-dom.html#refs-and-functional-components

[2018-08-08 23:31] NathanCH commented on #98
This problem has wacked my project up. I installed the latest version of Reactstrap, saw this error, downgraded back to my old version but I still get the error. Deleted package.json, /node_modules/. Even downgraded to earlier version of Reactstrap.

Funny that both Reactstrap and Bootstrap teams continually have issues with Popper and Tether.

[2018-08-09 06:14] FezVrasta commented on #98
@TheSharpieOne what's the PR? And what's the problem with Rollup?

[2018-08-09 11:59] partyelite commented on #113
@borm  Did you solve this problem? Could you plz give an example how to solve it with setting visibility to hidden for poper initialize?

[2018-08-09 14:12] rborosak opened #206 "Poper placed incorrectly when created conditionally"
I'm using react-popper to show my calendar item above input element if there is no space bellow. My code is pretty straight foward
[code]

When my component is at the bottom of the screen and I press the button, calendar is diplayed bellow the input and vertical scrollbar appears. When I start scrolling my calendar repositions itself above the input element. After closing and opening it again ever

[2018-08-09 14:13] FezVrasta commented on #206
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-08-09 14:13] #206 closed

[2018-08-09 14:32] TheSharpieOne commented on #98
There were a few of them as the probably kept coming back. #128 shows the code that was being generated. Basically rollup couldn't determine what was being exported due to how it transpiled the `export ... from '...'`.
Also #127 #93

[2018-08-09 14:33] FezVrasta commented on #98
We don't use `export ... from '...'` in the current codebase 🤔

[2018-08-09 14:35] TheSharpieOne commented on #98
Yeah, it's already been fixed, the last comment (before today) was from a while ago.

[2018-08-09 14:36] FezVrasta commented on #98
Oh lol sorry

[2018-08-09 15:03] FezVrasta commented on #185
I just released v1.0.1, it should improve the performance if the library. May you guys give it a chance and report back please?

[2018-08-10 15:57] Vishal1419 commented on #185
have a look at this component guys: [react-callout-component](https://www.npmjs.com/package/react-callout-component)

[2018-08-14 15:29] bchoddny opened #208 "react-popper requirejs configuration"
Hi,
I've the following CDN links in my bower.json

    "react-popper": "https://unpkg.com/react-popper/dist/index.umd.js",
    "popper.js": "https://unpkg.com/popper.js",

My requirejs config has the following:
        'react-popper': '../components/react-popper/index',
        'popper': '../components/popper.js/index',

When I load the page, I keep getting the error, wondering why it is not picki

[2018-08-14 15:42] FezVrasta commented on #208
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-08-14 15:42] #208 closed

[2018-08-15 23:50] Offirmo opened #209 "Should we really install @next as stated in the doc?"
Documentation issue here.

Current popper version is `1.0.2`

The README prompts us to install `react-popper@next`, which installs `1.0.0-beta.6`

Shouldn't we drop the `@next` ?

[2018-08-16 08:47] FezVrasta commented on #209
That's right, the docs are outdated, please may you send a PR to fix it?

[2018-08-16 23:10] Offirmo commented on #202
@FezVrasta Shouldn't that be clearly outlined 1 thing on top of the README?

https://popper.js.org/ hints strongly at tooltips.

[2018-08-16 23:11] Offirmo commented on #209
Will do.

[2018-08-17 06:57] FezVrasta commented on #202
@Offirmo the Popper.js website mentions tooltips just twice, one as an example of something you can position with it, and once to guide the user to Tooltip.js, the library specialized in tooltips logic.

The example doesn't work as intended because the popper element is a `div` with its default `100%` width.

[2018-08-17 06:58] #209 closed

[2018-08-23 09:47] doneumark opened #212 "Rendering tooltip-arrow with "referenceElement""
Hi, I'm trying to create a popper that uses DOM Element to create some kind of a tooltip.
I need the Arrow component to work, and I can't managed to understand how to add it to my implementation:
[code]

This current code, produce a regular div as a tooltip, with no arrows.

[2018-08-23 10:12] FezVrasta commented on #212
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-08-23 10:12] #212 closed

[2018-08-23 10:22] doneumark opened #213 "Rendering an arrow and stying, with referenceElement"
**Steps to reproduce the problem**
1.  I'm trying to reproduce a tooltip-like behavior, with a referenceElement. My code is the following:
[code]
2.  In the page, the "tooltip" is on the right from the DOM element, but with no arrow.
3.  If I would like the arrow to be shown and be pointed to the element at all placement he get, and also style the "tooltip" itself, how can I do that?

**What is th

[2018-08-23 10:41] FezVrasta commented on #213
Sorry I really need the codepen/codesandbox repro, otherwise I can't help you.

[2018-08-23 11:48] doneumark commented on #213
Added: https://codesandbox.io/s/r0lrlk54qp

[2018-08-23 11:52] FezVrasta commented on #213
You have to style your arrow to make it visible somehow. Take a look at the demo page to see an example.

https://codesandbox.io/s/qkzk25lj8j

[2018-08-23 11:52] #213 closed

[2018-08-23 11:53] doneumark commented on #213
So to style its position for the tooltip I need to condition-style the arrow?

[2018-08-23 11:54] doneumark commented on #213
Meaning the direction the arrow is pointing at.

[2018-08-23 11:55] FezVrasta commented on #213
react-popper only provides the `left` or `top` offset of the arrow, all the styling is deferred to the consumer.

[2018-08-23 12:00] doneumark commented on #213
And is there a way to use the already made Arrow component so I wouldn't have to handle the direction the arrow is pointing?
Or that if I want to use the 'referenceElement' prop, I have to manually design and implement the arrow myself?

[2018-08-23 12:02] FezVrasta commented on #213
You can copy the one of the demo, but the library doesn't provide any style except for the positions.

[2018-08-28 17:55] borm commented on #113
nope

[2018-09-01 05:52] denisborovikov commented on #168
Hi guys, please take a look at [react-popper-tooltip](https://github.com/mohsinulhaq/react-popper-tooltip) (this is not an official library).

[2018-09-06 20:54] willyyang opened #214 "Safari - popover jolt (again)"
Regression as this is the same issue as https://github.com/FezVrasta/react-popper/issues/131

### CodePen demo
https://codesandbox.io/s/o40ok5wy8y

### Steps to reproduce the problem

1.  Click on Reference Element

### What is the expected behavior?

Expected the target's arrow to be in place when it's visible without the initial jolt into position

### What went wrong?

The arrow has a jerk/jolt

[2018-09-07 09:16] larrydahooster commented on #214
Yeah, I can confirm it. Having the same behaviour in Safari.
![sep-07-2018 11-15-22](https://user-images.githubusercontent.com/4989851/45210294-75ba2100-b28f-11e8-8e43-be541cdb5744.gif)

[2018-09-12 12:36] yairEO commented on #206
I'm scratching my head on how to actually use `scheduleUpdate` conditionally inside JSX with some state changes..

[2018-09-12 12:50] FezVrasta commented on #206
#190 has some good insights

[2018-09-12 13:31] yairEO commented on #206
I've read that other thread before posting my comment, and could not understand what is this mysterious

    <DownShift onStateChange

I mean, where that THIS comes from? i googled `onStateChange` got nothing.

posted my question on [stackoverflow](https://stackoverflow.com/q/52295640/104380)

[2018-09-12 14:54] FezVrasta commented on #206
I replied to your StackOverflow question.

[2018-09-14 14:18] willyyang commented on #214
@FezVrasta any input? :)

[2018-09-14 14:27] FezVrasta commented on #214
I can't reproduce :-( If anyone wants to take a shot at a PR please do it

[2018-09-14 14:33] willyyang commented on #214
:( You can see it on https://codesandbox.io/s/o40ok5wy8y ( in Safari)

[2018-09-16 11:49] yairEO opened #215 "Passing "ref" to Popper child component trigger 4 renders"
First, thanks a lot for the help you've provided on stackoverflow!
Very much appropriated.

I have a problem where I've narrowed it down to

## My code:

    <Manager>
        <Reference>
            {({ ref }) => (
                <button type="button" className='primary' ref={ref} onClick={this.events.onDateRangeBtnClick}>{this.state.dateRangeTextValue}</button>
            )}
        </Referenc

[2018-09-18 22:49] dvp0 opened #216 "No way to stick to position initially decided by the flip modifier"
https://codesandbox.io/s/yj0l1w5yrj

I want popper flip functionality to decide initial placement and than want to turn off the flip automation. In other words, want it to stick to that initial placement regardless of how I scroll.

Any way to do this easily ?

[2018-09-20 09:57] adityatandon007 opened #217 "OnClick not working on mobile devices"
Here is a section of my code using react-popper:

             `<Reference>
                    {({ ref }) => (

                        <i className="icon icon-down-arrow" ref={ref} onClick={this.handlePopperClick}/>

                    )}
                    </Reference>
                    {this.state.isPopoverShown &&
                        <Popper placement="bottom">

[2018-09-20 13:27] FezVrasta commented on #216
You may achieve this by disabling the `flip` modifier after you received a new `placement` from the `onUpdate` callback.

[2018-09-20 13:27] #216 closed

[2018-09-20 13:33] FezVrasta commented on #215
So... The first time it's called while the popper instance is still being initialized.

I think it's called again after you child component renders and calls the `ref` callback.

Then it's called again once you get a valid popper instance, in this instance, you will also receive proper `style`, `placement` etc props.

I'm not sure about the 4th render, maybe I'm missing something.

[2018-09-20 18:58] dvp0 commented on #216
@FezVrasta There is no onUpdate in react-select@1.0.2 :)

interface PopperProps {
  children: (props: PopperChildrenProps) => React.ReactNode;
  eventsEnabled?: boolean;
  innerRef?: RefHandler;
  modifiers?: PopperJS.Modifiers;
  placement?: PopperJS.Placement;
  positionFixed?: boolean;
  referenceElement?: PopperJS.ReferenceObject;
}

[2018-09-20 19:48] yairEO commented on #215
Thank you for the clarifications. Just seems to me like performance issue.
In my case I have a button which renders the popper (like you answered me on stackoverflow) and every time the button is clicked the `<PopperElement>` component's `render` fires 4 times and I don't think that's so good in general :)

But I guess there's not much I can do about it... this is how React works apperently

[2018-09-20 20:11] FezVrasta commented on #215
Consider that in React the DOM is not actually updated if it's not needed

[2018-09-20 20:12] FezVrasta commented on #216
You can also define a custom modifier to mimic the onUpdate callback. Just run it after all the other modifiers

[2018-09-20 21:34] adityatandon007 opened #218 "onClick doesn't work on mobile device"
This is in reference to an earlier closed issue #217
### Reproduction demo

### Steps to reproduce the problem

1.  https://codesandbox.io/s/842xlk8v99

### What is the expected behavior?
First of all I am not able to reproduce my original bug in codesandbox. The issue is with the `onClick` attached to the div. It doesn't fire in mobile devices. I am using react 15.6.0

The onClick event should fi

[2018-09-21 13:30] adityatandon007 commented on #218
@FezVrasta any help would be great.

[2018-09-21 15:39] FezVrasta commented on #218
Sorry without a working demo I can't help.

[2018-09-24 10:20] adityatandon007 commented on #218
@FezVrasta I have come to the conclusion of why click on mobile wasn't working in my case. Basically the issue is with chrome only, in other browsers it was working and so I researched a bit and got that chrome made some breaking changes for handling touches and because I was preventing default and handling it myself it wasn't working. Here is quick reference https://github.com/facebook/react/issu

[2018-09-24 11:27] #218 closed

[2018-09-25 21:54] ebemunk commented on #199
I ran into this too, pulling the `ref` prop value as a class method, or completely outside of it made no difference in my case, same as @shepmaster. Invoking `ref` as a method with the node seems to be the problem.

My workaround was to wrap another div inside and attach my own ref to that instead.

[2018-09-26 17:27] jackson-sandland commented on #73
Bueller? Would be great to know if the solution a hack or considered idiomatic. :)

[2018-09-26 17:29] FezVrasta commented on #73
the modifier system is at the core of Popper.js, feel free to use it, definitely not an hack!

[2018-09-28 12:34] faninv opened #220 "Delete"
Delete

[2018-09-28 12:36] #220 closed

[2018-10-08 12:52] mohsinulhaq opened #223 "Popper input focus issue"
### Reproduction demo
https://vyljw1lpjy.codesandbox.io/

### Steps to reproduce the problem

1. Have the reference such that it's not visible when you scroll to top.
2.  Keep an input as popper that focuses itself on mount.
3.  Trigger the popper

### What is the issue?
Since initially the popper renders at `top: 0` and `left: 0`, the focus make the scroll jump to top.
I would need a hook for whe

[2018-10-08 13:18] FezVrasta commented on #223
Thanks for the issue.

Maybe you can set `autoFocus` to `false` until react-popper properly set the offsets?

[2018-10-08 13:34] mohsinulhaq commented on #223
okay, but how do you suggest I do that? polling?

[2018-10-08 13:36] FezVrasta commented on #223
You can listen to the first `onUpdate` callback

[2018-10-08 14:12] mohsinulhaq commented on #223
I'm sorry, but it's not clear on the docs where to send the defaults onUpdate prop. Could you please help? Apologies if I missed it.

[2018-10-08 14:49] mohsinulhaq commented on #223
Yes, that would do. Thanks a lot. By the way, awesome library! I have created a tooltip library on top of it.  https://github.com/mohsinulhaq/react-popper-tooltip
Thanks for your library! 😃
Closing the issue.

[2018-10-08 14:49] #223 closed

[2018-10-10 14:30] ekohl opened #226 "Allow warning 4.x"
Warning 4.x is out. The breaking changes are a license change and internals. Updating it shouldn't cause issues.

[2018-10-11 03:27] denchen opened #227 "Changing popper div size and repositioning"
This is not a bug, but more of a "How can I..." or "Is it possible to..." question.

Background: I'm using `react-popper` as part of a filterable input dropdown component. In other words, it acts like `<select>`, but you can type in the `<input>` field to narrow down the options.  The `<input>` field is the Reference, and the list of options being the Popper. (In my actual code, I'm also using Dow

[2018-10-11 05:02] denchen commented on #227
I was too quick to submit an issue. I didn't realize `react-popper` exposes `scheduleUpdate()`. I was able to use this in my `renderRows()` function in my Codebox, and it works as expected.

[2018-10-11 05:02] #227 closed

[2018-10-12 12:38] asturur opened #228 "Exposing PoppperJS trough the library"
Hi everyone,

Hi recently opened #224 that i realize is a poor solution to the problem.

The problem is that you may need to access to popper defaults in order to build an object that is compatible with the propTypes.

Matching your Popper with the one from react-popper is complicated and if often get a double boundling with webpack.

I would like to suggest to add PopperJS to the exports of react

[2018-10-15 16:45] janizde commented on #199
In my case I call the ref manually in the callback, as I pass it a DOM node which is not in the subtree of the `Reference` component. This has worked fine in previous versions of the module.

I looked into the code and found out that `getReferenceRef` always updates the state, regardless of the reference actually changing. Is this intended? Could there be a check if the refs are unequal or would i

[2018-10-15 21:34] bgando opened #229 "`arrowProps.style.left` and `arrowProps.style.top` not updating"
### Reproduction demo

https://codesandbox.io/s/40o490xm5w

### Steps to reproduce the problem

1.  `console.log(arrowProps.style)` within the popper element
2.  resize window or move reference element
3.  `arrowProps.style` does not update the `left` or `top` props

### What is the expected behavior?
I'd expect the `arrowProps.style.left` prop to track the reference element.

### What went wrong?

[2018-10-17 09:05] inooid opened #230 "Fixed width within Popper with Arrow, causes displacement"
### Reproduction demo
https://codesandbox.io/s/5kqxnrprok

![image](https://user-images.githubusercontent.com/1291263/47075198-56060900-d1fc-11e8-8d4f-ac7a9ea49bb1.png)

### Steps to reproduce the problem
1.  If you add `ref={arrowProps.ref}` to the arrow div, it completely misplaces the entire popper element

### What is the expected behavior?
It shows the popper like the example without the arro

[2018-10-17 10:41] mohsinulhaq commented on #223
hey I was wondering why haven't you made all you components as PureComponent?

[2018-10-17 10:42] mohsinulhaq commented on #223
![image](https://user-images.githubusercontent.com/7688231/47081097-5667c980-d227-11e8-8d47-4687376afc36.png)
I am asking this because I see this warning using `why-did-you-update` on every render

[2018-10-17 14:48] cyberwombat commented on #169
I have same issue and there is nothing named Target anywhere in the `1.0.2` package except in changelog.

[2018-10-17 14:50] TrySound commented on #169
@cyberwombat And what changelog said about it?

[2018-10-17 14:54] cyberwombat commented on #169
Latest entry  in changelog says: `Change `Target`, `Popper`, and `Arrow` component's `tag` prop to `component` to allow custom components to be passed in.`

Not sure what that means and how that means that Target is gone. I don't see a reference to "Target" on the online https://github.com/souporserious/react-popper/releases

[2018-10-17 14:55] TrySound commented on #169
Seems like changelog is not full. `Target` is renamed to `Reference`.

[2018-10-18 06:44] mohsinulhaq commented on #223
@FezVrasta ?

[2018-10-18 07:17] FezVrasta commented on #223
Sorry I'm on vacation. Feel free to send a PR to reduce the avoidable rerenders

[2018-10-19 15:40] jjenzz opened #232 "preventOverflow.boundariesElement modifier not working as understood for scrollParent"
I'm getting the same issue as https://github.com/FezVrasta/react-popper/issues/72 which was previously closed. I have the latest version of `react-popper` which uses a version of `popper` that is newer than the one mentioned in that issue.

I've also tried passing a reference to the element without luck:
https://codesandbox.io/s/r72vn14znq

I expected that the popper would flip or move to remain i

[2018-10-21 17:21] Madyuskin opened #233 "How to change Popper.Defaults.modifiers..."
Hello, I use reactstrap and I need to change a static property.
The creation of Popper is deep inside.
I cannot pass props to it.

How can I set the following?

Popper.Defaults.modifiers.computeStyle.gpuAcceleration = false;

[2018-10-22 10:09] jjenzz commented on #232
I have tried with Popper.js and react-popper but both behave differenty:

Popper.js: https://codesandbox.io/s/2x0rk3w3or
React Popper: https://codesandbox.io/s/r72vn14znq

I've remove `escapeWithReference` for now to reduce the variables. It seems these above examples should at least be consistent?

[2018-10-22 11:53] seancurtis commented on #232
You don't need some of those modifiers. Take a look at this: https://codesandbox.io/s/lxj18m6zw7

You need `positionFixed: true` because that will allow an element to break outside a scrollParent (without using a portal), and then only the `escapeWithReference` modifier for `preventOverflow`. You weren't passing the styles from the render props to the Popper reference element either (that's how po

[2018-10-22 12:00] seancurtis commented on #232
If you don't want it to escape, but instead just want to hide it, you need to use the `outOfBoundaries` render prop and do something with the styles, eg use opacity like this: https://codesandbox.io/s/w7n5m153x5