[2018-10-22 13:00] jjenzz commented on #232
That is super helpful @seancurtis ... Your `outOfBoundaries` example is exactly what I was trying to achieve. Thank you 🙂

[2018-10-22 13:00] #232 closed

[2018-10-23 14:26] mgroenhoff opened #234 "Missing (peer-)dependency on @types/react"
`react-popper` is missing a (peer-)dependency on `@types/react`.

[2018-10-23 14:57] TrySound commented on #234
It will be annoying for not typescript users.

[2018-10-23 15:22] mgroenhoff commented on #234
It will also be a hell for TypeScript users to install every missing required dependency by themselves. `react-popper` chose to include TypeScript types so it should also take the responsibility to declare it's dependencies. Non-TypeScript users wil not notice the difference.

[2018-10-23 18:38] TrySound commented on #234
Well, then it should be a direct dependency, but not peer.

[2018-10-23 18:39] TrySound commented on #234
I also don't think you will miss to add react in react-ts project.

[2018-10-23 20:18] mgroenhoff commented on #234
A direct dependency would be perfect.

I think you are missing the point here. If you have a dependency on a 3rd party dependency you add it to your package.json instead of asking users to also add this package as a dependency in the documentation. If everybody does not add their @@types@ dependencies because it is "annoying" then we might as well just push them all back to DefinitelyTyped. Then t

[2018-10-24 12:28] #234 closed

[2018-10-24 19:08] funktr0n opened #236 "Doesn't work on React >= 16.3.0"
Hey guys, it seems this library doesn't work on React versions greater than 16.3.0.  As the readme doesn't explicitly say that this is the case, I was just wondering what the expectation should be.

### Reproduction demo

https://codesandbox.io/s/82z77xw7v8

### Steps to reproduce the problem

1.  Update dependency from React 16.2 to React 16.3

### What is the expected behavior?

I would expect t

[2018-10-24 19:42] funktr0n commented on #236
Realized that I needed to change `React-Dom` to match the `React` package used -- everything works as expected after doing that.

[2018-10-24 19:42] #236 closed

[2018-11-01 20:03] ivanakimov opened #238 "Any special cases where css transform is not applied?"
Quick question: are there any scenarios where `transform: translate3d(...)` is not added to `<Popper />`? Half of my poppers don't have the right position (anchored at the top left) and it looks like the only difference is `transform` is not applied on those..

**edit:** actually analyzing the `style` property, looks like it's returned as `translate3d(NaNpx, NaNpx, 0)` in a few cases.

[2018-11-02 07:18] FezVrasta commented on #238
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-11-02 07:18] #238 closed

[2018-11-06 09:38] 1pete opened #239 "remove @types/react from dependencies"
From #234, I think library shouldn't include types of other dependencies. If types has to be in dependencies, it has to be in react project itself, so other dependencies those depend on it, don't have to make the redundancy.

I have tons of examples
react-dropzone: https://github.com/react-dropzone/react-dropzone/blob/master/package.json
react-datepicker: https://github.com/Hacker0x01/react-datepi

[2018-11-06 11:03] FezVrasta commented on #239
react-popper types require React types, so it's correct to have them in the dependencies list.

[2018-11-08 12:52] FezVrasta commented on #233
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-11-08 12:52] #233 closed

[2018-11-08 12:53] #185 closed

[2018-11-08 12:53] FezVrasta commented on #229
I answered your question on our spectrum.chat

[2018-11-08 12:53] #229 closed

[2018-11-08 12:53] FezVrasta commented on #226
Feel free to send a PR please!

[2018-11-08 12:54] ekohl commented on #226
Do you prefer to change it to `^4.0.0` or `>= 3.0.0 < 5.0.0`?

[2018-11-08 12:56] FezVrasta commented on #226
I think the second is better, if both can work I can see the value in allowing both

[2018-11-08 13:02] #226 closed

[2018-11-12 15:33] bezrodnov commented on #199
Hi,
I have faced the same issue too, and seems like there is only one workaround (suggested by @ebemunk) - add one more div and attach ref to it, .
However this solution looks like a HACK, it adds a surplus node in the DOM for each popper.
I have also tried to add reference change check inside Manager.getReferenceRef (suggested by @janizde), however it did not help.

[2018-11-14 10:07] Strnadj commented on #239
@FezVrasta what is the solution? I always have to manually remove `@types/react` from `node_modules/react-popper` otherwise it conflicts with `@types/react` installed in project dependencies. It causes very ugly errors like:

[code]

as @1pete mentions, it can be solved (as examples).

Next thing is types (`@types/react`) are in `dependencies` and `devDependencies` ... twice

[2018-11-14 12:29] Strnadj commented on #239
What about moving TypeScript definitions to https://github.com/DefinitelyTyped/DefinitelyTyped and that is all... For those who want it, install `@types/react-popper`....

[2018-11-14 12:31] FezVrasta commented on #239
Yes that'd be a good idea but then I will not even try to maintain them anymore.

Honestly I thought it would be easy to ship those types with the library, with Popper.js (which is not typed) I just added a `popper.js.flow` file with the types and it just works, I thought it would have been the same with TS here...

[2018-11-14 12:34] FezVrasta commented on #172
I'm going to close this for inactivity, I suppose the problem has been fixed already. If not please reply here.

[2018-11-14 12:34] #172 closed

[2018-11-14 12:34] FezVrasta commented on #170
Hi, sorry for the delay.

I don't want to add APIs on top of Popper.js, I'd like to keep this as a thin layer between Popper.js and React.

[2018-11-14 12:34] #170 closed

[2018-11-14 12:35] #200 closed

[2018-11-14 12:36] FezVrasta commented on #228
For anyone interested in a solution, I expressed my opinion in #244.

[2018-11-14 12:36] #228 closed

[2018-11-14 15:32] FezVrasta opened #241 "Experiment a new hooks based API"
I'd like to add, on top of the existing render-props based API, a way to use react-popper with the new React hooks.

I can think of a possible API to look like the following:

[code]

I still have to think of a way to allow multiple poppers handled by the same reference, I think a possibility would be to expose an utility that merges `reference.ref` into a single one:

[code]

What do you think? S

[2018-11-15 11:05] rogierschouten commented on #239
@FezVrasta  the real solution is to make  @types/react both a peerDependency and a devDependency.  The peerDependency should preferably have a "*" version or a version range.

[2018-11-15 12:35] 1pete commented on #239
@rogierschouten no, that is an absurd move because every application has to declare @types/react as dependencies regardless it uses typescript or not

I have 2 suggestions
1. **(Recommended) In this project, just declare @types/react in devDependencies** (or **completely remove from everywhere**)
  so applications those use typescript and this library, they has to add @types/react to their own pac

[2018-11-15 21:40] JLarky commented on #239
my thoughts on that exactly! If only people could see that Clojure just works and used it instead of JavaScript ;(

[2018-11-15 23:33] mhayes commented on #236
@funktr0n Was just running into a similar issue with `react@16.6` and realized `react-dom` wasn't a matching version. Thank you for reporting the fix!

[2018-11-16 14:55] thielium commented on #199
Great comment here: https://github.com/FezVrasta/react-popper/issues/140#issuecomment-397031037.

Define the function to handle your refs externally and memoize it.

[2018-11-17 03:40] SidKH commented on #241
Looks awesome!

Merge ref utility sounds like a great solution. Should be easy to implement as well
[code]

Also in multiple poppers example a thing to keep in mind is that change in a state of first `usePopper` will trigger re-render of component and therefore calls second `usePopper` and vise versa but since react-popper already has checks to prevent unnecessary re-computations it should be fine

[2018-11-17 09:41] TrySound commented on #241
We may omit mergeRef utility with just changing refs from return values to arguments
[code]

This way referenced may be passed even from props without necessity to wrap reference with popup component.
https://github.com/Andarist/use-onclickoutside

[2018-11-18 08:53] nassimbenkirane commented on #241
It would be great to also be able to merge the refs with external refs,
and/or to give only some refs as params:
[code]

[2018-11-18 08:55] FezVrasta commented on #241
@nassimbenkirane if we are going with @TrySound suggestion I don't think we need it.

https://github.com/FezVrasta/react-popper/issues/241#issuecomment-439604034

[2018-11-18 09:18] nassimbenkirane commented on #241
@FezVrasta, @TrySound,
You're right that if with this suggestion, we don't need to merge refs,
I think it's a good solution, I just think that providing a custom ref should be an 'opt in' behaviour, as it would make the default API a little more verbose.

I'd like to be able to provide only a subset of the refs and take the rest from the objects provided by usePopper

[code]
Here we only need a cu

[2018-11-18 11:17] nassimbenkirane commented on #241
Hi @TrySound,

I kindly disagree with you on this one 🙂,
Good APIs should be simple to use for the general use case, and easy to extend for the 1-5% cases where you need more control.

In the general use case where you want one popper and don't need to tweek with the refs yourself (as in your example with useMeasure), compare this :
[code]
to this :
[code]
In the first case, one could say usePoppe

[2018-11-18 11:34] TrySound commented on #241
I'm not insist on positional arguments. It's just an example. My point only against two sources of refs.
[code]

[2018-11-18 11:42] nassimbenkirane commented on #241
I get your point

[2018-11-18 11:52] FezVrasta commented on #241
Remember that `react-popper` is meant to be a thin layer between React and Popper.js, it's not meant to be used directly, you will likely use something more user-friendly such as a tooltip library that relies on react-popper for the positioning.

So I'd prefer to keep the API verbose but powerful rather than easy to use but with gotchas to make it work in more advanced cases.

[2018-11-18 12:18] nassimbenkirane commented on #241
@FezVrasta makes sense :)

[2018-11-20 11:52] fspoettel opened #246 "Latest NPM releases missing git release tagged, missing changelog"
Hello maintainers, thank you for this library, it is very useful!

It looks like versions `1.1.0` to `1.3.0` are not tagged as released in this repository yet and therefore missing changelog entries. At least #211 appears to be a significant bug fix for some use cases (we ran into this too). It would be nice to have changelog references for these versions to help make the existence of these new ve

[2018-11-23 10:37] mohsinulhaq opened #247 "How do I make popper flip inside on the same side"
### Reproduction demo

https://codesandbox.io/s/2zjjvxz0qj

### Steps to reproduce the problem

1.  Click to open a right placed popper.
2.  Since there is not space on the right, it flips to left and since there is no space on the left as well, it pushes inside.

### What is the expected behavior?
It shouldn't flip like this when there is no space left as well as right. Instead it would be ideal

[2018-11-23 10:55] mohsinulhaq commented on #247
I just found out that there is a modifier named inner that does this, but it always makes popper render inside. I want it to do whenever there is not space at the specified placement prop.

[2018-11-24 08:45] mohsinulhaq commented on #247
@FezVrasta any solution?

[2018-11-24 10:05] FezVrasta commented on #247
It's not supported. A custom modifier can do that

[2018-11-24 10:05] #247 closed

[2018-11-24 10:07] mohsinulhaq commented on #247
thanks for replying, could you please give some hint at least on how a custom modifier would achieve that?

[2018-11-24 11:30] FezVrasta commented on #247
You should replace the built in flip modifier and make it apply the inner modifier when you want it to

[2018-11-24 12:43] mohsinulhaq commented on #247
alright, thanks a ton. I will try this :)

[2018-11-26 12:01] HHogg opened #248 "When `referenceElement` prop is set to `undefined`, `referenceProps.ref` no longer works."
### Reproduction demo

 https://codesandbox.io/s/xpyk0364op

### What went wrong?

When `referenceElement` prop is set to `undefined`, `referenceProps.ref` no longer works.

There are some useful situations to conditionally use `referenceElement`.

### What is the expected behavior?

I think this is probably expected behaviour at the moment, but the doc confused me a little bit with

I thought wit

[2018-11-27 07:34] jEnbuska opened #249 "create-react-context (0.2.3) changed to non-open source"
create-react-context license has changed on 0.2.3
https://github.com/jamiebuilds/create-react-context/blob/v0.2.3/LICENSE

### Fix
change create-react-context dependency from "0.2.1^" to "0.2.2"

[2018-11-27 12:04] FezVrasta commented on #249
Fixed, thanks!

[2018-11-27 12:04] #249 closed

[2018-11-27 21:59] a-type opened #250 "Infinite render loop with Downshift"
### Reproduction demo

https://codesandbox.io/s/wzn6ppylml

### Steps to reproduce the problem

1.  Open the reproduction above
2.  *OPEN DEVTOOLS*, or the tab will hang
3.  Start typing into the input

### What is the expected behavior?

Popper element appears and doesn't cause any trouble.

### What went wrong?

There's an infinite state update loop which seems related to the `ref` from Popper b

[2018-11-27 22:09] a-type commented on #250
Memoized Downshift props: https://codesandbox.io/s/kq3kqzml3

Unfortunately, Downshift complains that its ref was not attached correctly. I can only assume this warning is meaningful and so this is probably not a valid solution.

This makes sense, since the params I am memoizing against are all from Popper, so if Downshift changed its state internally, my memoized function would clobber that.

I'm

[2018-11-30 07:41] mohsinulhaq commented on #247
hi @FezVrasta, could you please tell me how do I do the overriding of flip modifier? I want it to call the orginal flip modifer + some things...right now it seems, once if use the custom flip fn function, the original behviour can't be accessed.

[2018-11-30 08:47] mohsinulhaq commented on #247
https://stackoverflow.com/questions/53554105/how-to-reuse-popper-js-modifier-when-overriding-it
done

[2018-11-30 13:23] t3kkitz commented on #241
Instead of:
`const [reference, popper, arrow] = usePopper(options);`
I think better to use object destructuring coz remembering arguments order is 'meh':
`const {reference, popper, arrow} = usePopper(options);`
or you can use it with multiple instances with access by key
`const popup1 = usePopper(options);`
`const popup2 = usePopper(options);`
`...`
` <div ref={popup1.ref}>elem<div>`

[2018-11-30 13:33] FezVrasta commented on #241
I don't know how much supported this would be, but we could have an iterable object to support both cases.. lol

[code]

![image](https://user-images.githubusercontent.com/5382443/49292187-dd59c400-f4ac-11e8-856e-c50106532d99.png)

[2018-12-03 04:47] seancurtis commented on #246
Noticed this too. npm shows 1.3.0, but CHANGELOG.MD doesn't include anything after 0.8.2, and tags stop after 1.0.2

[2018-12-03 06:16] mohsinulhaq commented on #247
hi, @FezVrasta do i need to provide more info on the question? please help

[2018-12-04 03:59] gwyneplaine commented on #248
@HHogg this should be fixed in the latest version of react-popper,
as a fix for this was merged in to master a few weeks ago.

https://github.com/FezVrasta/react-popper/pull/231

Though i'm not sure which release this was published under, @FezVrasta might be of more help there.

[2018-12-04 04:05] seancurtis commented on #250
We've run into this too. I noticed 1.1.0, 1.2.0, and 1.3.0 were released recently, but there's no tag or changelog for it. The change that @a-type mentioned looks to be the root cause. We noticed infinite recursion in a promise callback. We've had to pin to 1.0.2 in the meantime.

[2018-12-04 13:23] TimonVS opened #252 "Can't use ReactDOM.findDOMNode to set ref"
Although I'd like to just use `ref`s, in my current situation I'm forced to use `ReactDOM.findDOMNode` to get the actual DOM element. This used to work fine in 0.10, but now I'm running into a problem with an infinite `setState` loop.

### Reproduction demo

https://codesandbox.io/s/m5m98j19m8

### Steps to reproduce the problem

1. Don't pass `ref` directly to children but instead wrap it in a fu

[2018-12-04 15:01] a-type commented on #250
We pinned `1.0.2` as well. I should have mentioned that is a valid workaround for now. I haven't had time to dig into this to see if Popper could guard against this condition more effectively.

[2018-12-08 11:39] piecyk commented on #250
@FezVrasta just wondering way we can't just assert that the `popperNode` need to be there? here
https://github.com/FezVrasta/react-popper/blob/master/src/Popper.js#L77

basic
[code]

if we get new `popperNode` that is different from instance.popperNode we will call `updatePopperInstance`. When Popper component is unmounted componentWillUnmount kiks in and PopperInstance is destroyed 🤔

[2018-12-08 12:00] piecyk commented on #250
The same effect would be when assert the ref before passing it https://codesandbox.io/s/qkyv72n60w
looks like fix the problem

[2018-12-08 12:02] FezVrasta commented on #250
@piecyk if that fixes the problem may you submit a PR? If we manage to also add a unit test to prevent regressions it'd be awesome

[2018-12-11 02:41] anxiaoyi opened #255 "Use Popper.js with text selections"
How to use react-popper.js with text selection like popper.js : https://codepen.io/FezVrasta/pen/YEVrGP

[2018-12-11 10:15] FezVrasta commented on #255
You can use the `referenceElement` property

https://github.com/FezVrasta/react-popper#usage-without-a-reference-htmlelement

[2018-12-11 10:15] #255 closed

[2018-12-11 11:58] sseppola commented on #239
I think @1pete's suggestion about installing it as a devDependency is spot on, this seems to be what other libs are doing without causing problems.

For those of us using yarn you can use [selective dependency resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) to get around this, just add the following to your package.json:
[code]
Note: Use the version of `@types/react`

[2018-12-11 13:22] KajSzy opened #256 "Popper.js defined wrong as AMD dependency"
### Reproduction demo

The problem is similar to #208
Using umd build react-popper defines amd module as 'popper.js'
This makes it impossible to set properly with require config which treats extension ".js" as absolute path
`Script error for "popper.js", needed by: react-popper`

### Steps to reproduce the problem

1.  Use amd modules
2.  Define react-popper deps in require.config
`shim: { 'react-

[2018-12-11 13:30] KajSzy commented on #256
Its working properly for UMD and Commonjs, but AMD with requirejs paths isn't

For working properly with AMD modules ".js" should be omitted and as I see there are plenty of issues on github both (requirejs, popperjs)
`const umdGlobals = {
  react: 'React',
  'popper': 'Popper',
};`

[2018-12-11 13:34] FezVrasta commented on #256
I see... I don't have any control over that, it's how Rollup compiles the library.

Are you sure the solution isn't to have:

[code]
?

[2018-12-11 13:36] KajSzy commented on #256
I know and thats where requirejs kicks in [https://github.com/requirejs/requirejs/issues/1560](url)

[2018-12-11 13:38] FezVrasta commented on #256
Oh...

if you find out a way to tell Rollup to call `popper.js` just `popper` I'll be happy to merge the PR.

[2018-12-11 21:38] #239 closed

[2018-12-12 05:39] RajaBellebon opened #258 "Node rejection when running a unit test using react-popper with Jest"
### Issue description

In [Atlaskit](https://atlaskit.atlassian.com/), especially in couple of our components, like select, tooltip, we are using react-popper that we wrapped into our own @atlaskit/popper.

The source code can be found [here](https://bitbucket.org/atlassian/atlaskit-mk-2/src/master/packages/core/popper/).

The current issue we are facing is when we run unit tests in packages using

[2018-12-12 07:04] piecyk commented on #258
@RajaBellebon best is to mock `popper.js` in test. Checkout the https://github.com/FezVrasta/popper.js#how-to-use-popperjs-in-jest also have a look at mock and test in this repository

[2018-12-12 10:08] rogierschouten opened #259 "Please publish react-popper"
Hi, can you please publish a version to NPM with the solution to #239 in?  Thx

[2018-12-12 18:30] FezVrasta commented on #258
Second what @piecyk said, better to mock Popper.js out, in any case it already ships with an extensive test suite so you don't need to manually test it again. Just test the code that interfaces with it.

[2018-12-12 18:30] #258 closed

[2018-12-12 18:31] FezVrasta commented on #248
Released as 1.3.1

[2018-12-12 18:31] #248 closed

[2018-12-12 18:40] FezVrasta commented on #194
So actually it's the way you configured the modifier that's wrong, you are telling the flip modifier that the allowed flip placements are `top`, `right`, and `left`, but you position it on `bottom`. So it gets confused.

I understand it's not a good behavior, but it's a Popper.js issue.

I hope this will get better once I release Popper.js@2

[2018-12-12 18:40] #194 closed

[2018-12-12 18:41] FezVrasta commented on #230
This is probably something related to Popper.js itself and not with react-popper. Feel free to open an issue on the right repository.

[2018-12-12 18:50] fspoettel commented on #246
Thanks @FezVrasta, appreciated!

[2018-12-12 20:35] RajaBellebon commented on #258
@piecyk , @FezVrasta thanks for the answer, I 'll try!

[2018-12-13 07:04] donysukardi commented on #241
I'd prefer for users to supply their own refs, instead of the library returning pre-created ones. Just in case they want to do something else with the refs.

Here's my take on usePopper hook - https://codesandbox.io/s/0xrj13y4n, based on the same implementation as good old react-popper.

[code]

[2018-12-13 07:44] donysukardi commented on #241
I think it's better to let users pass in their own refs instead of letting the library create for them. This pattern promotes better composability.

As for the return value from usePopper, i'd vote for using object whenever the return value has more than two entries.

I took a stab at writing it as a hook too - https://codesandbox.io/s/0xrj13y4n

[2018-12-13 08:50] FezVrasta commented on #241
@donysukardi that's some huge code reduction 😱

Would you mind sending a PR which replaces the current code with this one? I'm going to create a `v2` branch where we'll keep this code while we work on it and wait for the official release of hooks.

[2018-12-17 10:11] denisborovikov commented on #241
Seems it's required to compare incoming data in callbackFn with the previous one and update state only if the data changes. Otherwise, the whole component updates due to numerous callbackFn calls (and state updates) on scroll. Not sure if useCallback works here.

[2018-12-18 17:07] tamias opened #260 "Flow error for passing this.props.getReferenceRef to warning()"
### Reproduction demo

Reproducing the problem requires setting up a project with Flow.

### Steps to reproduce the problem

1.  Set up a project using react-popper and flow-typed.
2.  Run flow.

### What is the expected behavior?

No errors from Flow.

### What went wrong?

Flow reports the following error:

[code]

### Any other comments?

I believe this can be fixed simply by casting `this.prop

[2018-12-18 17:10] FezVrasta commented on #260
Oh you are right, thanks for the report!

If you are able to send a PR it'd be so helpful, thanks!

[2018-12-18 17:34] tamias commented on #260
Thanks for the quick response!  I've created a PR.

[2018-12-19 16:06] tamias commented on #260
I made a mistake with the original PR, so I've created a new one.  (It also would have had a conflict with d4aeb529.)

[2018-12-21 16:07] bkoltai opened #263 "Mocking popper.js for Jest tests (attempting to help conversation locked in #82)"
Sorry for opening a new issue that isn't really an issue, I just ran into some challenges getting `popper.js` mocked for `jest` tests and came across #82. I'm opening this issue because I can't leave a comment on that issue as it's now closed, but I wanted to share my solution that doesn't require me to include `popper.js` as a dependency of my project but still allows me to mock it out for tests

[2018-12-21 16:09] FezVrasta commented on #263
Thanks! Marked as "docs and examples" to make it easy to find, I'll close it now.

[2018-12-21 16:09] #263 closed

[2019-01-02 10:35] jakub-chatrny opened #264 "Horizontal flipping of popper breaks when reference is on edge of screen"
I'm using `Popper` prop `placement` to set horizontal position `bottom-start/bottom-end`.
When reference is not on edge flipping works as expected. However when reference is on edge (left or right) flipping breaks and popper element is drawn outside viewport.

Is there any modifier to achieve this funcionality or is it `popper.js` bug?

https://codesandbox.io/s/7j86zzz391

[2019-01-02 16:15] jakub-chatrny commented on #264
Ok I've came with solution. I needed to add modifier:
[code]
I've updated my sandbox example above.

But I still have problem with popper outside viewport, they stretch my body element and make it scroll

[2019-01-23 11:09] #260 closed

[2019-01-23 12:04] FezVrasta commented on #241
@donysukardi are you still interested in that PR or should I do it?

[2019-01-23 22:58] chrisdel101 commented on #85
I just pulled in some of the code from the demo @TheSharpieOne. I get `'Arrow' is not exported from 'react-popper'.` Can I use it as is?  I'm not sure how to import Arrow

[2019-01-24 00:42] chrisdel101 opened #265 "Help with absolutely positioned elements"
### Reproduction demo
https://codesandbox.io/s/ywy5qyk93x

### Steps to reproduce the problem
This is not a bug. I just need help positioning over my aboluletly positioned 'stops' in a graph. I am trying to get the example (the main example from the repo page I mean) to work without much modification since I am a new user to popper.

It works with the example button (if I paste the main example in

[2019-01-24 20:45] elie222 commented on #171
For those using React, I created a gist of an HOC that you can attach to any component to close it when clicked outside:

https://gist.github.com/elie222/850bc4adede99650508aba2090cd5da1

[2019-01-26 10:40] piecyk commented on #265
@chrisdel101 It looked like you missed setting up the `ref` in the Reference child

https://codesandbox.io/s/kxl021z623

[code]

[2019-01-26 16:17] #265 closed

[2019-01-26 18:52] chrisdel101 commented on #265
F! Thanks taking a look

[2019-01-28 20:18] donifer opened #267 "Question: forwarding ref (component instance)"
Question:

Hi, I'm struggling to figure out how to use `Reference` when I'm not using a button wrapper with styled-components.

From styled-components docs:

Since the ref I'm getting back is the full instance, I'm not quite sure how to use it in `Reference` since `Reference` expects the underlying DOM node. Is there a simple way to solve this without defining a custom `buttonRef` in my styled com

[2019-01-29 00:31] FezVrasta commented on #267
I usually use the `React.forwardRef` utility

[2019-01-29 00:33] donifer commented on #267
Do you wrap your `styled-components` with a `React.forwardRef`? Or am I missing something? 🤔 Is there any documentation for this somewhere?

[2019-01-29 08:37] jakub-chatrny commented on #264
So far I did not. We decided this is minor issue so we might put effort to work around this issue in future.

But as you said it seems like `popper.js` issue.

[2019-01-29 09:00] FezVrasta commented on #264
I'd kindly ask you to open an issue on the Popper.js repository following its issue template please.

[2019-01-29 09:00] #264 closed

[2019-01-31 21:00] bbalan opened #269 "Demo does not build"
### Steps to reproduce the problem

1.  Clone repo @ 1.3.3
2.  `npm install`
3.  `npm run demo:dev`

### What is the expected behavior?

Demo builds and displays in browser

### What went wrong?

[code]

### Any other comments?

Tried `npm i @babel/runtime@latest` and received a different build error:

[code]

### Packages versions

- Popper.js: 1.14.4
- react-popper: 1.3.3

[2019-02-05 00:18] bbalan commented on #229
@FezVrasta I have the same problem, can you post the answer here?

[2019-02-21 17:08] hanford opened #270 "limiting possible placements"
Thanks for the library, it's been a life saver and is in many of my projects! 🎉

I was wondering if there was a way to limit placements to either left or right, and never top/bottom.

I'm building a UI with a large cascading menu use `react-popper` and went each sub menu to open only ever on the left or the right.

Thanks again for the great lib!

I've created a codeandbox that is extremely close

[2019-02-21 17:30] hanford commented on #270
Nevermind, I think I had a default somewhere that was setting my placement to `auto`, removing that seems to resolve things.

Will reopen if I run into it again, sorry!

[2019-02-21 17:31] hanford commented on #270
On second thought, is there a way to basically do `auto-horizontal` where the placement would be automatic, but only ever left or right?

[2019-02-21 17:49] FezVrasta commented on #270
You can define the `flip` modifier behavior to `['left', 'right', 'left']` to make it work only on the horizontal axis

[2019-02-21 17:49] #270 closed

[2019-02-21 17:51] hanford commented on #270
Thanks @FezVrasta!

[2019-02-22 03:29] oadrian2 commented on #241
Any updates on this?

[2019-02-22 07:37] FezVrasta commented on #241
I'm gonna work on it as soon I get back to Europe I guess

[2019-02-22 18:28] omniverse commented on #269
If you open up demo/index.js and remove `import { Transition } from 'react-spring';` and then change `<Transition>` element to a `<div>` it will work.

[2019-02-25 11:20] kumarharsh opened #271 "Expose more popper props to manipulate arrow display"
There are cases when the popper element is taller (or wider) than the reference element. If you make the window small enough so that the popper flips, the arrow is also flipped. But it's possible that the popper flips and renders *over* the reference element, thus occluding it. This has a side-effect that the arrow is left dangling, pointing to nothing in particular. I was wondering if the `<Poppe

[2019-02-25 17:20] LuisSaybe opened #272 "React 16.8 ?"
Any plans to update to React 16.8 ?

[2019-02-25 17:39] sgenoud commented on #241
I played with Popper.js in hooks a little bit. They make the integration so much simpler there might not even need for a library anymore. I wrote a little thing about that https://carrots.sgenoud.com/use-popper.js-in-react/

Feel free to start from [my code](https://github.com/sgenoud/quarolib/blob/master/hooks/usePopper.js) if you want to have hooks as part of react-popper.

[2019-02-26 11:02] kumarharsh commented on #229
@bbalan - you can follow the chat to see the answer - it's public.

[2019-03-07 02:06] EthanRutherford commented on #241
@sgenoud the last `useUpdate` in your code causes the popper to re-render infinitely.

[2019-03-11 15:26] kieranbenton commented on #95
@FezVrasta this is still an issue - I've just run into it myself getting stood up with reactstrap. I believe this, #76 and #111 are all related (and indeed it might be on windows only which is why you don't seem to see the issue).

Fundamentally I actually agree technically (if not how it was put to you by @PurpleGranite which was unacceptable) the solution in #111 of renaming the ```Popper.js```

[2019-03-11 16:38] FezVrasta commented on #95
@kieranbenton thanks for the time you took to write this post.

My point is that something **very** wrong is happening on these webpack configs, react-popper throws an error and we call it a day. But there may be subtle issues that don't get noticed at first and that may break stuff more seriously down the road.

react-popper isn't doing anything wrong, and it's not "fixing" my library the way to

[2019-03-14 03:35] chinmayjoshi195 commented on #202
@FezVrasta So I wont be able to add the PopUp on Hover using just react-popper?

[2019-03-14 06:05] mohsinulhaq commented on #202
@chinmayjoshi195 https://github.com/mohsinulhaq/react-popper-tooltip
you can use react-popper-tooltip for that

[2019-03-14 22:42] sllvn commented on #272
I assume you mean a hooks-style API? That discussion is at https://github.com/FezVrasta/react-popper/issues/241

[2019-03-15 16:07] LuisSaybe commented on #272
Sorry, no, I mean updating the current dependency "react" from 16.2 to 16.8

[2019-03-15 16:09] FezVrasta commented on #272
We define React as a peer dependency and allow any 16.x version. 16.2 is the one used while we develop the library

[2019-03-15 16:09] #272 closed

[2019-03-18 15:45] kristojorg commented on #238
@ivanakimov did you figure this out?

[2019-03-18 15:48] FezVrasta commented on #271
You can create a custom Popper.js modifier that applies the `display: none` style to the arrow element conditionally based on any logic you'd like.

Take a look at the docs at popper.js.org to learn more.

[2019-03-18 15:48] #271 closed

[2019-03-18 17:27] ivanakimov commented on #238
@kristojorg Yeah we did. Since the original author was useless on this issue, we had to do some debugging. Turns out once we wrapped our content in a `<div>` inside `<Popper>` it started working ok.

[2019-03-18 17:35] kristojorg commented on #238
@ivanakimov that was a bit rude to the creator of an open source lib. He's not getting paid to debug your issues. Thanks for the suggestion, though.

[2019-03-19 14:34] diondiondion commented on #267
@donifer

Not sure if you still need help with this, but basically you'll want to use `forwardRef` _in_ the component that you're wrapping. This component needs to attach the passed ref to the element that you want the ref to return (so, most likely the outermost element of the component).

This will make sure that styled-components can forward the ref correctly.

[2019-03-19 14:38] #267 closed

[2019-03-21 16:36] HHogg opened #273 "Consider exposing a way to access the `referenceNode`"
When creating something like a dropdown with Popper, where the popper element is the dropdown menu and the reference element is a flexible width input element, it is sometimes needed to make the popper element width is the same as the reference element.

Popper currently has access to the reference node, provided by the `ref` callback from the `Reference` component. It would be very useful to have

[2019-03-21 16:55] mohsinulhaq commented on #273
why don't you use the `innerRef` prop to `Reference` to grab a ref to the reference element?

[2019-03-21 22:04] HHogg commented on #273
@mohsinulhaq I'm using Popper within a UI library so the components are wrapped and there isn't direct access to pass the node from innerRef to the main wrapped popper component.

I've just realised it is possible to recreate a custom version of ManagerContext and pass it down to the custom wrapped popper component that way, but I just thought that as `referenceNode` was a prop of `InnerProp` alre

[2019-03-21 22:25] HHogg commented on #273
I've removed my hack by adding a custom ManagerContext so I'm happy :) and will close this.

[2019-03-21 22:25] #273 closed

[2019-03-22 12:03] k15a commented on #241
You will have to use callback refs instead of `useRef` otherwise you will have the same problem react-dnd had with their experimental hooks API. You can read more about that here: https://reactjs.org/docs/hooks-faq.html#how-can-i-measure-a-dom-node

[2019-03-23 20:39] FezVrasta commented on #241
I'm working on this, I was converting the demo page and the tests, I'm not actually sure if the Hooks API helps in the react-popper case... Stuff got way more complex IMHO. 🤷‍♂️

[2019-03-26 06:03] zhouxingting commented on #269
npm install --save @babel/runtime-corejs2

[2019-03-28 20:43] Argonanth opened #274 "Changing Reference Size doesn't recalculate Popper position"
I'm not sure if this is something that can be easily done and I'm just missing something, but wouldn't this make sense to happen automatically?  I would assume I need to call scheduleUpdate on the PopperProps, although I'm not sure how to call that from the reference.

### Reproduction demo

https://codesandbox.io/s/yvr9py6x4x

### Steps to reproduce the problem

1.  Change size of reference eleme

[2019-04-01 12:16] robinvdvleuten commented on #249
Is it really needed to point to 0.2.2 or below just for this license "change"? Other popular React libraries did not care about this change either. And now I have multiple versions of `create-react-context` in my build;

[code]

[2019-04-01 13:02] FezVrasta commented on #249
Yes it is important but I think the author switched back to an open source license so I'd say we can upgrade the package.json to allow recent versions as well

[2019-04-04 10:39] Harsh1796 commented on #274
@Argonanth https://codesandbox.io/s/qkm58q0l4w this from @FezVrasta  might help you understand the solution to your issue along with #190 .

Working solution: https://codesandbox.io/s/7zww7kj18q

[2019-04-04 10:52] FezVrasta commented on #274
You have to call `scheduleUpdate` when you want to re-position a popper for whatever reason (non related to scroll or window resize events).

https://codesandbox.io/s/548qz1054k

[2019-04-04 10:52] #274 closed

[2019-04-06 09:54] nicgirault opened #275 "Arrow break positioning"
### Reproduction demo

https://codesandbox.io/s/9ljo697wzw

### Steps to reproduce the problem

1.  Commenting the arrow div change the positioning of the popper

### What is the expected behavior?

Popper positioning is the same with and without arrow

### What went wrong?

I didn't specify an absolute position for the arrow div.

### Any other comments?

### Packages versions

- Popper.js:
- rea

[2019-04-10 05:07] AndriySvyryd opened #276 "export PopperChildrenProps and PopperArrowProps"
This avoids duplicate/outdated declarations for the components used as children

[2019-04-22 22:10] dallasnorton commented on #275
I am seeing the same issue. Any investigation or any progress?

[2019-04-23 09:05] FezVrasta commented on #275
The arrow component should have `position: absolute`.

https://codesandbox.io/s/61ny1qp3zz

[2019-04-23 09:05] #275 closed

[2019-04-23 14:21] paolostyle opened #277 "RefHandler type should also accept SVGElement in TS types (and Flow probably too)"
Hey. I'm using this library in a component that is basically an SVG and it works great, but TypeScript compiler complains that the type of ref that is passed as a child prop from Reference component is incorrect - it's because of this:
[code]
Seems like changing it to `(ref: HTMLElement | SVGElement | null) => void;` would solve this issue, but I think it would also have to be changed in Flow type

[2019-04-23 14:26] FezVrasta commented on #277
A PR would be great, thanks!

[2019-04-23 17:13] dallasnorton commented on #275
I agree, the arrow isn't the direct culprit. Generally with an arrow you use `offset`, I think the real problem is deeper with the positioning and when you have offsets. Investigating further to see if I am just implementing incorrectly or there is something wrong. `computeStyle` shows it takes into account offsets so there is something going on.

[2019-04-23 19:22] nicgirault commented on #275
@FezVrasta yes I understood it after a couple of hours of investigation. I would suggest to write this somewhere in the doc. If I'm right it's not written.

[2019-04-23 20:16] paolostyle commented on #277
I started the implementation but it seems like [Flow doesn't even support SVG types](https://github.com/facebook/flow/pull/4551)... I could change `HTMLElement`s to `Element` but I'm not sure if this is a good idea and I have no experience with Flow - perhaps there's a different way to handle it? Or I can just change it in the TypeScript typings and call it a day. What do you think.

[2019-04-28 17:26] zirho opened #278 "Does not seem to work with react 16.8.6"
https://codesandbox.io/s/no78qmnkm?fontsize=14

Am I missing something?

[2019-04-28 17:29] zirho commented on #278
never mind, I thought it would render a tooltip but it just render positioned div.

[2019-04-28 17:29] #278 closed

[2019-04-28 18:10] mohsinulhaq commented on #278
https://github.com/mohsinulhaq/react-popper-tooltip
you can use this library if you want to render tooltips easily

[2019-05-17 19:46] therealparmesh commented on #241
Check out:

https://www.npmjs.com/package/use-popper
https://github.com/sandiiarov/use-popper

This is what the company I'm at has been using for awhile. Maybe it can help with these discussions.

[2019-05-17 21:01] denisborovikov commented on #241
As discussed above, declaring refs inside rather than accepting them as arguments don't look like a good idea.

[2019-05-18 08:33] k15a commented on #241
Accepting them as arguments will lead to bugs so it's the only option.

[2019-05-18 11:40] FezVrasta commented on #241
I was thinking that maybe a better approach could be:

[code]

And then keep the render-prop API for the 3 components returned by the hook. Doing so we get rid of the annoying `Manager` wrapper but we keep the ability to easily spawn multiple poppers from a single `usePopper` call.

[2019-05-24 19:51] therealparmesh commented on #241
@denisborovikov Hmm from what I can infer it seems like people are still split on this.

[2019-05-24 20:36] denisborovikov commented on #241
It's not clear for me then, how to re-use the same DOM node.

[2019-05-24 20:42] denisborovikov commented on #241
@therealparmesh  It's not clear for me then, how to re-use the same DOM node.

@k15a check the updated code in the [message above ](https://github.com/FezVrasta/react-popper/issues/241#issuecomment-467105626). It uses useState instead of useRef but still accepts ref (state) as an argument. I believe it was updated after your comment.

[2019-05-24 20:45] therealparmesh commented on #241
@denisborovikov How do you feel about something like https://github.com/FezVrasta/react-popper/issues/241#issuecomment-439604034? https://codesandbox.io/s/0qjk4w5v0l

[2019-06-04 21:40] xxia34 opened #280 "Popper dependency update"
Hi,

Can a new version of react-popper be released with the newest version of popper.js?

Thank you!

### Reproduction demo

### Steps to reproduce the problem

1.
2.
3.

### What is the expected behavior?

### What went wrong?

### Any other comments?

### Packages versions

- Popper.js:
- react-popper:

[2019-06-07 16:49] FezVrasta commented on #168
For anyone interested, I'm going to release in the next few hours the `@quid/react-tooltip` npm package, along with the existing `@quid/react-popover`. They do just what the name says 🙃

Feel free to take a look at the PR:
https://github.com/quid/refraction/pull/89

Or at the documentation for the popover:
https://ui.quid.com/#!/Popover

[2019-06-10 14:03] jmarceli commented on #263
Awesome, this might be linked with https://github.com/FezVrasta/popper.js/issues/478

[2019-06-25 14:21] alarstyle opened #282 "Replace create-react-contex"
Replace `create-react-contex` with `mini-create-react-contex`.
It is more optimized and smaller.

[2019-06-25 14:31] FezVrasta commented on #282
I was looking at its source code few days ago and the only difference I noticed is the `warning` dependency replaced with a smaller version, is that all it changes?

[2019-06-25 15:26] TrySound commented on #282
It also supports esm. Though both depends on shitty `gud` package which requires `global` to be defined. Such webpackisms I'm trying to drop from packages I use.

[2019-06-25 15:30] FezVrasta commented on #282
I see, if anyone wants to send a PR please feel free to.

[2019-06-25 15:31] FezVrasta commented on #280
`react-popper` allows any version equal or above 1.14.4 already.

https://github.com/FezVrasta/react-popper/blob/master/package.json#L63

[2019-06-25 15:31] #280 closed

[2019-06-25 15:57] TrySound commented on #282
Land PR with fix https://github.com/StringEpsilon/mini-create-react-context/pull/36

[2019-07-02 06:07] davidvgalbraith commented on #269
+1

[2019-07-02 22:24] benbayard commented on #241
I just wanted to throw my opinion in that the benefits of positional arguments are numerous:

1. easier to support multiple poppers (because you don't have to rename the keys)
2. Follows the patterns in existing hooks like useState
3. needing to know the return order is alleviated with sufficient static typing. Editors that support static types won't need to worry about this at all.

[2019-07-09 23:09] designbyadrian commented on #274
@FezVrasta any way of implementing this solution like they did in Semantic UI? https://github.com/Semantic-Org/Semantic-UI-React/pull/3657

[2019-07-10 07:55] FezVrasta commented on #274
@designbyadrian from what I see that wouldn't address the OP issue?

[2019-07-10 10:07] designbyadrian commented on #274
@FezVrasta they would be able to pass the dimensions as a variable, which, when changed, will trigger the update. The parent component can keep the size of the reference element in its state.

Currently, there is no way for a parent component to tell the popper to update.

[2019-07-18 01:27] davidx1 opened #283 "Popover position stays the same when content changes."
### Reproduction demo

https://codesandbox.io/s/great-smoke-sis9b

### Steps to reproduce the problem

1.  Define the content of popper in React state
2.  Set the placement of popper to 'top'
3.  Change the content of the popper when popper is open

### What is the expected behavior?

The content of the popper will stay right above the reference component with no space in between.

### What went w

[2019-07-18 12:14] ROUDALI opened #284 "css style property receiving 'NaN' in enzyme environment ( when using virtual reference)"
im trying to test a click outside event that's suppose to change the state of my Hint component, i'm using react popper and a virtual reference that calculate style from a given reference
![image](https://user-images.githubusercontent.com/29419489/61456269-89c5b900-a95d-11e9-9bd6-7b1cab7414b3.png)
![image](https://user-images.githubusercontent.com/29419489/61456326-a8c44b00-a95d-11e9-9d3e-8f74545d

[2019-07-18 15:58] FezVrasta commented on #284
Unfortunately Popper.js doesn't work with JSdom, you need to mock Popper.js using the instructions provided in the README

[2019-07-18 15:58] #284 closed

[2019-07-18 16:00] FezVrasta commented on #283
Popper.js doesn't have any knowledge about the content of the popper, or more generically, the content of the page.

You need to manually call a `scheduleUpdate` to make sure it gets positioned correctly after the content on the page changes.

You can use the ResizeObserver API (with a polyfill for older browsers) to achieve this.

[2019-07-18 16:00] #283 closed

[2019-07-19 01:46] davidx1 commented on #283
Thanks @FezVrasta for your speedy reply.

I tried doing this and it worked, just like you said it would:
[code]
What do you think of making running scheduleUpdate on every render the default behavior of react-popper?

I understand that in the original popper.js library, popper doesn't have any knowledge about the content of the popper, but the popper react HOC from the react-popper library certain

[2019-07-19 03:34] FezVrasta commented on #283
That wouldn't cover all the cases, I'm not sure if it would be more helpful or confusing.

[2019-07-19 05:11] prayadav opened #285 "NPM warning of using deprecated package"
- npm WARN deprecated core-js@1.2.7: core-js@<2.6.5 is no longer maintained. Please, upgrade to core-js@3
I am hitting deprecated warning against core-js v1.2.7, which is used by react-popper@1.3.3 [ as illustrated in the below screen-grab
└─┬ reactstrap@8.0.1
  └─┬ react-popper@1.3.3
    └─┬ create-react-context@0.2.2
      └─┬ fbjs@0.8.17
        └── core-js@1.2.7
Strangely, when I looked at rea

[2019-07-19 07:27] FezVrasta commented on #285
I need to cut a new release with https://github.com/FezVrasta/react-popper/pull/281 to fix this

[2019-07-19 14:09] Krijovnick opened #286 "How to customize arrow styles"
### Reproduction demo

https://codesandbox.io/s/bold-shape-lomrm

### Steps to reproduce the problem

1.  see in the example

### What is the expected behavior?

The arrow should be the same color as popper

[2019-07-19 16:03] FezVrasta commented on #286
Hey, thanks for the issue, this is a very generic CSS question, please consider asking it on StackOverflow.

Cheers.

[2019-07-19 16:03] #286 closed

[2019-07-19 21:17] richtera opened #287 "Problem with import statement."
https://github.com/FezVrasta/react-popper/blob/8994933c430e48ab62e71495be71e4f440b48a5a/src/Reference.js#L3

I believe this should say import from "./warning" or something similar. It's blowing up my webpack compile.
I am switching to 1.2.1 to see if that's better. Basically it works at first when using webpack in dev mode, but then it sees the ESM file and goes wrong.
Thanks
Andy

[2019-07-19 21:25] FezVrasta commented on #287
warning is a dependency, that's how you import them

[2019-07-19 21:25] #287 closed

[2019-07-19 21:54] richtera commented on #287
Hmmm, somehow it's not resolving it. Will check. It makes sense it would be a dep but it's not showing up in the node_modules folder and doing install warning didn't seem to work. Thanks for the response.

[2019-07-19 21:58] richtera commented on #287
So it works on the initial compile, but whenever I make code changes the build fails.
![image](https://user-images.githubusercontent.com/708186/61567735-a42b8f80-aa4e-11e9-9a81-4ec57e9d57b0.png)
Hmmm, I'll play with it a bit. But it's weird that it's this random module here, Warning is installed in the root node_modules folder and not a child of react-popper.

[2019-07-20 01:47] FezVrasta commented on #287
That's called dependency hoisting, it's common practice in js package managers

[2019-07-20 03:02] richtera commented on #287
Found it. All my fault. It's weird that it picked this module to fail. I had a defunct webpack-dev-server running :-( I am so sorry. I wasted quite a lot of time on such silly ness.

[2019-07-27 07:56] sonakshiChomal opened #288 "Changing arrow style conditionally"
### What went wrong?

I need to change the popover color on the basis of a condition.

So if the flag condition is true the popover will be gray and if the flag will be false the popover will be white.

am able to do that but, popover color changes but the arrow color remains white always.

Is there a way or a prop that can change the color of the arrow with the popover.

Overriding the style is n

[2019-07-27 14:13] FezVrasta commented on #288
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2019-07-27 14:13] #288 closed

[2019-07-28 06:07] sonakshiChomal opened #289 "customize arrow style conditionally"
### Reproduction demo

### Steps to reproduce the problem

1.
2.
3.

### What is the expected behavior?

### What went wrong?

### Any other comments?

### Packages versions

- Popper.js:
- react-popper:

[2019-07-28 06:11] #289 closed

[2019-07-30 08:20] kluplau opened #290 "Typescript declaration has no exported member Arrow or Target"
## Steps to reproduce the problem

1.  Install CRA with Typescript `npx create-react-app my-react-app --typescript`
2.  Install react-popper `npm install --save react-popper
3.  Copy demo

### What is the expected behavior?

The imports should match the exports.

### What went wrong?

An error saying the TypeScript declaration doesn't have a member Arrow and Target.

![image](https://user-images.g

[2019-07-30 08:37] #290 closed

[2019-07-30 08:52] kluplau commented on #290
I have no idea where I got the demo source code from. Couldn't find it again. Maybe some old example code? Anyway - it works now. Sorry for disturbance.

[2019-08-02 18:29] ragurney opened #291 "Arrow Style 'Top' Positioning Always Empty String"
### Reproduction demo
* Custom repro with Fela styles: https://codesandbox.io/s/popper-with-style-1d0ho
* Repro using the template. Console shows top is always an empty string: https://codesandbox.io/s/react-popper-v1x-issue-template-21h5z

### Steps to reproduce the problem

1.  Log the `arrowProps.style`
2.  Note that `top` offset is always the empty string ''
3.  😢

### What is the expected beh

[2019-08-02 20:49] FezVrasta commented on #291
The arrow offset only provides the value needed to center the arrow within the popper.

In your case, the popper is on bottom of the reference element so you only get the left arrow offset since that's what you need to center it properly.

I hope the explanation is helpful.

[2019-08-02 20:49] #291 closed

[2019-08-02 20:52] ragurney commented on #291
It is, thank you. Apologies, I was a little confused about what was expected to be supported for the arrow. Thanks for the clarification!

[2019-08-02 21:00] FezVrasta commented on #291
Docs suck, any improvement is very welcome. Thank you 👍

[2019-08-05 08:02] AbhaysinghBhosale opened #293 "TypeError: Cannot read property 'setTargetNode' of undefined"
### Steps to reproduce the problem

1.  Install reactstrap 6.1.0
2.  run application
3.  it will show above error in the console and application will stop working.

### What is the expected behavior?

Application should work properly.

### What went wrong?
Using reactstrap in application which have dependency on the react-popper which causing this erros in console and application stops working.

#

[2019-08-05 08:10] mohsinulhaq commented on #293
Which application?

[2019-08-05 09:00] FezVrasta commented on #293
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2019-08-05 09:00] #293 closed

[2019-08-05 09:28] AbhaysinghBhosale opened #294 "TypeError: Cannot read property 'setTargetNode' of undefined"
### Reproduction demo
Cant reproduce this issue in code sandbox as react-popper is used as dependency.

### Steps to reproduce the problem
1. Create react application using create-react-app
2.  Install reactstrap 6.1.0 package
3.  run command npm start to run react application
4.  it will show above error in the console and application will stop working.

This issue is only found on an environment

[2019-08-05 11:42] mohsinulhaq commented on #294
What component from reactstrap is triggering this error? Can you elaborate?

[2019-08-05 12:01] mohsinulhaq commented on #294
I tried a simple CRA app with reactstrap@6.1.0, and used the Popover component. I got no error.

[2019-08-05 12:01] FezVrasta commented on #294
Please consider opening an issue on the library repository that is giving you the problem. I can't debug others' code

[2019-08-05 12:01] #294 closed

[2019-08-06 12:21] AbhaysinghBhosale commented on #294
Great to know that issues are getting closed without any further communication explanation.

[2019-08-06 12:42] FezVrasta commented on #294
You are welcome!

[2019-08-09 14:02] pat-son opened #295 "Popper does not stay within the bounds of the viewport"
### Reproduction demo
https://stackblitz.com/edit/popper-boundary-bug?file=index.tsx

### Steps to reproduce the problem

1.  Add a popper
2.  Make the viewport scrollable and scroll the popper off the screen
3.  Notice that the popper does not move to stay in view

### What is the expected behavior?

The popper should stay within the bounds of the viewport like the default behavior

### What went

[2019-08-12 07:34] sot007 commented on #294
hi @AbhaysinghBhosale , i got the same error on DEV server, but my code works fine on my local pc. may i know how to fix this issue and what is the root cause.

[2019-08-12 10:00] FezVrasta commented on #294
The answer I gate to the original poster is still valid, feel free to follow it.

[2019-08-13 12:44] 7rulnik commented on #282
I have just faced issue with current react-popper@1.3.3. It uses create-react-context@0.2.2 which relies on fbjs@0.8.17 with isomorphic-fetch inside of it. So, it breaks in old browsers without `window.fetch`.

fbjs was removed in create-react-context@0.3.0 and it's already in master. @FezVrasta could you relase it please?

[2019-08-13 12:47] FezVrasta commented on #282
1.3.4 released

[2019-08-13 12:47] #282 closed

[2019-08-20 13:37] hanzlahabib commented on #169
Thankyew That Works

[2019-08-21 16:29] #277 closed

[2019-08-22 11:11] diondiondion opened #300 "Expose offsets object via Popper component"
It would be great if the Popper component didn't just expose the popper's computed `style`, but also the `offsets` object that the InnerPopper component holds in `this.state.data`.

Use case: There are cases where I want to set the max-width of my popper to the width of its reference. (Think a dropdown menu attached to a search box - you wouldn't want that menu to grow wider than the search field.

[2019-08-22 11:13] FezVrasta commented on #300
It sounds like a good idea, thank you for the interest in a PR 🤗

[2019-08-22 11:30] diondiondion commented on #300
Thanks, sounds good, I'll give it a go as soon as possible.

As a workaround for anyone reading this, I realised that for now it is possible to inject a custom modifier to copy whatever data you need into local state like this:

[code]

[2019-08-22 11:45] FezVrasta commented on #300
You could even use the `onUpdate` callback.

[2019-08-22 14:27] diondiondion commented on #300
I probably actually have to... the extra state-setting roundtrip might be necessary as using the reference's width directly results in an initially (upon page load) misplaced popper:

**Code:**
[code]

**Result:**
![image](https://user-images.githubusercontent.com/5636050/63522596-fa319e00-c4f8-11e9-94f2-325ecb403bf4.png)

So I think I'll hold off of the PR for now, unless you can think of a way t

[2019-08-22 14:29] FezVrasta commented on #300
I'm not sure, I should investigate it. I'm sorry!

[2019-08-22 14:37] diondiondion commented on #300
No worries! :)

It's not as simple a problem... as of course popper might not know that you're adjusting its size at the same moment that its position is being applied. So the error kind of makes sense. I guess ideally there'd be a way to tell popper in advance about any sizing restrictions/transformations you want to apply so that they can be taken into account from the beginning.

[2019-09-02 23:02] kevinbarabash commented on #285
bump

[2019-09-05 20:23] #276 closed

[2019-09-08 08:16] LeeHao92 opened #304 "use react-spring browser will be crash"
### Reproduction demo
[https://codesandbox.io/s/react-popper-demo-z1cfm](https://codesandbox.io/s/react-popper-demo-z1cfm)

### Steps to reproduce the problem

1.  component state control tooltip show or hide
2. use react-spring provide opacity animate
3. fast change state browser will be crash

### Packages versions

- react: v16.8.6

- react-popper: v1.4.3

- react-spring: v8.0.27

[2019-09-11 08:27] dmitriirudakov opened #305 "It is not possible to pass custom arrow and applyStyle modifiers to popper.js"
### Steps to reproduce the problem

1.  Create an empty react project
2.  Install Semantic-UI-React >= v0.87.0
3.  Use Popup component and try to pass 'arrow' and 'applyStyle' modifiers for popper.js.

[code]

### What is the expected behavior?
Modifiers will be passed to popper.js.

### What went wrong?
Props are redefined and modifiers were not passed to popper.js
React-popper uses its own prop

[2019-09-16 18:16] maclockard opened #307 "Allow ref objects"
Right now react-popper only supports ref callbacks, it should also support ref objects so folks can use hooks and `React.useRef` with this library.

[2019-09-16 18:16] maclockard commented on #307
I can take a look at this!

[2019-09-17 17:29] guillaumearm commented on #295
same issue with `popper.js@1.15.0` and `react-popper@1.3.4`

[2019-09-23 11:42] artola opened #310 "Breaking change with AMD dependencies"
### Steps to reproduce the problem

For v1.3.4 the file `index.umd.min.js` contains a different list of externals than v1.3.3.

v1.3.3 defines the following dependencies `define(["exports","react","popper.js"] ...` but v1.3.4 `define(["exports","react","create-react-context","popper.js","warning"] ...`.
As so it is a breaking change (at least minor) and not just a patch.

### Any other comments?

[2019-09-23 13:02] FezVrasta commented on #310
Hi, thanks for the issue. I wouldn't think a new dependency a breaking change, that would limit a lot what a non-major version can do...

I'll try to keep it in mind in the future, you may consider to switch to a modern module system such as ES modules so that this kind of issue doesn't affect you.

[2019-09-23 13:02] #310 closed

[2019-09-23 13:14] artola commented on #310
Thanks for prompt reply. It is not about a new dependency,  it is more about  changing the bundling what leads to a breaking change, because it will require a change in the consumers.
I love ES modules, but there is not "one fits all", and in my case I use the ES version for `development` while AMD for `production`.

I just modified our bundler to add these dependencies in `bundle`. No problem. Th

[2019-09-23 13:28] FezVrasta commented on #310
The bundle is automatically generated so there's not much I can do, when a new dependency is added, the bundle is updated.

Thanks again for making me aware of this situation.

[2019-09-24 22:34] yunyu commented on #300
Here's my hack for this situation:

[code]

The `scheduleUpdate` is necessary, as things get out of sync by one event/frame without it.

[2019-09-25 10:22] michaelnielsen-tu commented on #307
Any updates on when this may be merged? 😄

[2019-09-25 19:05] jonchardy opened #311 "UMD library doesn't load"
### Reproduction demo

See https://codepen.io/jhardy/pen/gOYEdyz?editors=1000. This is a UMD problem rather than a module problem, so it can't be reproduced in the sandbox template. It looks like create-react-context and warning don't have a UMD definitions, so I'm not sure how they're meant to be loaded in a UMD environment.

### Steps to reproduce the problem

1.  Open the codepen above.
2.  Ope

[2019-10-01 21:47] linusthe3rd opened #312 "Memory leak when Reference children are removed from a page"
### Reproduction demo

https://codesandbox.io/s/react-popper-v1x-issue-template-3hcp9

### Steps to reproduce the problem

1.  Replace the demo code in the repo's `demo/index.js` file with the code in `index.js` of the [codesandbox's index.js file](https://codesandbox.io/s/react-popper-v1x-issue-template-3hcp9)
2.  Start the demo app and load it in Chrome
3.  Open Chrome devtools and take a heap s

[2019-10-02 11:05] linusthe3rd commented on #312
It looks like the reason this is happening is because of this line in `Manager.js`: https://github.com/FezVrasta/react-popper/blob/master/src/Manager.js#L35

The `Reference` component sets its `ref` attribute to `null` when it is unmounting, but `Manager` no-ops when a `null` value is sent.

[2019-10-02 11:42] FezVrasta commented on #312
Thanks for the report! Would you mind if I asked you to send a PR with a proposed fix?

[2019-10-02 12:31] linusthe3rd commented on #312
Already working on it :)

I should have one up later this morning

[2019-10-02 14:00] linusthe3rd commented on #312
@FezVrasta Got a PR up for this. LMK if you want anything changed on it.

[2019-10-07 12:00] #269 closed

[2019-10-11 13:48] pat-son commented on #295
Still seems like a bug, because The core popper.js (without React) acts correctly by default.

[2019-11-02 06:34] #307 closed

[2019-11-06 12:39] #312 closed

[2019-11-06 12:44] #285 closed

[2019-11-06 21:14] tybro0103 opened #316 "v1.3.5 broken in React@15"
### Reproduction demo

https://codesandbox.io/s/react-popper-v1x-issue-template-sp9mn

### Steps to reproduce the problem

With `react@15.6.2` installed, `react-popper@1.3.4` works fine, but `react-popper@1.3.5` does not.

### What is the expected behavior?

That it functions without errors.

### What went wrong?

The following error is repeatedly thrown:
[code]

With certain usage, I've seen `rea

[2019-11-06 21:54] tybro0103 commented on #316
Ok so this partially due to the way were using the ref passed into the FaCC function (see the codesandbox link). Maybe we shouldn't be doing that, but still... it works fine if I upgrade to `react@16`, and it works fine if I downgrade to `react-popper@1.3.4`.

[2019-11-06 23:06] JonathanAquino commented on #316
This is a breaking, backwards incompatible change for us.

Could you revert the changes and release the revert as v1.3.6, then publish the new changes as 2.0.0?

![image](https://user-images.githubusercontent.com/90288/68345755-f4cf0300-00a6-11ea-8c47-210ded2b4bf4.png)

[2019-11-07 15:12] piecyk commented on #316
Looks like `create-react-context` doesn't work exactly as `React.createContext` 😞

This is regression of https://github.com/FezVrasta/react-popper/pull/266/files#r251516842

we need to fallback to previous check, basic fix this line, and clear the node on unmount
https://github.com/FezVrasta/react-popper/blob/master/src/Manager.js#L16

[code]

Would be awesome to run tests on multiple versions of

[2019-11-07 15:33] #316 closed

[2019-11-07 17:29] tybro0103 commented on #316
@piecyk  Thank you bunches!

[2019-11-07 18:11] JonathanAquino commented on #316
@piecyk @FezVrasta Thanks!

[2019-11-13 12:04] debel27 opened #318 "Make react-popper up-to-date with flow-bin"
I'm unable to upgrade flow-bin to "^0.111.0" in my project because it triggers errors in react-popper.

Would it be possible to upgrade the flow-bin dependency in react-popper to match the latest flow version ? I can attempt a PR for this, if you're willing to accept it

### Reproduction demo

See next section

### Steps to reproduce the problem

[code]

### What is the expected behavior?

No flow

[2019-11-13 12:43] FezVrasta commented on #318
If you are using a recent version of Flow, it's recommended to add the following config to your `.flowconfig` file:

[code]

This configuration will tell Flow to use the `node_modules` type definitions, but to ignore any errors happening within them.

I'd appreciate a PR to upgrade Flow to the most recent version though, so feel free to prepare one if you'd like!

[2019-11-13 13:16] debel27 commented on #318
Thanks for the tip ! This is indeed very handy.

I'll try and find time for a PR this week.

[2019-11-13 17:57] debel27 commented on #318
@FezVrasta I've created #319.

There are very few changes, but I'd love to have your input when you have the time.

[2019-11-27 10:35] lpoulter opened #321 "Usage of Popper.js referenceObject"
Is there a way to use Popper.js's referenceObject with react-popper. I want to be able to use a DOM node as the popper target.

https://popper.js.org/popper-documentation.html#referenceObject

[2019-11-27 10:47] lpoulter commented on #321
Sorry I must try harder 😄
It's in the [docs](https://github.com/popperjs/react-popper/blob/400ecebe459688c08c20072944e7eb459842d038/README.md#usage-without-a-reference-htmlelement)

[2019-11-27 10:50] #321 closed

[2019-12-11 12:37] muhajirdev opened #322 "URL 404"
the url https://fezvrasta.github.io/react-popper/ is not working

[2019-12-11 12:38] muhajirdev commented on #322
should be https://popperjs.github.io/react-popper/

[2019-12-11 13:04] FezVrasta commented on #322
That's right, thanks, I recently migrated the repo and forgot to update the URL.

[2019-12-11 13:07] #322 closed

[2019-12-17 10:18] kristofferlund commented on #311
When I build my project with react-popper 1.3.7 I get something similar:
[code]

[2019-12-18 16:06] FezVrasta commented on #241
With the upcoming Popper 2, an hypothetical hook would look like this:

[code]

[2019-12-18 16:28] therealparmesh commented on #241
@FezVrasta This looks great! One minor detail - Could we also expose [`scheduleUpdate`](https://popper.js.org/popper-documentation.html#Popper.scheduleUpdate) from the hook?

[2019-12-18 16:31] FezVrasta commented on #241
yes of course, this is just a quick draft to show the potential of the new Popper API.

I'd also need to expose the `arrowRef` somehow.

[2019-12-18 16:38] FezVrasta commented on #241
[code]

Probably it will end up looking like this.

[2019-12-23 15:10] acambas opened #324 "Incorrect popover location"
### Reproduction demo

After the recent update from 1.3.6 to 1.3.7 of react-popper, I'm having an issue where the popup is not appearing at the correct place, the issue doesn't happen with 1.3.6 at all.
I can't show the exact code since it's proprietary but here are the images with the bug.

The image with the issue(1.3.7 version), the "ADD ADULT" popover should open around the gray circle with a

[2019-12-23 18:38] FezVrasta commented on #324
I can’t help without a reproducible demo (codepen, codesandbox, etc). I’m sorry.

[2020-01-06 13:07] atomiks commented on #295
The vanilla version works the same: https://codesandbox.io/s/intelligent-hooks-sj2rl

I am guessing `viewport` should be default for `preventOverflow` in v2 then https://github.com/popperjs/popper.js/issues/617#issuecomment-569219021

This means it matches `flip`.

[2020-01-06 13:56] FezVrasta commented on #295
Closing since it's a Popper.js issue, not a react-popper one.

[2020-01-06 13:56] #295 closed

[2020-01-06 15:48] movahedan commented on #324
I'm facing the same problem, on very first render, "style" object set a wrong "transform" attribute. But it's pretty fun that when I scroll the page, "style" object updates and the popover take place in correct position, I tried "scheduleUpdate" and change "modifier" object, but the problem remained. I can scroll the page manually when open state changes (as I told above), but It's a hot fix. Can

[2020-01-06 16:17] #324 closed

[2020-01-07 09:33] singharpit94 commented on #324
This issue can be because of this [commit](https://github.com/popperjs/popper.js/pull/790/files)

[2020-01-16 10:55] atomiks commented on #241
[Here's a CodeSandbox demo of the hook for `rc.2`](https://codesandbox.io/s/elastic-napier-2nygy)

There are two examples:

- **Default**: import from the default path, `@popperjs/core`, to include all the modifiers available (even the ones you don't use)
- **Lite**: import from the lite path, `@popperjs/core/lib/popper-lite`, to import only the most necessary modifiers, and add modifiers as you g

[2020-01-16 12:21] FezVrasta commented on #241
I was considering adding an option to pass a custom `createPopper` function, so that consumers can override the default one with one configured with their needs.

[2020-01-16 12:25] atomiks commented on #241
That does make sense, dependency-injectiony type of thing. How can there be a default one though? I don't think we can import from anywhere since it will add unnecessary code if they don't use that import path. It seems like it would be required to inject a `createPopper` function where the user chooses the path.

[2020-01-16 12:27] FezVrasta commented on #241
I suppose tree-shaking should be able to strip out the default `createPopper` if it ends up unused, but I need to verify it.

[2020-01-16 12:32] TrySound commented on #241
@FezVrasta Treeshaking will work if you will add annotation
[code]

[2020-01-16 12:42] atomiks commented on #241
[Example of injection technique](https://codesandbox.io/s/quirky-star-vxlbm) - where would the annotation go @TrySound?

[2020-01-16 12:45] FezVrasta commented on #241
Is `/*#__PURE__*/` necessary if the library defines `sideEffects: false` in its `package.json`?

[2020-01-16 16:25] FezVrasta commented on #241
I'm thinking about something like this...
https://codesandbox.io/s/recursing-northcutt-porqh

[code]

so that we keep the same API of Popper 2

[2020-01-16 16:57] tylergraf opened #328 "Any idea when you'll move to Popper.js 2.0?"
Just wondering. There's a bug in popper 1 with backup placement and I hear it's fixed in 2.0.

[2020-01-16 17:02] FezVrasta commented on #328
There is some conversation about it on #241

[2020-01-16 17:02] #328 closed

[2020-01-17 01:06] atomiks commented on #241
@FezVrasta that would also work cleanly with Virtual Elements which don't work with the previous hook! Great solution.

For the arrow ref problem, a callback ref works, but it's not exactly consistent or pretty: https://codesandbox.io/s/optimistic-sea-rgqku

The hook also runs the second `useLayoutEffect` on first update needlessly, and the arrow needs to be updated as well. So that's 3 updates –

[2020-01-18 15:50] renke commented on #241
A few API suggestions (based on my own hook version of popper.js):

[code]

In addition to that, it might make sense to expose a low-level hook (default config, no popper/arrow props) and high-level hook (which uses the low-level one and behaves like the current component based variant).

[2020-01-20 12:22] ignatevdev opened #329 "Position based animations"
Hi. I have been hacking around react-popper for the last few days trying to make a generic dropdown component, which I would be able to reuse in my projects.

Everything worked great until I've tried to implement fade-in/fade-out transitions. Everything works fine, if you are only making a simple animation, like switching the opacity of the dropdown. However, I want to create an animation, where d

[2020-01-20 13:52] ignatevdev commented on #329
UPD:
It seems that I have made an error in my component, which was causing the incorrect position to be saved upon opening.

I have fixed the sandbox for anyone who wants to see a working example.

Meanwhile, I will close this issue until I'll face some other problems related to this.

[2020-01-20 13:52] #329 closed

[2020-01-23 07:00] SilverDY opened #330 "Position based animation (react-spring)"
I have a question. I want to create a position based animation (react-spring) for my dropdown component. I have done it, but I have animation only for `placement === "bottom-start"` and I would like to do it for `placement === "top-start"` dynamically (when it changed from `bottom-start` to `top-start`). But the problem is that I can get access to `placement` only in render props which is not good

[2020-01-23 07:04] SilverDY commented on #330
My animation looks like:

[code]
I want to change `transformOrigin` based on the position.

[2020-01-23 08:23] FezVrasta commented on #330
I’m afraid render props don’t play very nicely with hooks. You may need to create a child component, pass the placement to it, and use the transition hook in it

[2020-01-23 09:32] SilverDY commented on #330
@FezVrasta
This is what I was afraid of :(

[2020-01-24 11:14] SilverDY commented on #330
@FezVrasta I have tried your approach. It didn't work as expected. Something was wrong with the animation itself and the arrow component didn't work correctly (it removed sometimes and other stuff). I did it in a bit different way.

Sorry, I'm too lazy to write my code somewhere in CodePen, so this is my (simplified) code :)
I'm just saving the position in the state and pass it to my transitions;

[2020-01-25 11:19] ryanelian commented on #328
![image](https://user-images.githubusercontent.com/8892187/73120324-02f23880-3f9f-11ea-9237-19e1866d7bb5.png)

Ok this sucks. Apparently reactstrap depends on react-popper which depends on popper.js 1x package WHICH is deprecated and causing CI build failing due to deprecation warning in ALL my repositories.

Can we immediately switch to popper.js 2, like very urgently or undeprecate the latest ve

[2020-01-25 11:33] FezVrasta commented on #328
Why does your build fail because of a warning?

[2020-01-25 11:41] ryanelian commented on #328
![image](https://user-images.githubusercontent.com/8892187/73120550-32567480-3fa2-11ea-84b5-78397ea0852d.png)

Using GitHub Action. It fails on warning apparently?

[2020-01-25 12:23] FezVrasta commented on #328
You should probably tell Yarn to not throw warnings

[2020-01-25 12:26] ryanelian commented on #328
I would love to do that but that's not possible at all.

https://legacy.yarnpkg.com/en/docs/cli/install

https://github.com/yarnpkg/yarn/issues/6672

[2020-01-26 10:58] FezVrasta commented on #328
You can create a `.yarnrc` file and put this in there:
[code]

[2020-01-26 19:03] #330 closed

[2020-01-31 07:56] mykas opened #331 "Migration to popper.js v2"
Dear @FezVrasta,

I see from the popper.js documentation that you managed to release version 2! 😱 This is amazing and thank you for all the hard work you did. Now talking about the `react-popper` library, do you have plans to update it too in near future? If not maybe I can do a contribution based on the migration guide.

[2020-01-31 16:49] billyjanitsch commented on #331
Duplicate of https://github.com/popperjs/react-popper/issues/328. 🙂

The author pointed to recent discussion in https://github.com/popperjs/react-popper/issues/241.

[2020-01-31 17:25] #331 closed

[2020-02-02 12:07] sgrishchenko opened #332 "Update Popper.js to version 2"
Second version of Popper.js was published and it would be nice to support it.

[2020-02-06 22:21] colepeters commented on #332
Duplicate of #328, see discussion in #241 :)

[2020-02-07 15:40] apieceofbart commented on #263
I had to add ` disableEventListeners: () => {}` for tests to work

[2020-02-11 13:11] Harsh1796 opened #334 "Popper instance not updating with `espaceWithReference` modifier in v1.3.7"
### Reproduction demo

The following are the forks related to the issue:

Fork with the issue: https://codesandbox.io/s/react-popper-bug-v137-elm3p
Fork without the issue: https://codesandbox.io/s/react-popper-bug-v136-4n096

### Steps to reproduce the problem

1. Add an element(<div/> maybe) above the `reference element` and place the `popper element` to the bottom of `reference element`.
2.  Add

[2020-02-11 13:25] FezVrasta commented on #334
That's expected, previously the popper was instantiated on every React rerender, but it wasn't the way it was designed to work.

You need to manually trigger a popper update to achieve what you're after. You can  either use a `useEffect` or a mutation observer.

[2020-02-11 13:25] #334 closed

[2020-02-13 15:14] greg-a-smith opened #335 "Question: Version 1.3.7 not found in Releases tab"
This isn't an issue by the standard definition, but rather a question.  I see the `package.json` is updated to version 1.3.7 and that version exists on npmjs.com, however, I don't see it in the Releases tab nor do I see a tag for that version.  Seems like an oversight, right?

[2020-02-13 15:15] FezVrasta commented on #335
Hi, the only change included in 1.3.7 was the addition of the `funding` package.json field, 1.3.6 is functionally identical so I didn't cut a new github release.

[2020-02-13 15:15] #335 closed

[2020-02-22 18:00] ignatevdev commented on #241
Hooks are cool, but I don't quite understand how you would handle the actual popper change or unmount.

If you are connecting to the components using ref, it is not possible to run a `useEffect` hook on the ref change, which means that this model kinda falls apart.

In my opinion it's better to simply update the library to the latest popper and keep the API the same. It works well and does the job

[2020-02-24 16:21] JKillian commented on #241
Great discussions! I was curious if there's a WIP branch or anything demonstrating the new API? I'm considering switching my codebase over from Tether -> Popper, I'd just rather wait to do it until the hooks API is released so that we don't have to make another transition later.

[2020-02-24 16:27] jquense commented on #241
if anyone is looking for some public implementation  react-overlays has a popper hook: https://github.com/react-bootstrap/react-overlays/blob/master/src/usePopper.js

[2020-02-25 18:31] designbyadrian commented on #241
This looks much more convoluted than the Manager/Reference/Popper structure of 1.2 – what is there to gain?

[2020-02-26 00:51] ignatevdev commented on #241
@jquense I was trying to make my own hook the same way you did, but I got really confused if I should try to prevent unnecessary state changes.

Modifiers are run on every scroll event, which would trigger dozens of `setState` calls. In theory, this can result in a performance issue if someone tries to put an unoptimized component inside the dropdown, and I'm not sure if I should try to debounce i

[2020-02-26 01:50] jquense commented on #241
I don't think you need to worry about it unless you are running into perf issues. Popper already schedules and dedupes the events via requestAnimationFrame so it should be smooth even if it's noisy. If it does causes issues you can disable updates from events, which is partly why its a first class option on the hook

[2020-02-26 11:05] ignatevdev commented on #241
Alright, thanks!

I have also tested your hook implementation and would like to share a few suggestions, because they might be relevant to anyone who tries to do the same and also relevant to the issue.

1. Passing elements instead of refs might cause issues on the initial mount and further remount of the child component

In my case, because refs are created before the component mounts, the initia

[2020-02-26 11:37] BenGladman commented on #241
I have just implemented a hooks api closely based on the one in react-overlays mentioned above. I came across the problems mentioned by @ignatevdev . To solve, used the same technique used in react-overlays, which is instead of using `useRef` to hold the elements, use `useState`. Like this:

[code]

[2020-02-26 12:21] Velenir commented on #241
I would like to add another `usePopper` example implementation
https://codesandbox.io/s/react-popper-hook-2z49d
Two variants: DumbExample -- where popper takes care of styling, and SmartExample -- react handles styling.

I hope it will be of use for someone.

[2020-02-26 12:22] ignatevdev commented on #241
@BenGladman

I have also tried that approach, actually, but in my case it was causing infinite loop, which is why I ended up using refs. Maybe there is something wrong with how I render the actual popper, but I didn't dive too much into it because I was migrating the working code from `react-popper` and wanted to achieve the same behaviour. But if it works for you without a problem, I guess it is

[2020-02-26 12:55] jquense commented on #241
To clarify folks, out hook does not accept refs **intentionally** because `useRef` is the wrong thing to use when you need to be updated when they change. Instead you should use a "callback ref" (react's confusing name not mine).

[code]

As @ignatevdev noted the problem with refs is you cannot respond to changes very easily. instead In other words, `useState` is the more correct thing to do here

[2020-02-26 14:18] BenGladman commented on #241
Nice, thanks for the docs link, that has put my mind at ease!

[2020-03-18 13:14] ziaulrehman40 commented on #171
@elie222 Some explanation on how to use will be great

[2020-03-18 13:27] elie222 commented on #171
A click outside hook may be better nowadays

[2020-03-23 15:28] MortenHofft opened #338 "Overflow when using arrowProps."
### Reproduction demo
Overflows on the left when setting position bottom
https://codesandbox.io/s/react-popper-v1x-issue-template-zuh2j

Solved by removing the arrowProps.ref
https://codesandbox.io/s/react-popper-v1x-issue-template-1iquk

### Steps to reproduce the problem

1.  Look at the purple box, it overflows in one example, but not the other

### What is the expected behavior?

I *think* it

[2020-03-31 12:44] FezVrasta commented on #332
`react-popper@2.0.0` is now on npm, it supports Popper 2, but it doesn't provide a React Hooks based API for the moment.

I bumped the minimum React version to 16.8 in order to get rid of `create-react-context` and to make it possible to release a `feature` version with a new Hooks based API in the future without having to cut a new major.

Please report any problems with it by filing new issues.

[2020-03-31 12:44] #332 closed

[2020-03-31 12:48] FezVrasta commented on #338
This is fixed in `react-popper@2`
https://codesandbox.io/s/react-popper-v1x-issue-template-9htno

[2020-03-31 12:48] #338 closed

[2020-03-31 12:49] FezVrasta commented on #318
Flow has been updated to latest on 2.0.0

[2020-03-31 12:49] #318 closed

[2020-04-01 17:00] atomicpages opened #340 "Provide a more approachable example"
First and foremost, thanks for the great work on `react-popper` and popper.js 2!

I checked out the demo for example usage, but it was a little challenging to understand. It would be nice to have "bite-sized" examples for those who are new to popper.js and/or React. I created a codesandbox example that contains five examples that are more approachable and demonstrate usage in a pragmatic fashion:

[2020-04-02 11:50] FezVrasta commented on #340
Thanks for the examples.

I think it would make sense to provide a React alternative to https://popper.js.org/docs/v2/tutorial/, I'd love to have it in the popper.js.org website, so that we can keep all the documentation in a single place.

If you'd like to convert the existing vanilla js tutorial into a react-popper one please do so by submitting a PR in the popper-core repository.

[2020-04-02 17:14] atomicpages commented on #340
@FezVrasta sure I'd be happy to do that.

[2020-04-02 17:14] #340 closed

[2020-04-04 19:24] Slapbox opened #342 "forceUpdate is not defined"
### Reproduction demo
None at present.

### Steps to reproduce the problem

1.  Create virtual element to reference (not sure this matters)
2.  On the inner popper component, which is passed the props from ` <Popper />`, try to access `this.props.forceUpdate` - it will be `undefined`

### What is the expected behavior?
`forceUpdate` should exist as per [PopperJS v2 docs](https://popper.js.org/docs

[2020-04-04 21:14] FezVrasta commented on #342
The docs still need some work to reflect the Popper 2 update ☹️

[2020-04-04 21:39] Slapbox commented on #342
@FezVrasta thanks for your reply! I'm a bit confused, React-Popper _should_ expose `forceUpdate()`, right? `v1.x` passed both `scheduleUpdate` and `update` as props if I'm not mistaken.

[2020-04-04 21:44] FezVrasta commented on #342
Yes I’m confused too 😂 I’ll take a look tomorrow.

[2020-04-06 06:19] FezVrasta commented on #342
2.1.0 exposes `forceUpdate`

[2020-04-06 06:19] #342 closed

[2020-04-06 06:22] #305 closed

[2020-04-06 06:23] #304 closed

[2020-04-06 06:48] FezVrasta commented on #241
Here's a PR with a first draft of the `usePopper` Hook: https://github.com/popperjs/react-popper/pull/343

I'd also like to rewrite the existing render-props components to use the new Hook internally, but I'll wait for some feedback on the newly proposed Hook before I proceed.

[2020-04-07 21:11] Slapbox commented on #342
@FezVrasta thanks for the prompt attention! Unfortunately the issue persists for me with `react-popper` and `@popperjs/core` each at `2.2.0`. Thoughts?

[2020-04-07 21:45] FezVrasta commented on #342
May you please provide a reproduction example on codesandbox or codepen please?

[2020-04-07 21:51] Slapbox commented on #342
Hey @FezVrasta I won't have time to put together something more robust, but here's sort of our usage looks like:

[code]

So instead we're now checking if `forceUpdate` is defined in `componentDidUpdate` and running our `registerPopperFunctions` at the point `forceUpdate` is available. It takes like 15 lines instead of 3 and has to run on every update, but it's still pretty lightweight and it work

[2020-04-08 18:42] atomiks commented on #214
This doesn't happen in Safari 13 it seems. Also it probably doesn't happen in older versions with the latest major

[2020-04-08 18:48] #214 closed

[2020-04-08 18:49] #256 closed

[2020-04-08 19:32] #300 closed

[2020-04-09 14:37] #241 closed

[2020-04-09 15:09] FezVrasta commented on #311
May someone take a look at react-popper@2.2.0? I removed `create-react-context` and bundled `warning` and `react-fast-compare`, so everything should work now.

[2020-04-09 15:09] #311 closed

[2020-04-09 16:04] ah-aberg opened #345 "TypeError: (0 , _reactFastCompare.default) is not a function when running tests"
Get the following error when running tests with V2.2

TypeError: (0 , _reactFastCompare.default) is not a function
11:34:40        node_modules/react-popper/lib/cjs/usePopper.js:75:42

[2020-04-09 16:08] FezVrasta commented on #345
Hi, do you have all the dependencies installed? `react-fast-compare` is a new dependency

[2020-04-09 16:21] ah-aberg commented on #345
But it isn't a peer dependency, I shouldn't have to install it... that should just happen.
It looks like some other package uses an older version, so possible conflict?

[2020-04-09 16:46] FezVrasta commented on #345
I'm not sure how to help without a reproduction example I can play with, sorry.

[2020-04-09 22:52] mliq commented on #345
I have the same issue and a clean install does not fix it. I have gone back to 2.1.

Thank you for your hard work on this, but please be more considerate of following semver, as this can cause quite an issue with many people's applications and cost a lot of time in a big team, as it did for us today.

The Release notes for 2.2 say:

2 things wrong with this:

1. Anything that is a 'complete rewrit

[2020-04-09 22:55] mliq commented on #345
Sorry that I can't make a repro at the moment, but it may have to do with `@storybook/components`, which depends on `"react-popper-tooltip": "^2.8.3",`, which depends on `"react-popper": "^1.3.7"`

[2020-04-09 23:05] atomiks commented on #345
`react-fast-compare` only ships a CJS version, but Popper imports it as a module. Usually this is fine, but not in the case of Jest, because of the following I think:

[code]

 I think bundlers usually don't require this with their ESM-CJS interop, but Jest does require it.

[2020-04-10 05:02] FezVrasta commented on #345
Why does it work in our tests and in my CRA app then?

[2020-04-10 05:13] atomiks commented on #345
It likely depends on the configuration

[2020-04-10 05:51] FezVrasta commented on #345
The library does `module.exports = function isEqual(...`, so there's not a named export, it should fallback to the default export.

If I try to do `import { isEqual } ` it throws an error because it's not exported  that way.

[2020-04-10 06:02] atomiks commented on #345
https://unpkg.com/browse/react-popper@2.2.0/lib/cjs/usePopper.js check line 75

[2020-04-10 06:04] FezVrasta commented on #345
Oh cool, why 😳

[2020-04-10 06:08] FezVrasta commented on #345
Fixed in 2.2.1

[2020-04-10 06:10] #345 closed

[2020-04-11 10:26] acfasj opened #348 "`usePoper` TS types wrong for `udpate` and `forceUpdate`, v2.2.1"
### Reproduction demo
https://codesandbox.io/s/react-popper-example-rrisx?file=/src/index.tsx

### Steps to reproduce the problem

1.  use `update` function which return by `usePoper`
2.  then get type error `Type 'Pick<Instance, "update">' has no call signatures`

### What is the expected behavior?
the correct typing for update and forceUpdate

### What went wrong?

the TS  definition is wrong.
n

[2020-04-11 13:45] #348 closed

[2020-04-13 09:50] jamiewinder opened #349 "Single frame positioning glitch in concurrent mode"
I think this is specific to React's experimental concurrent mode, though it occurs with both `createRoot` and `createBlockingRoot`.

When used in either, the popper can briefly appear in the top-left of the viewport before shifting into the correct position. If the popper instance had calculated a position already, then it'll briefly appear in the old position before moving to the new one (though

[2020-04-13 10:15] FezVrasta commented on #349
Thanks for the report!

I think we could set a `visibility: hidden` to the popper element until we get it positioned, it should fix the issue.

[2020-04-13 11:44] jamiewinder commented on #349
Thanks.

I was thinking along those lines, though there is the other detail of the issue (which I'm having trouble creating an effective  demo for), where the popper appears at the old position before updating to the new one on some occasions. It basically looks like the popper tries to show before it's ready when the reference is (re-)positioned rather than just on the first update.

I'll keep tr

[2020-04-14 16:25] mogusbi opened #350 "Popper causing warnings when running tests"
### Reproduction demo

https://github.com/mogusbi/react-popper-test-error

### Steps to reproduce the problem

1.  Clone the repo
2.  Install dependencies
3.  Run `npm test`

### What is the expected behavior?

Tests to run without any warnings being emitted

### What went wrong?

Any test that contains a component that has popper causes this warning to be outputted.

This is happening when using

[2020-04-14 16:49] FezVrasta commented on #350
We have a couple of those warnings in our test suite too, I don't know how to fix them, but I'm almost positive it's not an issue with the library itself, but with the way the tests are written.

[2020-04-14 16:52] mogusbi commented on #350
I'm not so sure as these warnings were not appearing in version 1 of the library

[2020-04-14 16:56] FezVrasta commented on #350
v1 didn't use React Hooks, those warnings appear only if the component is using them and the tests are not properly written

[2020-04-14 17:14] FezVrasta commented on #350
Please take a look at this commit to see how I fixed the warnings in react-popper's tests, you should do something similar in your tests.

https://github.com/popperjs/react-popper/commit/8074c07a35c264d08b31d847a64c8cf05c0aa813

[2020-04-14 17:14] #350 closed

[2020-04-14 20:17] bengry opened #351 "TypeScript types broken with latest version of popper-core"
### What went wrong?
With the latest version of `@popperjs/core` the type of `Modifier` was changed from `type Modifier<Options>` to `type Modifier<Name, Options>` as part of https://github.com/popperjs/popper-core/pull/1073 ([relevant changeset](https://github.com/popperjs/popper-core/pull/1073/files#diff-3a699a0719518f967e9b2df3f5549e02R111)).

This causes the types of `react-popper` to break to

[2020-04-14 22:41] bengry opened #353 "Discussion: Migrate codebase to TypeScript (from Flow)"
I hope this is the correct place to put this - I didn't find any existing similar issue, and also the Spectrum chat seems like a worse place to put this up for discussion, since it's less visible than an issue. If this is out of place, feel free to close this, but please redirect me to where this discussion can take place.

---

With a lot of the community moving towards TypeScript over Flow (see

[2020-04-15 04:36] FezVrasta commented on #353
Hi, I don’t have any plan to migrate to TypeScript, it would degrade the type safety of the code base.

TypeScript is okay for people that are looking for a way to have autocomplete/intellisense functionalities, but it’s not suitable as a role system.

[2020-04-15 04:36] #353 closed

[2020-04-15 08:43] bengry commented on #353
@FezVrasta what do you mean? I don't have much experience with Flow, but TypeScript gives you lot much than just autocomplete. If you set it to `strict` mode (which you should when using it, unless there are good reasons not to), you get a very strong type system.

Do you have an example for something that wouldn't be possible in TS that's used in the repo, that Flow covers?

[2020-04-15 09:01] FezVrasta commented on #353
TypeScript has basically no type-inference

TS:
![image](https://user-images.githubusercontent.com/5382443/79319106-30001880-7f08-11ea-924c-d2dc7f059867.png)

Flow:
![image](https://user-images.githubusercontent.com/5382443/79319124-355d6300-7f08-11ea-939c-7a241dbe73b5.png)

TS:
![image](https://user-images.githubusercontent.com/5382443/79319180-460dd900-7f08-11ea-87a4-151b6b648bd1.png)

Flow:
![i

[2020-04-15 09:23] ejdzipi opened #354 "Incorrect position on mount"
After updating to version 2.2 and above, popper is incorrectly positioned on first mount. Simple scroll or resize event will fix it.

### Reproduction demo

https://codesandbox.io/s/gifted-ishizaka-3mxdv

### Steps to reproduce the problem

1.  In provided codesandbox demo, open styles.css and remove min-height on line 4

### What is the expected behavior?

Popper should be placed correctly

### W

[2020-04-15 09:31] atomiks commented on #354
I can't reproduce it in Chrome or FF. In Safari the layout shifts but updates aren't triggered by default when the DOM layout changes. Is that the issue?

[2020-04-15 09:40] ejdzipi commented on #354
I am using Chrome 81.0.4044.92 64bit on Win10. Also tried Firefox 75.0 and issue is present.
Here is screencast:
![popper](https://user-images.githubusercontent.com/32513027/79322974-e1ee1380-7f0d-11ea-8925-2ab58be8c7df.gif)

[2020-04-15 09:42] atomiks commented on #354
I see, this is expected behavior. The popper doesn't update due to layout changes by default, only scroll/resize. It should've happened with any version in the past though.

[2020-04-15 09:43] #354 closed

[2020-04-15 09:46] ejdzipi commented on #354
But it is causing issues with arrow position in my other project. This is how it looked like on the first mount before using hooks version:
![2 1 0](https://user-images.githubusercontent.com/32513027/79323559-a738ab00-7f0e-11ea-925b-b92efdb7a3db.jpg)
After implementing hooks, it looks like this:
![2 2 2](https://user-images.githubusercontent.com/32513027/79323591-b1f34000-7f0e-11ea-9132-cdc24fdb75

[2020-04-15 09:48] atomiks commented on #354
You are probably passing an arrow with `useRef`, not using `useState`, right? You need to use callback refs not a ref object.

[2020-04-15 11:06] bengry commented on #353
Regarding your first example, I agree TS couldn't probably inferred it in this case, but in sake of consistency, it does not (again, just my thoughts), since the following it cannot infer:
[code]
are `a` and `b` `number`s or `string`s, both? I've tried this in flow and it compiles, but I'm not sure what the inferred type is, especially for this:
![image](https://user-images.githubusercontent.com/2

[2020-04-15 11:41] ejdzipi commented on #354
I have updated the sandbox: https://codesandbox.io/s/gifted-ishizaka-3mxdv
The first load is showing displaced arrow:
![firstload](https://user-images.githubusercontent.com/32513027/79333408-c4757580-7f1e-11ea-9259-e39de7e85717.jpg)
Can you please check it out?

[2020-04-15 12:00] atomiks commented on #354
https://codesandbox.io/s/frosty-breeze-3525h?file=/src/styles.css

two problems:

1. you arrow needs to have a `width` & `height` specified
2. you need to use a ternary for the className, since it's doing `arrowundefined ` currently

[2020-04-15 13:20] FezVrasta commented on #353
I don't plan to abandon it, I don't desire to join it at all. I just prefer the soundness of Flow, and the way it handles type inference.

[2020-04-16 07:57] FezVrasta commented on #353
Just yet another example I stumbled upon today:

[code]

This thing throws 2 errors:

- `Property 'fromEntries' does not exist on type 'ObjectConstructor'.ts(2339)`;
- `Property 'entries' does not exist on type 'URLSearchParams'.ts(2339)`;

How can someone willingly decide to use TypeScript?

[2020-04-16 08:50] bengry commented on #353
This is due to the `target` + `lib` property in `tsconfig.json` - TS tried to warn you about stuff, including calling non-existing methods.
For example:
[code]

It's the same thing with `fromEntries` and `entries` - TS doesn't know these methods exist on the type `ObjectConstructor` or `URLSearchParams`, since it takes the definitions for those types based on the `target` you're on (and the additi

[2020-04-16 08:53] FezVrasta commented on #353
I have everything set to ES2019 and it doesn't work, this is the issue. Not even the TypeScript Playground works. This is insane.

[2020-04-16 09:18] bengry commented on #353
The playground doesn't allow specifying the `lib` unfortunately, but with  your `compilerOptions` things work just fine, once I added `"DOM", "DOM.Iterable"` to the `lib`. The reason `"DOM"` is needed is because `URLSearchParams` is not part of ECMAScript, but instead part of the browser API (doing `new URLSearchParams()` in node wouldn't work), and `"DOM.Iterable"` because `.entries()` (and you c

[2020-04-16 09:29] FezVrasta commented on #353
Wow, thanks, that's crazy, basically every single TS user in the world has a different config then.

This doesn't really explain why `Object.fromEntries` needs the DOM definitions... It's part of the ECMAScript specification.

[2020-04-16 09:37] bengry commented on #353
Not really, it's very configurable, especially since there are many targets that JS can run on, and TS also does transpilation to older targets for some stuff (that's the main difference between `target` and `lib` in this case). Not sure that's a good thing, but it's there...

`Object.fromEntries` doesn't need the DOM definitions, only `ES2019`.
`URLSearchParams` needs `DOM` (since it's part of th

[2020-04-16 09:41] FezVrasta commented on #353
Without the `DOM, DOM.Iterable` definitions, URLSearchParams is available, but lacks some methods. This is NOT okay.

Yes it does, with just ES2019 I get the error I reported above.

Just because TS is more popular it doesn't mean everybody have to use it, and for sure it doesn't mean I need to migrate a perfectly good Flow-typed project to it.

[2020-04-16 09:56] bengry commented on #353
Like what? I'll be happy to provide an explanation, if I know it.

The error you got was about `URLSearchParams` maybe? [Here's a CodeSandbox](https://codesandbox.io/s/great-hugle-3ntxp?file=/src/index.ts) with _just_ `ES2019` that shows `Object.fromEntries` works fine.

Of course not, I just thought that it would be less trouble to maintain, if the majority of users are either using JS (i.e. non-

[2020-04-16 12:22] ejdzipi commented on #354
I have implemented it in my project, based on your example (added width, height, corrected classnames) but the problem persists. I was unable to reproduce it on codesandbox, but i found that if i scroll page at least 1px down, everything works correct. Problem is shown only on the first page load, when content is not scrolled.

[2020-04-18 21:56] Slapbox opened #356 "VirtualReference not calling getBoundingClientRect as expected"
### Reproduction demo
None right now. Sidenote, issue template links to code sandboxes for `v0` and `v1`, but not `v2`.

### Steps to reproduce the problem
This is a very basic version of how the updates are being called. Only creates an issue above `2.1.0`.

[code]
### What is the expected behavior?

The `getBoundingClientRect` method of the `VirtualReference` should be called when `update` is ca

[2020-04-19 05:45] FezVrasta commented on #356
Without a repro it’s going to be difficult to help you

[2020-04-19 19:14] Slapbox commented on #356
Unfortunate, but not unexpected. I understand .Thanks for your reply @FezVrasta.

If I was sure about how to reproduce it I'd try to find the time, but since I'm not and since `2.1.x` works perfectly, perhaps someone else will come along with the same issue and make a repro.

[2020-04-20 12:59] ejdzipi commented on #354
I have created another demo, which reproduces the problem. First, i have bootstrapped simple react app from create-react-app, then i have added popper, react-popper and emotion for css-in-js. I have implemented popper example using hooks and the problem persists.
Repo URL: https://github.com/ejdzipi/cra-popper-arrow-issue
@atomiks can you please take another look on this? I have added width&height

[2020-04-20 13:07] FezVrasta commented on #354
the arrow needs to have same width and height, and its `position` needs to be absolute, otherwise before Popper has a chance to position it, the arrow will stretch the tooltip.

https://codesandbox.io/s/lingering-waterfall-qr9y2?file=/src/Popper.js

[2020-04-20 18:40] ejdzipi commented on #354
Thank you, finally i understand it 🎉 Could this information be added to library documentation? I believe that it might be beneficial for others, if there is information that arrow element should have defined size and absolute position.

[2020-04-21 14:05] FezVrasta commented on #356
I updated the template to use v2, feel free to use it to prepare a repro.

https://codesandbox.io/s/relaxed-northcutt-7mwkynymlq

For now I'll close this issue, I'll reopen it once a repro is provided.

[2020-04-21 14:05] #356 closed

[2020-04-21 14:37] #351 closed

[2020-04-23 10:47] RomanPoghosyan commented on #72
I have the same issue now, anyone can help me? I think something is broken after that commit

[2020-04-23 10:51] FezVrasta commented on #72
Please open a new issue following the issue template, this one is 3 years old.

[2020-04-30 14:03] tannerhallman opened #359 "Documentation could use more examples"
I

[2020-04-30 14:10] FezVrasta commented on #359
Hi! Yes it'd be great, the documentation source code is at https://github.com/popperjs/website, please do let me know if you need any guidance.

[2020-04-30 14:14] FezVrasta commented on #359
FYI I'm getting a runtime error on your sandbox

[2020-04-30 14:51] tannerhallman commented on #359
[Fixed it.](https://codesandbox.io/s/musing-grass-nvpt0?file=/src/App.js:0-2074) Thank you. Some weird caching issue with old versions.

I'll get something PR'd this week.

[2020-04-30 14:53] FezVrasta commented on #359
It'd be cool if you followed the style we used for the vanilla tutorial https://popper.js.org/docs/v2/tutorial/

[2020-04-30 14:55] tannerhallman commented on #359
On it.

On Thu, Apr 30, 2020 at 10:53 AM Federico Zivolo <notifications@github.com>
wrote:

[2020-05-03 12:45] knpwrs opened #360 "Hook parameters are not documented"
When I look at https://popper.js.org/react-popper/v2/hook/ I see documentation about what is returned from the hook but nothing about what I should pass into the hook! I wound up using the TypeScript types though I also realize there's an example at https://popper.js.org/react-popper/v2/ but it really seems like the hook parameters should be documented on the hook page.

[2020-05-03 14:00] FezVrasta commented on #360
I'd rather have all the documentation in a single place, if we place it in the readme, and in the docs, we need to update it twice

[2020-05-03 14:00] #360 closed

[2020-05-07 03:26] jibberishclient commented on #359
How do you actually use this with React? The vanilla JS docs are there but the React docs are lacking and it has a dead link. The repo itself has a demo folder with premade components so the usage is completely abstracted. Looking for more on the usePopper hook.

[2020-05-07 03:40] jibberishclient commented on #359
Is there a way to close the popper when the user clicks outside?

[2020-05-07 11:51] FezVrasta commented on #359
@jibberishclient no, Popper is not a tooltip library.

[2020-05-07 12:48] tannerhallman commented on #359
Check out my article. I explain just that.

On Thu, May 7, 2020, 7:51 AM Federico Zivolo <notifications@github.com>
wrote:

[2020-05-07 14:30] jibberishclient commented on #359
Why is useState used instead of useRef?

[2020-05-07 14:44] tannerhallman commented on #359
Docs show useState, I ended up using useRef because I didn't have the time
to figure out why useState wasn't working.

 I'm trying to get to a PR this week adding my code from the article to the
docs for those folks after us.

On Thu, May 7, 2020, 10:30 AM Jibberish Client <notifications@github.com>
wrote:

[2020-05-07 14:49] jibberishclient commented on #359
I don't know why they use useState in the docs at all in the place of a ref lol. Complete nonsense.

[2020-05-07 15:29] FezVrasta commented on #359
Yeah, it's complete nonsense:
https://github.com/popperjs/react-popper/issues/241#issuecomment-591411605

[2020-05-07 21:13] jibberishclient commented on #359
Relative to the popper instance nothing is changing, so a ref should be totally fine. Furthermore, I would imagine the ref prop expects a ref object with a current field so how can we be so sure state will work as expected?

Might be more useful to have a declarative API that follows something like blueprint's popper, have a Popper component which parses two children the first being the target and

[2020-05-08 12:37] ywtstewart commented on #359
Yes, more docs please. Haven't gotten hooks to work.
https://codesandbox.io/s/peaceful-grothendieck-gw6zy?file=/src/App.js

[2020-05-08 12:51] FezVrasta commented on #359
@ywtstewart your example is working, I'm not sure what you expect it to do...

[2020-05-10 01:42] jibberishclient commented on #359
https://codesandbox.io/s/twilight-bash-h6ruv?file=/src/App.js

Is there a way to edge align the popper and the target button? I know I can use "placement" but I want it to be smart enough to know when the target button is right aligned or left aligned and act accordingly if that makes sense.

[2020-05-11 07:00] xkx9431 opened #361 "consult about choose element to mount"
### NOT A BUG

### Steps to reproduce the problem

1.   when I configure the popup's options
2.   can I show the popup according the reference element's position, but the popup's instance node was mounted directly inside the `body`
3.   this may not require the Reference and Popper are parallel DOM nodes.
4.  does mean using the Manager wraper can not achieve this goal？

### What is the expected b

[2020-05-11 08:39] FezVrasta commented on #361
You can set a custom reference object and assign to it the desired target DOM node

[2020-05-11 08:40] #361 closed

[2020-05-11 13:34] xkx9431 commented on #361
@FezVrasta  I may not this meaning, I know the popup should be positioned by reference element, and usually the  reference element is the trigger to show popup.
But, can  I have this requirements ?
+ I have complied the popup view, and positioned by the reference element,
+  but  I want append this complied popup instance into some other node ( **not the reference element** )
+ such as , I clicked

[2020-05-11 15:09] FezVrasta commented on #361
You can use React Portals, pass the "ref" around, or use the method I described. I'm sorry but the issue tracker is not a technical support service, use Stack Overflow for this kind of questions.

[2020-05-12 22:20] BerndWessels opened #362 "Custom Modifiers Broken ?"
Hello

Adding any `custom modifier` with a `fn` to the `modifiers` completely breaks the browser - like something seems to go into an infinite loop, even preventing the page from rendering and no errors in the console.

Here is an example, but even much simpler custom modifiers will cause the problem as soon as you add a `fn` to it.

[code]

I'm using the latest versions:

[code]

[2020-05-13 13:07] FezVrasta commented on #362
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2020-05-13 13:07] #362 closed

[2020-05-18 12:43] sajcics commented on #362
The same situation happens for me too. The same custom modifier had worked in popperjs/core implementation, and goes to infinite loop

[2020-05-18 13:09] FezVrasta commented on #362
The same requirement applies, without a proper repro and the issue template followed I can't help anybody.

[2020-05-18 13:34] sajcics opened #363 "Infinitive loop in custom modifier"
### Reproduction demo
https://codesandbox.io/s/react-popper-v2x-issue-template-zck02?file=/src/index.js

### Steps to reproduce the problem
1.  open attached link
2.  open console
3.  you will see infinitive loop and whole application and browser stuck

### What is the expected behavior?
Custom modifier modifies popper's width with the same width of input element. Also, without any infinitive loop

[2020-05-18 13:39] FezVrasta commented on #363
This happens because you are defining the modifier in-line, so on each render its identity changes, and leas to the render loop.

You should define the modifier in a `useCallback`, or directly outside the component.

https://codesandbox.io/s/react-popper-v2x-issue-template-zfrf6?file=/src/index.js

[2020-05-18 13:39] #363 closed

[2020-05-21 14:18] jonrimmer opened #364 "Inconsistent and incorrect arrow position"
I am trying to use the new `usePopper` hook, but I am running into problems where the arrow is sometimes not correctly positioned when using bottom placement.

### Reproduction demo

https://codesandbox.io/s/youthful-minsky-frghk?file=/src/App.js

### Steps to reproduce the problem

1.  Hover the title

### What is the expected behavior?

The arrow should appear in the centre of the tooltip.

###

[2020-05-21 14:28] FezVrasta commented on #364
Your arrow element must have some width and height.

https://codesandbox.io/s/gracious-goldwasser-b375d?file=/src/App.js

[2020-05-21 14:28] #364 closed

[2020-05-21 17:37] jonrimmer commented on #364
@FezVrasta Thanks, but suggestion doesn't seem to really fix the issue, it just shifts it around a bit. See what happens if I modify your demo to change the placement to `right` and set the tooltip visible on start:

https://codesandbox.io/s/dawn-feather-efw7s?file=/src/App.js

Again, the arrow is rendered in the wrong place. If you hide and reshow the tooltip (by hovering no and off) you will see

[2020-05-21 17:47] FezVrasta commented on #364
It's a problem with your CSS, Popper is positioning the real arrow element fine, but you need to make sure your `::before` pseudo-element fits its container (the real arrow)

![image](https://user-images.githubusercontent.com/5382443/82589117-f4f2a400-9b9b-11ea-831e-9d99cb7a106e.png)

[2020-05-30 08:47] reywright opened #366 "Browser hangs when passing function to offset modifier (in usePopper hook)"
### CodeSandbox demo

https://codesandbox.io/s/morning-meadow-rnoxy

### Steps to reproduce the problem

1.  Pass a function to the `offset` modifier.

(this has already been done in the sandbox, just click the button)

### What is the expected behavior?

That it shows the popover and works, the same as if the modifier was  `offset: [0, 0]`

### What went wrong?

The browser / iframe will hang and

[2020-05-30 09:47] FezVrasta commented on #366
I think it’s this issue

https://github.com/popperjs/react-popper/issues/363

We probably need to add some documentation

[2020-05-30 14:09] reywright commented on #366
Both of the solutions in that ticket fix my issue (either defining the modifier function outside the component, or using `useMemo`). Thanks @FezVrasta

In terms of documentation, I sort of wonder where exactly it would go. It doesn't seem to fit on the offset page, and also those docs are for using without React. Maybe some sort of "gotchas / tips" section for the React documentation, and then it

[2020-05-30 14:25] FezVrasta commented on #366
I added a FAQ section https://popper.js.org/react-popper/v2/faq/

[2020-05-30 14:25] #366 closed

[2020-06-03 13:12] HendrikThePendric commented on #354
I agree with @ejdzipi that it would be beneficial to add this to the docs. I started out having `position: absolute;` on the arrow element but removed that because I noticed that the `styles.arrow` also contained this style. Later on I noticed there was some misplacement going on which must have been caused by the popper being stretched by the arrow in the initial render cycle.

Alternatively, you

[2020-06-17 10:26] nstepien opened #368 "Act warning in tests"
### Reproduction demo

[code]

### Steps to reproduce the problem

1.  Run test using `usePopper`
2.
3.

### What is the expected behavior?

No act warning, or a way to address it without feeling like a cheap workaround.

### What went wrong?

[code]

### Any other comments?

This is probably coming from the use of `useEffect` (`useIsomorphicLayoutEffect`) + state update.
https://kentcdodds.com/bl

[2020-06-17 10:47] FezVrasta commented on #368
Take a look at the react-popper tests, they work just fine

[2020-06-17 10:47] #368 closed

[2020-06-17 17:04] amanmahajan7 commented on #368
It is possible that the underlying issue may have not been fixed. `react-popper` is using the following ways to fix the warnings

https://github.com/popperjs/react-popper/blob/master/src/Popper.test.js#L55
[code]

https://github.com/popperjs/react-popper/blob/master/src/usePopper.test.js
[code]

Some of them are unnecessary as per testing-library best practices
https://kentcdodds.com/blog/common-m

[2020-06-17 17:58] ankita2110 opened #370 "react - popper"
### Reproduction demo

### Steps to reproduce the problem

1.
2.
3.

### What is the expected behavior?

### What went wrong?

### Any other comments?

### Packages versions

- Popper.js:
- react-popper:

[2020-06-17 18:00] ankita2110 commented on #370
Is this flexibility provided by react popper to set height of only  body instead of whole container popped up

[2020-06-18 08:10] #370 closed

[2020-06-20 14:58] LucaFilitz opened #371 "Close function for poppers"
Hello,
At first I'd like to say: thank you for the great library.

I'd like to know how (or if) it it is possible to only close a popper with a special function.
For example I have a popper which always closes when I click anywhere (even inside the popper :d) But I want to only close it with a close icon.
Is this possible?

I'm using React and the usePopper hook ... so it would be great if you cou

[2020-06-20 15:47] #371 closed

[2020-06-24 17:59] RobertWHurst commented on #363
It might be good to mention this in the documentation if not already there.

[2020-06-24 18:28] FezVrasta commented on #363
https://popper.js.org/react-popper/v2/faq/#why-i-get-render-loop-whenever-i-put-a-function-inside-the-popper-configuration

[2020-06-25 14:17] jablonskipj opened #372 "Hooks can only be called inside the body of a function component."
I Want to implement the tooltip component using the Popper. Unfortunately, I am not able to render the Popper because of the error `Hooks can only be called inside the body of a function component.` I was using the hooks and render props implementation, and in both cases, I receive the same error. Please refer to a ScreenShot.

<img width="1068" alt="Zrzut ekranu 2020-06-25 o 16 13 19" src="https:

[2020-06-25 14:21] FezVrasta commented on #372
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2020-06-25 14:21] #372 closed

[2020-06-30 09:24] Smaug333 opened #373 "Type missing: No exported member RefHandler"
Hello, just installed a project with version 1.3.7 and getting react-popper has no exported member RefHandler.
In version 1.3.4 this is no problem.

In react-popper.d.ts this line is missing

`type RefHandler = (ref: HTMLElement | null) => void;`

for now I will switch back to 1.3.4
I guess this should be fixed

[2020-06-30 12:46] FezVrasta commented on #373
Thanks for the report, may you submit a PR to add it back please?

[2020-07-02 02:02] AndrewOCC commented on #368
I'm also encountering this same issue running tests with the Render Props version of popper – we're on React 16.8.x so we don't have access to async act() to mitigate the issue.

I've included a basic example test below that raises the error:
[code]

[2020-07-02 07:13] FezVrasta commented on #368
PRs to improve this are welcome

[2020-07-02 07:17] Smaug333 commented on #373
done

[2020-07-10 13:03] jquense opened #375 "Incorrect positions with placement `auto`"
### Reproduction demo

https://codesandbox.io/s/react-popper-v2x-issue-template-vb3kt?file=/src/index.js

### Steps to reproduce the problem

1.  ensure the codesandbox has enough room along both axis' so that `auto` move it to the side as well as bottom/top
2. notice an axis while scrolling change calculates the wrong offsets (further scrolling fixes it)

The issue is that the new arrow position

[2020-07-10 13:18] jquense commented on #375
Realizing the reason this works, is that most examples use offsets instead of padding to make room for the arrow yeah?

[2020-07-11 01:38] atomiks commented on #375
You can't use `margin` to offset the popper because it changes its size which causes problems like the flip loop. You can only use the `offset` modifier.

It also happens in the core version, see https://popper.js.org/docs/v2/migration-guide/#5-ensure-your-popper-and-arrow-box-size-is-constant-for-all-placements

[2020-07-12 18:57] jquense commented on #375
I know that margin doesn't work, the example here doesn't use margin. The unclear part here is you _also_ can't use padding for accomplish this, which isn't really covered anywhere (it'd be hard to warn about for obvious reasons i know).

Doing markup like the code sandbox is very common, and not obviously an example of using margin to offset the popper, tho that is what is happening in practice.

[2020-07-13 06:41] atomiks commented on #375
It does? Not on the popper itself but an inner element that mimics padding. That's the same thing as far as Popper is concerned with this issue (changing its dimensions based on the placement).

<img width="1061" alt="Screen Shot 2020-07-13 at 4 38 36 pm" src="https://user-images.githubusercontent.com/22450188/87278240-50e80200-c527-11ea-8bd6-86bc23756e6a.png">

Correct, you can't conditionally ch

[2020-07-15 00:10] MichaelDeBoey opened #377 "Add engines to package.json"

[2020-07-15 11:19] FezVrasta commented on #377
I don't think that's something useful for a frontend project, according to the [npm documentation](https://docs.npmjs.com/files/package.json#engines) it's meant to be used to `specify the version of node that your stuff works on`, this project is not dependant by any node version.

[2020-07-15 11:19] #377 closed

[2020-07-15 11:25] MichaelDeBoey commented on #377
@FezVrasta It's not required, but it helps to have the minimum supported/tested Node version in `package.json`

It's mostly the minimum `node` version you're testing against.

https://github.com/jaydenseric/apollo-upload-client/blob/219002c88a34aade4c0fd1f89865f560ac730804/package.json#L32-L34

https://github.com/facebook/react/blob/147179ae82039f38fa1a9a72402f578af8fb3ea3/packages/react/package.j

[2020-07-15 11:27] FezVrasta commented on #377
I'm not testing against any node version, the package is a client-side code.

[2020-07-15 12:55] jquense commented on #375
Right, that was my (pedantic) point the popper element does not use `margin`, I see now that it's _effectively_ the same thing using padding on the inside. I'm not trying to be difficult, i'm sharing how my brain thought about this. reading https://popper.js.org/docs/v2/migration-guide/#4-remove-all-css-marginsm and seeing the console warnings and it wasn't obvious to me that "padding on an inner

[2020-07-22 12:44] ismay commented on #368
https://github.com/popperjs/react-popper/blob/master/src/usePopper.js#L60

@amanmahajan7 I suspect that this is the case as well. I'm dealing with a similar issue with a popper that's also supplied with modifiers.

@FezVrasta I think this issue should be reopened. It's not resolved yet and an open issue will catch the attention of potential contributors more than a closed one.

[2020-07-22 18:34] oageyeva opened #379 "Using only hooks from usePopper cause issues with rollup"
### Reproduction demo
I am using usePopper hook for auto positioning a dropdown. The code works fine in a sandbox and when running in the development environment. However, it does not pass the build pipeline with rollup.

I figure out that the problem is that react-popper package has both components and hooks and when only hooks are being pulled rollup thinks that createElement used for components

[2020-07-25 14:54] adi518 opened #380 "Can't shake Popper"
I consumer `react-popper-tooltip` which is built on top of this package, and I just can't shake it. I started an issue with the author here: https://github.com/mohsinulhaq/react-popper-tooltip/issues/97 and after looking at the code, we realized it can be an issue with `react-popper`, hence this issue. With Popper being shake-able, I don't see why tree-shaking shouldn't work.

Repro: https://githu

[2020-07-25 15:01] mohsinulhaq commented on #380
to add to this, https://github.com/popperjs/react-popper/blob/master/src/usePopper.js#L7, here we are importing the whole package, while https://popper.js.org/docs/v2/tree-shaking/#popper-lite recommends that we should use popper-lite import to enable tree-shaking

[2020-07-26 09:07] FezVrasta commented on #380
Have you tried to define your own `createPopper` option? That should make allow the built in import to be three shaked

[2020-07-26 10:45] mohsinulhaq commented on #380
@FezVrasta do you mean I should recreate `react-popper`? Because that's all I use in the library.

[2020-07-26 12:52] FezVrasta commented on #380
No, react-popper has a configuration option to pass your own "createPopper" function

[2020-07-26 17:11] mohsinulhaq commented on #380
@FezVrasta my lib is built on top of the render-prop API, which doesn't seem to support it: https://github.com/popperjs/react-popper/blob/master/src/Popper.js#L69
Is there any way to use the "lite" `createPopper` with render props.

[2020-07-29 21:12] dfernandez-asapp opened #381 "usePopper: changes in strategy puts the popper in a incorrect position"
### Reproduction demo

https://codesandbox.io/s/condescending-mendel-bo6hp?file=/src/App.tsx

### Steps to reproduce the problem

1. Pass a `strategy` value to `usePopper` that depends on a property or state
2. Switch the `strategy` value from 'fixed' to 'absolute' and viceversa
3. Now the popper is incorrectly positioned, even if you go back to the previous strategy value.

### What is the expect

[2020-07-29 21:35] dfernandez-asapp commented on #381
About my comment on the possible cause. That's not the issue, there is another effect a few lines up that does a `setOptions`. I checked with the debugger and the options are updated, but for some reason the positioning is wrong after an strategy update.

[2020-07-30 15:48] adi518 commented on #380
@FezVrasta ? @mohsinulhaq Any progress on this guys? seems like an easy fix.

[2020-07-30 15:59] FezVrasta commented on #380
Feel free to send a PR, unfortunately I don't have time to allocate to this now.

[2020-07-30 16:32] adi518 commented on #380
I think we can submit a PR that changes the import of [`createPopper`](https://github.com/popperjs/react-popper/blob/master/src/usePopper.js#L7), unless you mean for a different kinda of fix.

[2020-07-30 16:33] FezVrasta commented on #380
That would mean all the consumers would need to manually import the required modifiers, that'd be less than ideal

[2020-07-30 16:37] FezVrasta commented on #380
Yes I think that'd work, but I'm not 100% sure tree shaking is working properly with this system either... I never tested it

[2020-08-02 20:04] mohsinulhaq commented on #380
@FezVrasta I just tried using the "lite" popper import (`import { createPopper } from '@popperjs/core/lib/popper-lite'`) for `usePopper` hook. But it looks like tree-shaking still doesn't work.
Here's the reproduction repo: https://github.com/mohsinulhaq/react-popper-tooltip-treeshake-reproduction.

Am I doing this wrongly?

[2020-08-11 14:19] andrew-anguiano commented on #379
I'm also having this issue it seems. However, importing `Manager` from `react-popper` doesn't seem to solve the issue for me. But we are using only hooks in our project and building via `rollup -c` and getting `update is not a function`. Same issue with trying to use `forceUpdate()`

[2020-08-12 20:53] andrew-anguiano commented on #379
Ok, so I think I've found the issue. I didn't look closely enough at the docs. I was surprised to find that instead of using `useRef`, the example in the docs uses `useState` to store the refs. It looks like in your sandbox you're using state as well, so I guess this isn't the same issue for you. However, I am also using rollup for my dist builds and am not seeing this issue.

[2020-08-16 16:19] vincerubinetti opened #383 "adaptive positioning with usePopper vertical position failing in certain circumstances"
### Reproduction demo

[test.zip](https://github.com/popperjs/react-popper/files/5080966/test.zip)

Run `yarn install && yarn start`

### What went wrong?

![oR8QhEri51](https://user-images.githubusercontent.com/8326331/90338785-17893300-dfba-11ea-929c-a5c9dea224d4.gif)

I'm trying to make a gallery of images in buttons that shows a larger version of the image on hover. I'm running into these stra

[2020-08-16 16:37] vincerubinetti commented on #383
It seems that this fixes it:

[code]

[2020-08-16 16:42] vincerubinetti commented on #383
Possibly related to [this issue on the popperjs core](https://github.com/popperjs/popper-core/issues/1138), except that I'm not even using `position: relative`.

[2020-08-19 07:37] adi518 commented on #380
@FezVrasta ?

[2020-09-08 22:50] jodyheavener commented on #373
The "done" above has me thinking this is done, but it doesn't appear to be in latest. Still taking PRs for this?

[2020-09-11 15:03] adamhooper commented on #350
@FezVrasta I think this should be re-opened....

By my reading, the warning is exactly right, and it's up to `react-popper` to help. The problem is: `createPopper()` runs its first `update()` asynchronously.

For instance, with this code and test (pseudo-code, just so we're all talking about the same thing):

[code]

[code]

Here's what happens when the test is run:

1. Popup mounts. `referenceEle

[2020-09-13 10:38] Filippinifra opened #385 "How to handle popper when there is an header in position fixed"
### Reproduction demo

<img width="442" alt="Screenshot 2020-09-13 at 12 30 00" src="https://user-images.githubusercontent.com/31794601/93015826-dab25b00-f5bc-11ea-81a8-65148091b8a8.png">

### Steps to reproduce the problem

It's so easy to reproduce it.
Take a top position fixed element and an element that scrolls inside the page referred to the popper (top placement).
When popper is near the top

[2020-09-13 11:29] FezVrasta commented on #385
Ciao, you can set the `padding` option in the preventOverflow modifier.

https://popper.js.org/docs/v2/modifiers/prevent-overflow/#padding

[2020-09-13 11:29] #385 closed

[2020-09-16 15:24] o-faro commented on #373
Okay, sorry. I did wrong and created a pull request on my own fork of the project without noticing... Now it is fixed.

[2020-09-22 18:03] harryfino opened #387 "The legacy class components are not working correctly in v2.x"
The legacy class components are not working correctly when updating from v1.3.7 to v2.x. I'm using the `referenceElement` property in the `<Popper>` component and something isn't working correctly.

### Reproduction demo

This link shows a working example of Popper as a tooltip when you hover over the word "editing".
https://codesandbox.io/s/legacy-popper-usage-m5v83?file=/src/App.js

When you cha

[2020-09-22 18:05] harryfino commented on #387
It looks like this error is caused by `top-middle` not being supported in v2. I switched to `top` instead and it worked correctly. I'm closing the issue, but keeping this around in case someone else runs into this problem.

[2020-09-22 18:05] #387 closed

[2020-09-22 18:32] FezVrasta commented on #387
`top-middle` was never supported, the placements have always been `top-start`, `top`, `top-end`

[2020-09-22 18:55] harryfino commented on #387
Maybe it was a typo that I made a long time ago, but I was never punished for it in v1 and it placed the popper in the correct position. The error handling is v2 did not tell me this was invalid and sent me on a goose chase for hours. Maybe something like this would go a long way?

[code]

In my components, this helps prevents me from passing in the wrong text.

Anyway, cheers and thank you for a

[2020-09-22 19:03] FezVrasta commented on #387
We ship Flow and TS type defs that should warn you about this, PropTypes are basically deprecated at this point.

[2020-10-11 20:08] ruigouveiamaciel opened #389 "Custom modifiers create an infinite loop when you provide an 'fn'"
### Reproduction demo

This issue causes the page to enter an infinite loop, therefore on some browsers entering this sandbox will just freeze the browser, and in others a blank page will be rendered.

https://codesandbox.io/s/react-popper-v2x-issue-template-forked-crt8b

### Steps to reproduce the problem

1.  Provide a custom modifier to usePopper with any fn function. Example:
[code]

2.  Done.

[2020-10-11 20:16] ruigouveiamaciel commented on #389
This seems to be the same problem as #362 except that this issue follows the template

[2020-10-11 20:44] ruigouveiamaciel commented on #389
Doing further testing i found out that custom modifiers work using the render props, which are depreacted.

https://codesandbox.io/s/react-popper-v2x-issue-template-forked-w6ppm?file=/src/index.js

[2020-10-12 03:44] atomiks commented on #389
The modifier object needs to be placed as a constant/static object reference outside of the component (or memo'd).

[2020-10-12 05:25] #389 closed

[2020-10-29 07:43] conoremclaughlin opened #391 "Virtual Elements inside a function body without Memoization will trigger an infinite loop"
### Reproduction demo

https://codesandbox.io/s/react-popper-v2x-issue-template-forked-vx46f?file=/src/index.js
Sandbox will never finish loading because of the infinite loop

### Steps to reproduce the problem
If you are using a virtual element and place it inside a functional component without the use of useMemo or some other caching mechanism, it causes an infinite loop.

1.  Place virtualRefer

[2020-10-29 07:51] FezVrasta commented on #391
A PR to improve the docs would be great.

[2020-10-29 09:20] conoremclaughlin commented on #391
I can potentially take this on once I have a working React-idiomatic example. I'm a bit concerned about this line from the React docs:

https://reactjs.org/docs/hooks-reference.html

One additional re-calculation pass should be fine, but I haven't dived deep enough into the react-popper code to see what is triggering the infinite update loop.

[2020-10-29 12:30] FezVrasta commented on #391
Fixing the root cause would be great, but Popper relies on re-renders to work on the most recent DOM properties (stylings, positioning, etc) so it's often required to trigger a re-render before we can compute the new position.

[2020-11-05 19:19] mtmacdonald opened #392 "React 17 support"
Hi, please can we have support for React 17 so I don't get this npm warning upon npm install in my React 17 projects. Thanks!

npm WARN react-popper@1.3.7 requires a peer of react@0.14.x || ^15.0.0 || ^16.0.0 but none is installed. You must install peer dependencies yourself.

[2020-11-05 19:41] FezVrasta commented on #392
https://github.com/popperjs/react-popper/releases/tag/v2.2.4 supports React 17

[2020-11-05 19:41] #392 closed

[2020-11-09 12:59] kenticomartinh commented on #383
Not sure if the same issue, but most likely it is.

I am using a rather complex combination but it seems it is a superset of what you have. I included some debug hints, so you may try those ...

What I have is

* React Tippy in headless mode with `inlinePositioning` plugin (Tippy is based on Popper)
* Default positioning: `top`
* Popper element rendered to `document.body`
* `flip` modifier with `f

[2020-11-09 17:08] skimi opened #393 "Arrow not positioned correctly until a scroll happens"
### Reproduction demo

`%` is the arrow in this example. It is at the left of the element at initialisation when it should be centered.
Only when a scroll starts does it fix the issue.

https://codesandbox.io/s/react-popper-v2x-issue-template-forked-2fj5t?file=/src/index.js

Codesandebox sometimes does something with its layout that triggers the repositioning of the arrow so hit the refresh of the

[2020-11-10 08:54] skimi commented on #393
The issue is with the custom update modifier:
[code]

`updateStateModifier` is not receiving the correct initial arrow styling so it's possible the issue is in poperjs/core.
The old components Manager, Target, etc... does not create a custom updateStateModifier so it does not have the issue the hook has

[2020-11-10 19:47] mideus commented on #85
This project needs much better documentation on how to use it.  The demo linked here is cool and all but it doesn't use the new hooks method.

[2020-11-10 20:24] FezVrasta commented on #85
The docs are on popper.js.org

[2020-11-16 16:11] #393 closed

[2020-11-19 00:44] mattfelten opened #395 "Portalled popper with autoFocus content"
### Reproduction demo

https://codesandbox.io/s/zen-hofstadter-9xwtp?file=/src/App.js

### Steps to reproduce the problem

1.  Have element with autoFocus appear within portalled Popper
2.  Make sure target is not at the top of the page
3.  Watch page scroll when Popper appears

### What is the expected behavior?

I do understand why this is happening. A portalled Popper is set to 0,0 initially an

[2020-11-19 06:43] FezVrasta commented on #395
Can't you set the tabIndex to -1 before the popper is positioned?

[2020-11-19 18:11] mattfelten commented on #395
Adding `tabIndex: -1` in the CodeSandbox example above does not seem to do anything. I need `autoFocus` to still work, it makes a good experience, I'm just trying to prevent the page scroll from popper positioning. Any other ideas?

[2020-11-19 18:23] piecyk commented on #395
You can always manually focus the input after react using `setTimeout`

[code]

 https://codesandbox.io/s/naughty-yalow-0h30k

[2020-11-20 18:19] mattfelten commented on #395
I'm not able to change `UnchangableContent`. It's dynamic content that I don't have control over.

What I'm trying to do is get around the 0,0 initial positioning in a way that when an `autoFocus` element is mounted, that it's in the right place and doesn't scroll the screen.

[2020-11-20 19:06] piecyk commented on #395
Ok, basic you can use the same setTimeout hack to defer the rendering `UnchangableContent` content

Update the code sandbox https://codesandbox.io/s/naughty-yalow-0h30k

[2020-11-20 19:48] mattfelten commented on #395
Ah interesting. That might work. I'll try it out.

[2020-11-24 22:01] tounsoo opened #396 "Rendering 3 times on load every time"
### Reproduction demo

https://codesandbox.io/s/condescending-stallman-e81yy?file=/src/App.js

### Steps to reproduce the problem

1.  open console
2.  refresh the rendered page
3.  you see 'rendered' being logged 3 times

### What is the expected behavior?
Seeing only one log of 'rendered'

### What went wrong?
Looks like its rendering 3 times by default

### Any other comments?
Is this normal be

[2020-12-09 16:39] OmarMorales71 commented on #396
@tounsoo Hello! is this happening in all components? or do you know about specific components with this behavior?

[2020-12-09 17:33] tounsoo commented on #396
@OmarMorales71 Not sure what you mean. The Codesandbox example has only one component.

[2020-12-10 15:37] FezVrasta opened #398 "Popper community!"
Looking for a place where to ask questions about Popper and React Popper? Visit our new community!

https://github.com/popperjs/popper-core/discussions

[2020-12-10 15:37] #398 closed

[2020-12-10 20:23] tu4mo commented on #396
It's expected because of setReferenceElement and setPopperElement are called after initial render.

[2020-12-10 20:41] tounsoo commented on #396
True, is there another way to use `usePopper` so that we don't have to rely on useState, hopefully avoiding additional renders?

[2020-12-17 10:14] liamNM opened #399 "When using modiferes in TSX, the required object and what the typehinting thinks is needed seem to be at odds with each other"
https://codesandbox.io/s/react-popper-v2x-issue-template-forked-z46v6?file=/src/index.tsx

I can't get the template to load but I've commented the code to show you what does/doesn't work for me in TSX

### Steps to reproduce the problem

1.  make sure you're coding in a TSX file
2.  check the modifiers type as per the documented expected value and the popover does not offset
3.  remove the documen

[2020-12-17 10:37] liamNM commented on #399
Hmm.. the minimal version I did in the sandbox works.. Problem is very likely on my end.

[2020-12-17 10:42] liamNM commented on #399
Okay! It seems the problem is if `react-scripts` isn't included!

[2020-12-17 10:57] #399 closed

[2020-12-17 11:15] liamNM commented on #399
Appreciate this is not a 'you guys' thing but any idea why it might be looking for the v1 syntax but typehinting to the v2 stuffs?

[2020-12-17 11:32] FezVrasta commented on #399
AFAIK stable Storybook versions use Popper v1, and it has some conflicts if you try to use the v2 at the same time.

[2020-12-17 11:35] liamNM commented on #399
Nailed it. https://raw.githubusercontent.com/storybookjs/storybook/next/yarn.lock

popper.js@^1.14.4:
  version "1.16.1"
  resolved "https://registry.yarnpkg.com/popper.js/-/popper.js-1.16.1.tgz#2a223cb3dc7b6213d740e40372be40de43e65b1b"
  integrity sha512-Wb4p1J4zyFTbM+u6WuO4XstYx4Ky9Cewe4DWrel7B0w6VVICvPwdOpotjzcf6eD8TsckVnIMNONQyPIUFOUbCQ==

[2020-12-17 11:36] liamNM commented on #399
I'll raise the issue with them

[2021-02-03 21:09] kyletsang opened #401 "React 17 support for 1.x"
Hi, is it possible to release a 1.x version with React 17 support (unsure if it's just a matter of allowing v17 in peer deps)?

We're currently using 1.3.6 over at Reactstrap, and are currently unable to migrate to v2 anytime soon.

### Packages versions

- react-popper: 1.3.6

[2021-02-04 14:50] FezVrasta commented on #401
Updating the semver range should be enough, feel free to send a PR! 🙌

[2021-02-04 17:42] kyletsang commented on #401
Sounds good @FezVrasta.  I noticed there's no branch for 1.x.  Could you create that for me and I'll make a PR for it?   Thanks!

[2021-02-04 17:54] FezVrasta commented on #401
Pushed 1.x

[2021-02-09 09:53] peterjcaulfield opened #403 "Arrow position wrong for certain placements"
### Reproduction demo

https://codesandbox.io/s/blue-leftpad-4of16?file=/src/Tooltip.tsx

I am using example code from the popper docs with styled components.

I want to make sure it is not related to styled components usage. Happy to create an additional example if this repro isn't good enough.

### Steps to reproduce the problem

Please see code sandbox. Issue is present on load.

### What is th

[2021-02-09 11:59] FezVrasta commented on #403
I can't see anything in the codesandbox, code is missing.

From the screenshot it looks like you may want to add some margin to the arrow element so that it doesn't glitch like in your pictures.

[2021-02-09 15:08] peterjcaulfield commented on #403
@FezVrasta sorry about VPN glitched when saving. It should be working now 👍

Thanks for the quick response.

I updated my `usePopper` invocation to set a padding on the arrow and things look good now.

[code]

I have a couple of questions:

- is it possible to configure this padding dynamically based on a placement via this API?
- do you think it's worth updating the docs to include this padding i

[2021-02-16 16:02] #401 closed

[2021-02-16 16:03] FezVrasta commented on #396
That's because we use ref callbacks, so any time one is set the component re-renders. This is needed because we need to know when a reference or popper element changes identity.

[2021-02-16 16:03] #396 closed

[2021-02-16 19:19] welkinwong opened #404 "some thing error for npm ?"
when i install the latest version, i get the 1.3.8

![image](https://user-images.githubusercontent.com/6650440/108110769-b2c8a580-70ce-11eb-8d13-4b76fcfc5241.png)

[2021-02-16 19:43] jzrandall commented on #404
I just came here to ask the same thing.

[2021-02-17 12:50] FezVrasta commented on #404
Sorry for the issue, I published a new 1.x version and was automatically set as latest, it should be fixed now.

[2021-02-17 12:50] #404 closed

[2021-02-22 01:16] circlingthesun commented on #349
@jamiewinder @FezVrasta if you make react do a bit more work it's easy to reproduce. See https://codesandbox.io/s/react-popper-glitch-forked-vnt5z

I've worked around this in my code via:

[code]

[2021-02-23 14:06] h3rmanj opened #405 "Update dependencies in v1 to support react v17"
Installing `react-popper@1` in a project containing `react@17`, with `npm@7` results in the following error:

[code]

While there are active pull requests to create-react-context to support v17, it seems to be abandoned. A fork has been made to support it, and uploaded to npm as `@hypnosphi/create-react-context`. https://github.com/jamiebuilds/create-react-context/pull/32#issuecomment-758158196

I

[2021-02-23 14:37] #405 closed

[2021-02-23 14:38] h3rmanj commented on #405
Keeping this one open until it's released 🙂

[2021-02-23 14:38] FezVrasta commented on #405
1.3.10 includes this fix :-)

[2021-02-23 14:39] h3rmanj commented on #405
Oh sorry, I was too quick. Thanks! 😄

[2021-02-24 10:25] WeiLi512 opened #407 "Need to upgrade @poperjs/core version to use Arrow modifier padding function"
### Reproduction demo

### Steps to reproduce the problem

### What is the expected behavior?

I want to use the padding function in the custom arrow modifier.
https://popper.js.org/docs/v2/modifiers/arrow/#padding

### What went wrong?
I can't use custom arrow padding function feature in react-popper

### Any other comments?

### Packages versions

- Popper.js: 2.8.3
- react-popper: 2.2.4

[2021-02-24 11:24] FezVrasta commented on #407
@popperjs/core is a peer dependency, you can update it independently

[2021-02-24 11:24] #407 closed

[2021-02-24 14:30] WeiLi512 commented on #407
I tried that but It seemed like working
But didn't pass popper and reference parameters to the Padding Function. only passed placement parameter.

[2021-02-24 14:32] FezVrasta commented on #407
That was a bug with Popper, install 2.8.4 to fix it

[2021-02-24 14:39] WeiLi512 commented on #407
I can see you just release the new version
Can I install it with NPM or Yarn now?

[2021-03-03 12:14] amerllica opened #408 "Resizing or Scrolling bug on calculating position"
When I change the size of window or scrolling the page `react-popper` can't calculate position properly, I saw [this issue](https://github.com/popperjs/react-popper/issues/354), maybe my issue is related to it in reverse. because for first initializing it works properly by right after change window size or scrolling `react-popper` unable to calculate position properly.

### Reproduction demo

I th

[2021-03-03 12:22] atomiks commented on #408
You should conditionally render the element, not use `display` in the CSS.

[code]

[2021-03-03 12:34] FezVrasta commented on #408
Or if you want to use the `display` property you must make sure to call `popper.update()` after the visibility is changed.

[2021-03-03 12:34] #408 closed

[2021-03-03 14:27] ciprianmiclaus opened #409 "Regression in 1.3.10?"
Release 1.3.10 (https://www.npmjs.com/package/react-popper/v/1.3.10) seems to have re-introduced an issue that was fixed in 1.3.7: https://github.com/popperjs/react-popper/pull/320
An infinite loop when zoom is at 75%. I can reproduce locally with 1.3.10, not with 1.3.7

[2021-03-03 14:32] FezVrasta commented on #409
I think the only change introduced by 1.3.10 is a replacement library for the create-react-context one that didn't support React 17. I don't think it can be the issue.

[2021-03-04 11:05] ciprianmiclaus commented on #409
Doing a diff between the index.umd.js in react-popper1.3.7 and react-popper1.3.10, I can clearly see 1.3.10 is missing the deepEqual comparison on props.modifiers (which was the fix for the infinite loop). Perhaps 1.3.10 was based on a previous version?

[2021-03-04 11:17] FezVrasta commented on #409
Could be, my iMac hard drive is misbehaving lately, I lost 1 week of saved files the other day...

Is the `v1.x` branch okay?

[2021-03-04 11:35] ciprianmiclaus commented on #409
No, it's not, it seems it was branched off 1.3.6, not 1.3.7 - that's the problem.

[2021-03-04 11:36] FezVrasta commented on #409
🤔

[2021-03-04 11:38] FezVrasta commented on #409
I can't find the commit, could you cherry pick it in a new branch and send a PR please?

[2021-03-04 12:16] ciprianmiclaus commented on #409
Can you add me as a contributor?

[2021-03-04 12:19] FezVrasta commented on #409
There's no need, fork the repository and work on the work, then you can send a PR to merge into this one.

[2021-03-04 12:23] ciprianmiclaus commented on #409
Here's the missing commit:
https://github.com/popperjs/react-popper/commit/47677e9b251a7bc156e82d32b37c6f07d90f3e02

[2021-03-04 12:27] FezVrasta commented on #409
Umh that commit is for the 2.x version, it was never included in 1.x

[2021-03-04 12:33] FezVrasta commented on #409
1.3.11 should include it

[2021-03-04 12:33] #409 closed

[2021-03-04 12:42] ciprianmiclaus commented on #409
Thank you!

[2021-03-15 00:11] ianstormtaylor opened #411 "simplify the hooks api?"
I'm trying to use `react-popper` but really confused by the docs and why the API is so complex. It forces the end user to keep track of lots of interim state. The current example:

[code]

Seems like it could be changed to **return** the refs that the user should attach instead, and keep track of all the internal state and styles itself. That would simplify it to:

[code]

If you get rid of the ar

[2021-03-15 16:11] FezVrasta commented on #411
The reason why the refs management is left to the consumer is because refs could be reused by other parts of the consumer code.

[2021-03-16 14:25] ianstormtaylor commented on #411
I think people could use something like https://github.com/gregberge/react-merge-refs if they need to use multiple refs in the same component. But it’s probably not the most common case.

[2021-03-24 23:46] zbrogz opened #412 "Nested poppers using portals not updating position"
### Reproduction demo

https://codesandbox.io/s/nostalgic-hugle-9n0ns?file=/src/Menu.js

### Steps to reproduce the problem

1.  Scroll down to the first reference element, "menu anchor"
2.  Click on "menu anchor" to open the first popper
3.  Click on "first submenu anchor" to open the next popper
4. Scroll the page and the nested popper's position does not update with it's reference element ("fir

[2021-03-25 12:20] FezVrasta commented on #412
The issue seems indeed to be on @popperjs/core, could you open an issue there and update the example to not use any 3rd party dependency (such as React or react-popper)? Thanks

[2021-03-25 12:20] #412 closed

[2021-03-25 19:03] Kinbaum commented on #393
@skimi @FezVrasta I still see this as an issue after updating to `2.5.5`.
The initialization of the arrow is now near the target element, but it's slightly to the right of the element. Also, where the content of the popper spawns isn't working.

In the below examples, I have my placement set to `bottom-end` and my arrow element has a padding of `12`. I have a modifier in place to set the offset to

[2021-03-26 11:28] rowa-audil opened #413 "Callback in modifier causes endless loop"
Hello popperjs Team!

In my project, I've come across a problem. It seems to be good relation to the close issue #362.
You guys provide a way to set modifiers like offset by using a callback to calculate whatever I want. Turns out this causes an endless loop. Presumably, it's caused by React rendering the component again as soon as the value comes out of the callback, causing React to think someth

[2021-03-26 13:35] FezVrasta commented on #413
Modifiers should be defined in a `useMemo`

[2021-03-26 13:35] #413 closed

[2021-03-29 06:46] rowa-audil commented on #413
@FezVrasta Thank you for the fast reply! It solved the issue.

[2021-03-31 14:45] dfernandez79 commented on #411
@FezVrasta I know that API breaking changes are usually not welcome by users, but I'll love to see the changes proposed by @ianstormtaylor

When you use `setState` combined with `ref`, you also need to use something similar to merge refs (to combine the refs with a ref callback):

[code]

So the current API has the same ref management issues.

[2021-03-31 15:31] FezVrasta commented on #411
How would @ianstormtaylor proposal solve this? You wouldn't be able to use the Popper refs on other logic that expects "classic" refs, since Popper uses ref callbacks.

[2021-03-31 16:51] ianstormtaylor commented on #411
I believe @dfernandez79's point is that the current API already has ref-combining issues, so making this change wouldn't actually add a new class of issue to deal with (since it already exists)—so it's just one more point in favor of the simpler API.

[2021-04-01 17:22] dfernandez79 commented on #411
Yes, that was the intention of my comment.

[2021-04-18 08:13] alfnielsen opened #415 "Create element ref with useState dont compile (typescript)"
Using the example on the popper page (https://popper.js.org/react-popper/v2/)
I get this error:

[code]

The example:
[code]

The  `usePopper` method cannot take a  `React.MutableRefObject<null>`,
so this dont follow react's normal code and will not work with typescript
(unless //@ts-ignore is added)
React documentation (https://reactjs.org/docs/hooks-reference.html#useref)

I would think that the

[2021-04-18 08:59] FezVrasta commented on #415
Typescript has the wrong types, callback refs are [documented in the React docs](https://reactjs.org/docs/refs-and-the-dom.html#callback-refs), I can't do anything if the type system you are using has a bug in their types.

[2021-04-18 08:59] #415 closed

[2021-04-18 09:34] alfnielsen commented on #415
Okay, but `useState` dont provide a callback ref, but a dispatch method.
An yes in a "normal" (most used) compiled JS code/react runtime, it will give you the same result, but if you do other compiling of dispatch its not the same. (Or React changes to an optimized dispatch ect..)
(So no, typescript are not incorrect, but seeing your answer, I guess that is something we cannot agree on)

Still a h

[2021-04-18 10:15] piecyk commented on #415
Instead of using the setReferenceElement directly in ref, just wrap it in a callback ref method like this:

Nope, there is no workaround, it's expected behaviour. You just need to specify type, something like
[code]

[2021-04-18 10:39] piecyk commented on #395
I think there is nothing to do on react-popper side regarding this, could we close the issue @mattfelten?

[2021-04-18 16:10] #395 closed

[2021-04-20 15:29] Dataxelio opened #416 "Wrong arrow positionning"
### Reproduction demo

https://codesandbox.io/s/festive-lichterman-go5wj?file=/src/App.tsx

### Steps to reproduce the problem

Please see codesandbox.

### What is the expected behavior?

Arrow should be positionned correctly with the translate css property available on styles.arrow

### What went wrong?

![screenshot_20210420](https://user-images.githubusercontent.com/62846298/115422456-343ad200

[2021-04-20 18:48] FezVrasta commented on #416
Hi, that's not how it works, popper only computes the arrow offset.

Take a look at the tutorial on popper.js.org to see a full example

[2021-04-20 18:48] #416 closed

[2021-04-23 12:49] noisae opened #417 "When modifying the content the position is not recalculated"
### Reproduction demo
https://codesandbox.io/s/wild-silence-xcy26?file=/src/App.tsx:0-2107

### Steps to reproduce the problem

1.
2.
3.

### What is the expected behavior?

### What went wrong?

### Any other comments?

### Packages versions

- Popper.js:
- react-popper:

[2021-04-23 12:52] #417 closed

[2021-04-24 12:30] simplenotezy opened #418 "Arrow missing"
### Reproduction demo

Described here by another user 2 months ago: https://stackoverflow.com/questions/66037355/what-am-i-missing-when-using-react-poppers-usepopper-hook-to-generate-an-arro - I face the same issue

### Steps to reproduce the problem

1.  Copy base example from https://popper.js.org/react-popper/v2/
2.  Run in Next.js ( not sure if this is a required step )
3.  See that arrow is m

[2021-04-24 12:52] FezVrasta commented on #418
Popper doesn't provide any style, please follow the tutorial https://popper.js.org/docs/v2/tutorial/

[2021-04-24 12:52] #418 closed

[2021-05-01 21:28] shincurry opened #419 "Too many popper instances make rendering slow"
### Reproduction demo

https://codesandbox.io/s/popperjs-issue-demo-cq40c

### Steps to reproduce the problem

1.  Open CodeSandbox demo page, and **Open In New Window**
2.  `F12` -> developer tools -> React Profiler
3.  **Reload and start profiling**

### What is the expected behavior?

### What went wrong?

Using too many poppers on the same page will cause slow rendering. The possible reason (I

[2021-05-06 15:29] Bart-Budak commented on #419
Thanks for posting this, @shincurry. Will be keeping an eye on this issue. I've recently come across the same issue using `react-popper@2.2.3.`

@shincurry are you also seeing slow renders in production? We seem to only experience the slowdown in development env.

[2021-05-06 15:31] FezVrasta commented on #419
react-popper doesn't support singletons so it needs an instance for each tooltip. You may want to look into Tippy.js, it provides a singleton interface that should help with performance.

[2021-05-19 06:24] patrickedqvist commented on #311
This problem still exists in the 1.3.11 version

[2021-05-19 14:39] patricklafrance commented on #411
Does anyone have a develop such an API using ref instead of accepting elements as arg?

I am trying to write my own but have issues replicating the following code, it loop indefinitly when I update the state:

[code]

[2021-05-28 20:40] goleary opened #422 "Top padding for `preventOverflow` not respected"
I have a popper controlled tooltip and I'm trying to create add top padding (50px in this example) to the overflow prevention.

Here you can see even though I've turned on the `altAxis` overflow prevention.
![image](https://user-images.githubusercontent.com/16123225/120039610-1742ad00-bfba-11eb-887f-8b11610c5082.png)

this is the config I'm using
[code]

### Reproduction demo

https://stackblitz.c

[2021-05-28 23:42] goleary commented on #422
I did a bit more playing around and this bug seems to be environment/browser dependent.

You can see for yourself by using [this link](https://react-popper-overflow.stackblitz.io/), selecting text & scrolling down until the tooltip should flip.

No issue
- macOS Chrome

Issue Present
- Windows Chrome
- macOS Safari
- iOS (chrome & safari).

[2021-06-10 07:22] thisisobate opened #423 "Popper fails to fit in within available viewport"
### Reproduction demo
https://codesandbox.io/s/react-popper-dropdown-issue-7g04f

### Steps to reproduce the problem

1.  Create a React popper dropdown with nested dropdowns.
2.  Make sure the popper is placed at the bottom of viewports greater than 1440p
3.  Try extending the nested dropdowns and notice how popper vanishes off the screen.

### What is the expected behavior?
Popper should extend

[2021-06-25 07:16] zahraghafari1996 opened #424 "Module '"react-popper"' has no exported member 'usePopper'"
Packages versions
react-popper: "react-popper": "^2.2.5",

we used it in our custom-ui-kit project, and we were able to fix the error in that project, but we still have problems in the project it's used in.

[2021-06-25 10:01] zahraghafari1996 commented on #424
Install the correct version of this package in the used package first
Second, publish it and make sure you're using the latest version
Install popper in this project again if your problem persists

[2021-08-19 11:09] ranglang commented on #417
hi, does it work?

[2021-08-19 11:13] ranglang commented on #423
same error

[2021-09-04 03:05] conoremclaughlin commented on #391
As a follow up:

We currently DO use useMemo in production and we haven't had any issues since this was opened almost a year ago now.

[2021-11-03 15:54] ulken commented on #411
How Headless UI does it: https://github.com/tailwindlabs/headlessui/blob/main/packages/@headlessui-react/playground-utils/hooks/use-popper.ts

[2021-11-04 22:45] jchitel commented on #411
I'm wondering why we even need to bother with direct DOM references at all. I get that Popper itself is built for vanilla JS, but abstractions should generally try to be as idiomatic to the framework as possible. This API seems to be a basic wrapper around `createPopper`, and it's a hook, but that doesn't necessarily make it idiomatic React.

I believe that the idiomatic approach to this API would

[2021-11-08 19:10] vincerubinetti commented on #383
I know this is an upstream error, but does any owner from this repo have the knowledge/time/permissions to fix this in `@popper/core`, or bug one of them to fix it (pressure from dependent library maintainers might hold more weight than random users).

[2021-11-11 09:08] Dito-Orkodashvili opened #431 "Warning when running tests."
There is an issue when running tests. It logs this warning:

![image](https://user-images.githubusercontent.com/15689046/141269605-426d5045-62cd-475a-9548-d800e13f4733.png)

I found the way to hide this warning in the Tooltip component like this:

[code]

But the issue is that I need to fight these warnings in all component tests where I use this Tooltip component. It even gets worse where the mul

[2021-12-10 02:38] Venipa opened #432 "Position of Popover is wrong, its fixed to top left"
### Reproduction demo

[Codesandbox Demo](https://codesandbox.io/s/tailwind-react-headlessui-popper-5c15b?file=/src/components/Homepage.js)

### Steps to reproduce the problem

1.  Click Red Field
2.  Wrong position

### What is the expected behavior?

That the popover renders to the right start of the ref element.

### What went wrong?

Popover position is set to top 0px, left 0px

### Any other

[2021-12-13 10:13] chikunov commented on #411
@jchitel
This wrapper API creates an implicit dependency on the first node in children/popper to be an html node/ref forwarding component. Which becomes even more awkward if popper content/reference are components on their own, which is most of the time in my practice.

Existing API is an idiomatic React approach where this hook provides a chunk of reusable logic and all presentation is up to the

[2021-12-13 10:58] FezVrasta commented on #411
We are working on a new library to work with React and Floating UI (the new version of Popper), you can join the development on github.com/floating-ui/floating-ui

[2021-12-13 11:13] atomiks commented on #411
Floating UI's hook takes the approach @ulken linked: https://floating-ui.com/docs/react-dom

There will be an extra hook for behavioral stuff to craft popovers, tooltips, etc. more easily than just positioning

[2022-01-06 05:30] zww-v5 opened #434 "react-popper v1.0 and v2.0 can not use in the same project"
I have a project that import react-popper v2.0 itself, and the other component that imported in this project uses react-popper v1.0. When I use the popper.scheduleUpdate, it will report "popper.scheduleUpdate is not a function", which obviously calls react-popper v2.0 directly, but this component itself should depend on 1.0. This component in node_modules also has v1.0 installed.  do you know what

[2022-01-06 06:32] #434 closed

[2022-01-11 14:38] m7kvqbe1 commented on #368
This appears to still be an issue in the new 'floating-ui' library.

We recently adopted this and refactored in a hope this issue might have been solved as a side effect.

+1 to re-open this issue please.

[2022-01-11 14:50] atomiks commented on #368
@m7kvqbe1 do you have a reproduction when the warning occurs?

[2022-01-11 15:52] piecyk commented on #368
Or a find* query. For example: const userAddress = await findByLabel(/address/i), checkout

from https://testing-library.com/docs/react-testing-library/faq

Basic this cannot be solved as Popper/Floating UI is updating state "outside" of react.

[2022-01-20 02:31] mschaeffner-orca commented on #432
I have the same issue. My current workaround is to use `@popperjs/core@2.10.2`.

[2022-01-25 00:42] drewlustro commented on #113
@borm the worst 👎

[2022-01-25 00:57] drewlustro commented on #393
How did you fix this @skimi ?

[2022-01-26 00:57] Venipa commented on #432
https://github.com/tailwindlabs/headlessui/issues/985

[2022-01-26 00:57] #432 closed

[2022-03-25 18:03] distinctdan opened #437 "Rollup bundling error: "Error: 'default' is not exported by node_modules/react-fast-compare/index.js""
### Steps to reproduce the problem

1.  Hi, I'm trying to import react-popper into my components library like this:
[code]
2. However, when I try to build my library using rollup, I'm getting the following error:
[code]

This looks similar to this previous issue: https://github.com/floating-ui/react-popper/issues/345, except that the previous fix doesn't seem to be working. I can include the rollu

[2022-03-25 22:43] distinctdan commented on #437
Ok, I got this figured out. As it turns out, the react duplicate was caused by a separate issue. I'm developing the components library locally and importing it into another project to test. As it turns out, webpack doesn't resolve peer dependencies correctly in that case and will cause duplicate imports. See: https://blog.maximeheckel.com/posts/duplicate-dependencies-npm-link/

I was able to solve

[2022-03-25 22:43] #437 closed

[2022-04-06 18:43] thepuzzlemaster commented on #415
Also, you can clean up the syntax a bit if you like as well.
Instead of:
`<div ref={ref=>setPopperElement(ref)} style={styles.popper} {...attributes.popper}>`

You can do:
`<div ref={setPopperElement} style={styles.popper} {...attributes.popper}>`

[2022-04-06 19:38] therealgilles commented on #349
This same issue has been reported in semantic-ui-react, see [here](https://github.com/Semantic-Org/Semantic-UI-React/issues/4350), which uses react-popper. Adding a link here for reference.

[2022-04-11 05:19] atomiks commented on #349
@therealgilles This also happens in https://floating-ui.com/docs/react-dom which doesn't set `top/left` initially, the user sets `top: y ?? ''`

From debugging, it appears to be due to the positioning state update occurring asynchronously (in a microtask). Popper does this for the first update, while Floating UI's whole API is async to support async platform measurement methods like in React Nativ

[2022-04-11 09:23] atomiks commented on #349
Apparently `flushSync()` has existed for >3 years now (was there when hooks got introduced), genuinely had no idea 😬

[2022-04-11 10:02] atomiks commented on #423
This is `react-popper` v1 which hasn't had a bug fix since 2019... Popper v2 was released in January 2020 and doesn't have this issue: https://codesandbox.io/s/react-popper-dropdown-issue-forked-4qebw2

How were you using v1?

[2022-04-11 10:02] #423 closed

[2022-04-11 10:13] atomiks commented on #423
Actually I think you're facing this bug: https://github.com/floating-ui/floating-ui/issues/1404 which is indeed still an issue in Popper v2.

The first (root) menu opens correctly in Popper v2 (unlike v1) but the submenu requires 2 updates. The bug isn't present in Floating UI though.

[2022-04-20 15:42] atomiks commented on #419
This isn't something that can be fixed. Positioning is not "free", especially for 1000 items! It inevitably has to do a ton of calculations on the main thread. What is the use case for this anyway?

[2022-04-23 06:33] #349 closed

[2022-04-23 06:59] atomiks commented on #431
View here, applies to Popper as well: https://floating-ui.com/docs/react-dom#testing

[2022-04-23 06:59] #431 closed

[2022-04-27 08:19] acgblogs opened #444 "placement error!!! options.placement set 'top' but replace to 'bottom'"
<==== my code ====>
const Example = () => {
    const [referenceElement, setReferenceElement] = React.useState(null);
    const [popperElement, setPopperElement] = React.useState(null);
    const { styles, attributes } = usePopper(referenceElement, popperElement, {
        placement: 'top'
    });

    return (
      <>
        <button type="button" ref={setReferenceElement}>
          Reference

[2022-04-27 08:45] acgblogs commented on #444
package version:
"@popperjs/core": "^2.11.5",
    "react-popper": "^2.2.5"

[2022-04-28 07:12] #444 closed

[2022-04-28 07:13] acgblogs commented on #422
thanks

[2022-05-16 09:55] acgblogs opened #445 "usePopper has something wrong with ReactDom.flushSync"
![image](https://user-images.githubusercontent.com/79389581/168567524-7d2f507b-abd3-436a-baa5-3cba8199b76a.png)

how can i resolve the problem

[2022-05-16 10:14] FezVrasta commented on #445
May you provide more details please?

[2022-05-16 10:22] acgblogs commented on #445
i saw the open code react-popper hooks usePopper peerDependencies support react 16.8.0,

[2022-05-16 10:22] acgblogs commented on #445
"peerDependencies": {
    "@popperjs/core": "^2.0.0",
    "react": "^16.8.0 || ^17 || ^18",
    "react-dom": "^16.8.0 || ^17 || ^18"
  },

[2022-05-16 10:24] acgblogs commented on #445
but it didn't work on browser, my react-dom version is 16.8 same as react

[2022-05-16 10:24] acgblogs commented on #445
error is ReactDOM.flushSync is not a function

[2022-05-16 10:26] acgblogs commented on #445
![image](https://user-images.githubusercontent.com/79389581/168573273-10e50093-8726-4de5-a837-44af58f49212.png)

[2022-05-16 10:59] atomiks commented on #445
what is the value of `console.log(ReactDOM)`?

[2022-05-16 11:27] acgblogs commented on #445
![image](https://user-images.githubusercontent.com/79389581/168581985-831fe752-f84f-4b55-99a4-a2306230cd37.png)

the problem is resolved. use the version 2.2.5 can run successful.it seems that the ReactDOM. flushSync hooks acting on React version 18.x。

is the latest version 2.3.0  only suitable for React 18.x ?

[2022-06-28 14:29] sebpowell opened #446 "Popper not positioning properly when using React.createElement"
In my app, I have a generic list component to which I pass a `component` prop which will determine the appearance and contents of each list item.

Each list item has an options dropdown. To avoid polluting the DOM with many dropdowns, I have created a single dropdown to which I pass the reference for the clicked element, which then determines it's positioning.

I have used this pattern successfull

[2022-06-28 14:39] atomiks commented on #446
I think the DOM node is getting recreated on every render, so `reference` is not pointing to the actual DOM node on the next render.

If you log this out in render, you'll see it becomes `null` because the one stored in state is unmounted:

[code]

[2022-06-28 14:53] sebpowell commented on #446
Amazing @atomiks!!

That solved my problem – spent ages trying to work out, thank you very much. I've updated the example so anyone else facing this issue can see what the solution was:

https://codesandbox.io/s/react-popper-v2-x-issue-template-forked-x6jsij?file=/src/index.js

[2022-06-28 14:53] #446 closed

[2022-08-05 00:52] Slapbox opened #447 "Will this library be updated to use @floating-ui behind the scenes? Or will it remain on @popperjs"
Just wondering about our upgrade paths. If this package will not be updated; is there a migration guide?

Thanks for the excellent work!

[2022-08-05 05:47] FezVrasta commented on #447
No plans, Floating UI provides its own React library

[2022-08-05 06:57] atomiks commented on #447
The React library is very straightforward to migrate to, but for the config you'll want to read https://floating-ui.com/docs/migration

[2022-08-25 08:59] piechoo opened #448 "Adding onFirstUpdate function kills the page"
### Reproduction demo
https://codesandbox.io/s/react-popper-v2-x-issue-template-forked-k37vgt?file=/src/index.js

### Steps to reproduce the problem

1.  Open the codesanbox
2.  Page is unresponsive

### What is the expected behavior?

It should run function on first update and not kill the page :)

### What went wrong?

The page is totally unresponsive

### Any other comments?

### Packages versi

[2022-08-25 13:20] FezVrasta commented on #448
I think you should memoize that function with `useCallback`. Anyways I would suggest to upgrade to Floating UI as this version is not going to receive many updates.

[2022-08-26 09:13] piechoo commented on #448
Unfortunately useCallback doesn't solve this issue.

[2022-08-26 09:24] atomiks commented on #448
`useCallback` does solve it, it's a problem of the function being different on every render.

[code]

[2022-08-30 05:37] piechoo commented on #448
Okay, you're right, useCallback does solve it, but i think there is still an issue, why does passing new function causes infinite rerender of component ?

[2022-09-20 00:50] punkpeye commented on #241
How does one combine `useRef` and `useState`?

[code]

In this example I also need `useRef` referencing the same element.

[2022-09-20 09:25] diondiondion commented on #241
That should work. You can also assign the ref right in the callback:

[code]

[2022-10-03 21:09] brandonsueur commented on #368
sorry to bring up the issue, problem not solved ... Do you have an idea?

<img width="831" alt="Screen Shot 2022-10-03 at 11 08 17 PM" src="https://user-images.githubusercontent.com/13354466/193682845-0f5eff33-fc95-48f1-a83e-443c50bac643.png">

[2022-10-07 12:44] hichemfantar opened #449 "Feature: Close on click outside Boolean property"
A property to specify whether the dropdown should close on click outside or not would be very useful.

[2022-10-14 08:22] viktoryoo commented on #449
Agree. It took me some time to implement a custom hook to inspect a mouse event when is clicked outside of the poper to close it...

[2022-10-14 09:16] atomiks commented on #449
`react-popper` (and `@floating-ui/react-dom)` only handles positioning

Use [Floating UI Interactions](https://floating-ui.com/docs/react-dom-interactions) to handle all types of interactions, including outside clicks

[2022-10-14 09:16] #449 closed

[2022-10-25 07:11] 17dun opened #450 "ts error happened when run the Official demo"
when I run the official example https://popper.js.org/react-popper/v2/
`import React, { useState } from 'react';
import { usePopper } from 'react-popper';

const Example = () => {
  const [referenceElement, setReferenceElement] = useState(null);
  const [popperElement, setPopperElement] = useState(null);
  const [arrowElement, setArrowElement] = useState(null);
  const { styles, attributes } = use

[2022-11-17 20:01] zikphil commented on #450
Bump - same

[2022-11-21 20:56] hr23232323 commented on #450
@17dun @zikphil this is the most helpful answer- https://github.com/floating-ui/react-popper/issues/415#issuecomment-821968179

Basically, add explicit typing to the state variables like so-

[code]